#tour {
	display: inline-block;
	padding: 1.2rem 2.4rem;
	font-family: 'Readex Pro', sans-serif;
	font-weight: bold;
	font-size: 3.2rem;
	color: white;
	background-color: var(--grn);
	border-radius: 3.2rem;
	border: none;
	cursor: pointer;
}

#tour:hover {box-shadow: 0 0 0 4px white, 0 0 0 8px var(--grn)}
#tour:active {background-color: var(--red);	box-shadow: 0 0 0 4px white, 0 0 0 8px var(--red)}

.introjs-overlay {
    position: absolute;
    box-sizing: content-box;
    z-index: 95;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.introjs-showElement {z-index: 97 !important}
tr.introjs-showElement > td {z-index: 97 !important; position: relative}
tr.introjs-showElement > th {z-index: 97 !important; position: relative}
.introjs-relativePosition {position: relative}

.introjs-disableInteraction {
    z-index: 999  !important;
    position: absolute;
    background-color: #fff;
    opacity: 0;
}

.introjs-helperLayer {
    box-sizing: content-box;
    position: absolute;
    z-index: 96;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5), 0 0 0 5000px rgba(33, 33, 33, 0.5) !important
}
.introjs-helperLayer * {
    box-sizing: content-box;
}
.introjs-helperLayer :before {
    box-sizing: content-box;
}
.introjs-helperLayer :after {
    box-sizing: content-box;
}
.introjs-tooltipReferenceLayer {
    font-family: 'Readex Pro', sans-serif;
    box-sizing: content-box;
    position: absolute;
    visibility: hidden;
    z-index: 98;
    background-color: transparent;
    transition: all 0.3s ease-out;
}
.introjs-tooltipReferenceLayer * {
    font-family: 'Readex Pro', sans-serif;
}
.introjs-helperNumberLayer {
    font-family: 'Readex Pro', sans-serif;
    color: #9e9e9e;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ARROWS */

.introjs-arrow {
    border: 5px solid transparent;
    content: "";
    position: absolute;
}
.introjs-arrow.top {
    top: -10px;
    left: 10px;
    border-bottom-color: #fff;
}
.introjs-arrow.top-right {
    top: -10px;
    right: 10px;
    border-bottom-color: #fff;
}
.introjs-arrow.top-middle {
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #fff;
}
.introjs-arrow.right {
    right: -10px;
    top: 10px;
    border-left-color: #fff;
}
.introjs-arrow.right-bottom {
    bottom: 10px;
    right: -10px;
    border-left-color: #fff;
}
.introjs-arrow.bottom {
    bottom: -10px;
    left: 10px;
    border-top-color: #fff;
}
.introjs-arrow.bottom-right {
    bottom: -10px;
    right: 10px;
    border-top-color: #fff;
}
.introjs-arrow.bottom-middle {
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-top-color: #fff;
}
.introjs-arrow.left {
    left: -10px;
    top: 10px;
    border-right-color: #fff;
}
.introjs-arrow.left-bottom {
    left: -10px;
    bottom: 10px;
    border-right-color: #fff;
}

.introjs-tooltip {
    box-sizing: content-box;
    position: absolute;
    visibility: visible;
    background-color: #fff;
    min-width: 28rem;
    max-width: 48rem;
    border-radius: 0.8rem;
    border: 4px solid var(--grn);
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 0.1s;
}

/* HEADER */

.introjs-tooltip-header {
    position: relative;
    padding: 2.4rem 2.4rem 0 2.4rem;
    min-height: 1.5em;
}
.introjs-tooltip-title {
    font-size: 2.0rem;
    width: 90%;
    min-height: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.5;
}
.introjs-skipbutton {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2rem;
    color: rgba(0,166,81,0.6);
    font-size: 2.4rem;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0.8rem;
}
.introjs-skipbutton:focus,
.introjs-skipbutton:hover {
    color: rgba(0,166,81,0.8);
    outline: 0;
    text-decoration: none;
}

.introjs-tooltiptext {
    padding: 1.2rem 2.4rem 0.4rem;
    hyphens: none;
}

.introjs-tooltipbuttons {
    border-top: 2px solid rgba(0,166,81,0.6);
    padding: 1.2rem;
    text-align: right;
    white-space: nowrap;
}
.introjs-tooltipbuttons:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* BUTTONS */

.introjs-button {
    box-sizing: content-box;
    position: relative;
    overflow: visible;
    padding: 0.4rem 1.2rem;
    text-decoration: none;
    font-size: 1.4rem;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    color: black;
    border-radius: 0.4rem;
    border: 2px solid var(--grn);
    background-color: var(--dimgrn);
    transform: scale(1);
    display: inline;
}
.introjs-button:hover {
    outline: 0;
    text-decoration: none;
    background-color: rgba(0,166,81,0.2);
    color: #212121;
}
.introjs-button:focus {
    outline: 0;
    text-decoration: none;
    background-color: rgba(0,166,81,0.2);
    box-shadow: 0 0 4px 0 rgba(0,166,81,0.8);
}
.introjs-button:active {
    outline: 0;
    text-decoration: none;
    background-color: rgba(0,166,81,0.3);
}
.introjs-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.introjs-prevbutton {
    float: left;
}
.introjs-nextbutton {
    float: right;
}

.introjs-disabled {display: none}
.introjs-hidden {display: none}

/* BULLETS */

.introjs-bullets {
    text-align: center;
    margin: 1.2rem 0;
}
.introjs-bullets ul {
    box-sizing: content-box;
    clear: both;
    margin: 0 auto 0;
    padding: 0;
    display: inline-block;
}
.introjs-bullets ul li {
    box-sizing: content-box;
    list-style: none;
    float: left;
    margin: 0 2px;
}
.introjs-bullets ul li a {
    transition: width 0.1s ease-in;
    box-sizing: content-box;
    display: block;
    width: 6px;
    height: 6px;
    background: rgba(0,166,81,0.4);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}
.introjs-bullets ul li a:focus,
.introjs-bullets ul li a:hover {
    width: 15px;
    background: rgba(0,166,81,0.8);
    text-decoration: none;
    outline: 0;
}
.introjs-bullets ul li a.active {
    width: 15px;
    background: rgba(0,166,81,0.8);
}

.introjs-progress {
    box-sizing: content-box;
    overflow: hidden;
    height: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: #e0e0e0;
}
.introjs-progressbar {
    box-sizing: content-box;
    float: left;
    width: 0%;
    height: 100%;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    background-color: #08c;
}
.introjsFloatingElement {
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    top: 50%;
}
.introjs-fixedTooltip {
    position: fixed;
}
.introjs-hint {
    box-sizing: content-box;
    position: absolute;
    background: 0 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.introjs-hint:focus {
    border: 0;
    outline: 0;
}
.introjs-hint:hover > .introjs-hint-pulse {
    background-color: rgba(60, 60, 60, 0.57);
}
.introjs-hidehint {
    display: none;
}
.introjs-fixedhint {
    position: fixed;
}
@keyframes introjspulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px transparent;
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 transparent;
    }
}
.introjs-hint-pulse {
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: rgba(136, 136, 136, 0.24);
    z-index: 10;
    position: absolute;
    transition: all 0.2s ease-out;
    animation: introjspulse 2s infinite;
}
.introjs-hint-no-anim .introjs-hint-pulse {
    animation: none;
}
.introjs-hint-dot {
    box-sizing: content-box;
    background: 0 0;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -18px;
    left: -18px;
    z-index: 1;
    opacity: 0;
}
