#academy-map {
    display: grid;
    gap: 1.6rem;
    align-content: start;
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    width: 90%;
    height: 100%;
    background: var(--color-accent-light);
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.4rem 0.6rem 0 rgba(black, 0.25), 0.4rem 0.6rem 0 rgba(black, 0.25);
    padding: 0 6.4rem;
    z-index: 5;
    transition: transform 0.1s, top 0.3s ease-in-out;

    .featured-title {
        justify-self: center;
    }

    &:hover {
        transform: translate(-50%, -4.8rem) rotate(-1deg);
    }

    &.show {
        top: 10%;
        transform: translate(-50%, 2.4rem) rotate(0);

        &:hover {
            transform: translate(-50%, 0) rotate(-1deg);
        }
    }
}

.unit-meta {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    & > * {
        color: var(--color-dark-primary);
        font-family: $monoFont;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
}

.unit-progress-wrapper {
    width: min(100%, 96rem);
    display: grid;
    gap: 1.6rem;
    margin-block: 3.2rem;

    & > a {
        color: var(--color-dark-primary);
        font-family: $monoFont;
        font-size: 1.6rem;
        font-weight: 700;
    }

    .unit-progress-bar-wrapper {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: min-content auto min-content;
        gap: 0.8rem;

        & > a.material-symbols-rounded {
            padding-block-end: 0.2rem;
            background: var(--color-medium-secondary);

            &.active {
                background: var(--color-dark-primary);
            }
        }

        .material-symbols-rounded {
            width: 3.6rem;
            height: 3.6rem;
            font-size: 2.0rem;
            color: white;
            background: var(--color-dark-primary);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .checkmark {
            background: var(--color-medium-primary);
            font-variation-settings: 'wght' 700;

            &:not(.completed) {
                opacity: 0.25;
            }
        }
    }

    .unit-progress-bar {
        display: grid;
        height: 3.6rem;
        grid-template-columns: repeat(9, 1fr);
        border-radius: 6.4rem;
        background: white;
        border: 0.2rem solid var(--color-dark-primary);
        overflow: hidden;

        & > * {
            color: var(--color-medium-secondary);
            font-family: $headFont;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-block-start: 0.2rem;

            &:not(:last-child) {
                border-inline-end: 0.1rem solid var(--color-dark-primary);
            }

            &.unlocked {
                &:not(.active):hover {
                    color: white;
                    background: var(--color-medium-secondary);
                }
            }

            &.unlocked:not(.completed) {
                background: var(--color-pastel-dark);
            }

            &.locked {
                opacity: 0.5;
                pointer-events: none;
            }

            &.completed {
                color: white;
                background: var(--color-medium-primary);
            }

            &.unlocked.active {
                color: white;
                background: var(--color-dark-primary);
            }

            &.hidden {
                opacity: 0.33;
            }
        }
    }
}

#lesson-nav {
    width: min(100%, 96rem);
    display: grid;
    gap: 3.2rem;
    align-content: start;
    justify-self: center;

    .lesson-head {
        display: grid;
        gap: 1.6rem;
        color: var(--color-dark-primary);

        .lesson-head-index {
            font-family: $displayFont;
            font-weight: 400;
            font-size: 3.6rem;
            text-transform: uppercase;
        }

        .lesson-head-title {
            font-family: $headFont;
            font-size: 4.8rem;
            font-weight: 700;
            text-transform: none;
            hyphens: none;
        }
    }
}

.lesson-planner.featured-title {
    color: var(--color-accent-medium);
    background: var(--color-medium-primary);
    text-align: center;
}

.lesson-stages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.6rem;
    justify-items: center;
    margin-block: 3.2rem 6.4rem;

    .lesson-stage-wrapper {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-areas: 'overlap';
        cursor: pointer;
        font-size: 0.8rem;

        @media (min-width: 720px) {
            font-size: 1.6rem;
        }

        & > * {
            grid-area: overlap;
        }

        .featured-title {
            color: white;
            background: var(--color-medium-secondary);
            padding: 0.1em 0.3em 0.2em;
            z-index: 1;
        }

        .lesson-stage-index {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-dark-primary);
            font-family: $displayFont;
            font-size: 16em;
            height: 0.75em;
            width: 0.75em;
            border-radius: 50%;
            background: var(--color-accent-light);
            overflow: hidden;
            z-index: 0;
            transition: rotate 0.1s;

            .material-symbols-rounded {
                font-size: 0.2em;
            }
        }

        &:not(.disabled) {
            .lesson-stage-index {
                padding-block-end: 0.125em;
            }

            &:hover {
                .lesson-stage-index {
                    rotate: 9deg;
                }
            }
        }

        &.active {
            .featured-title {
                color: var(--color-medium-secondary);
                background: var(--color-accent-light);
            }

            .lesson-stage-index {
                background: var(--color-medium-secondary);
                rotate: 9deg;
            }
        }

        &.disabled {
            .lesson-stage-index {
                color: var(--color-accent-light);
                background: var(--color-dark-primary);
            }

            pointer-events: none;
            cursor: not-allowed;
        }
    }

}

.lesson-model-progress-wrapper {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    width: min(100%, 96rem);

    .deck-item-container {
        flex-grow: 1;
    }

    & > div:nth-child(2) {
        display: grid;
        gap: 1.2rem;
        justify-items: center;

        a {
            //width: 100%;
            text-align: center;
            font-family: $displayFont;
            font-size: 2.4rem;
            text-transform: uppercase;
            color: white;
            background: var(--color-medium-secondary);
            box-shadow: 0 0.4rem 0 var(--color-dark-primary);
            transform: translateY(-0.4rem);
            padding: 0.2rem 1.6rem 0.4rem;
            border-radius: 0.8rem;

            &:active {
                box-shadow: none;
                transform: translateY(0);
            }
        }
    }

    .lesson-model-score-count {
        display: flex;
        gap: 1.2rem;

        .material-symbols-rounded {
            width: 3.6rem;
            height: 3.6rem;
            font-size: 2.0rem;
            color: white;
            background: var(--color-dark-primary);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            background: var(--color-medium-primary);
            font-variation-settings: 'wght' 700;

            &:not(.completed) {
                opacity: 0.25;
            }
        }
    }
}

.unit-nav-lessons {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: $grn;
}

.lesson-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.6rem;
    width: 9.6rem;
    padding-block-start: 1.6rem;
    padding-inline-start: 1.6rem;
    border-radius: 50%;
    color: var(--color-dark-primary);
    border: 0.1rem solid var(--color-dark-primary);
    background: var(--color-accent-light);
    font-family: $displayFont;
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;

    &.active {
        color: var(--color-accent-medium);
        border: 0.1rem solid var(--color-accent-medium);
        background: var(--color-accent-medium);
    }

    &:not(.active):hover {
        background: var(--color-dark-primary);
    }
}

figure.unit-image {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0;

    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        border: 0.4rem solid var(--color-dark-primary);
        border-radius: 2.4rem;
        padding: 0.2rem;
        background: var(--color-pastel-light);
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
    }

    figcaption {
        @include caption;
        position: absolute;
        top: 3.2rem;
        right: -1.2rem;
        transition: 0.2s;
    }

    &:hover {
        figcaption {
            transform: rotate(-2deg);
        }
    }
}

.lesson-item-progress {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding: 1.6rem;
    cursor: default;
    user-select: none;

    .material-symbols-rounded {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.4rem;
        height: 6.4rem;
        font-size: 3.2rem;
        color: white;
        background: var(--color-medium-primary);
        border-radius: 50%;
        opacity: 0.25;
        font-variation-settings: 'wght' 700;

        &.completed {
            opacity: 1;
        }
    }
}

.lesson-item {
    &.locked {
        opacity: 0.25;
        cursor: not-allowed;
        pointer-events: none;
    }

    .lesson-model-progress-wrapper {
        padding: 3.2rem;
    }
}

.lesson-item-skills {
    display: grid;
    padding-block: 1.6rem;

    .lesson-item-skill-wrapper {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: end;
        gap: 0.8rem;
        padding-block: 3.2rem;
        margin-inline: 3.2rem;

        &:not(:last-child) {
            border-block-end: 0.2rem dotted var(--color-accent-medium);
        }

        .lesson-skill-type {
            color: var(--color-accent-medium);
            font-family: $displayFont;
            font-size: 2.4rem;
            text-transform: uppercase;
        }

        .lesson-skill-title {
            text-align: end;
            color: var(--color-dark-primary);
            font-family: $headFont;
            font-size: 2.0rem;
            font-weight: 700;
        }

        .lesson-skill-description {
            grid-column: span 2;
            font-size: 1.6rem;
            font-family: $bodyFont;
        }
    }
}

@media (min-width: 960px) {
    .lesson-item .deck-flashcard-wrapper {
        display: grid;
    }
}

.lesson-concept-container {
    width: min(100%, 96rem);
    font-size: 1.8rem;
    text-align: justify;
    //transition: 0.3s;
    border-radius: 2.4rem;
    background: white;
    padding: clamp(2.4rem, 4vw, 3.6rem);
    margin: 0;
    position: relative;
    overflow: hidden;

    h1, h2 {
        //font-size: 2.8rem;
        line-height: 1em;
        margin: 3.2rem 0 1.6rem;
        font-family: $headFont;
        text-transform: none;
    }

    p {
        margin-block-start: 1.6rem;
        margin-block-end: 1.6rem;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    & > .popout {
        width: 6.4rem;
    }
}

.lesson-concept-container {
    padding: 0;

    .lesson-concept-head {
        padding: 2.4rem 3.2rem;

        .featured-title {
            color: white;
        }
    }

    .lesson-concept-body {
        display: grid;
        padding: 3.2rem;

        h1 {
            font-size: 6.4rem;
            margin: 0 0 1.6rem;
        }
    }

    &.skill {
        //box-shadow: -0.6rem 0.6rem 0 var(--color-pastel-dark);

        .lesson-concept-head {
            background: var(--color-medium-primary);
        }

        .lesson-concept-body {
            h1 {
                color: var(--color-medium-primary);
            }
        }
    }

    &.idea {
        border: 0.1rem solid var(--color-dark-primary);
        box-shadow: -0.4rem 0.4rem 0 rgb(black, 0.25);

        .lesson-concept-head {
            background: var(--color-accent-medium);
        }

        .lesson-concept-body {
            h1 {
                color: var(--color-dark-primary);
            }
        }
    }
}

.form-body .unit-lessons-draggable {
    display: grid;
    gap: 0.8rem;

    li {
        & > div {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            background: var(--color-medium-primary);
            padding: 0.8rem 1.2rem;
            color: white;

            div {
                font-family: $monoFont;
                font-weight: 700;
            }

            input {
                width: 100%;
            }
        }

        & > span {
            color: var(--color-medium-primary);
        }

        &.hidden {
            opacity: 0.5;
        }
    }
}

.activity-title {
    margin: 3.2rem 0.8rem 0.6rem;
    border-radius: 1.6rem 1.6rem 0.4rem 0.4rem;
    background: rgba($grn, 0.8);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: $monoFont, $ar_bodyFont;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.8rem 2.0rem;
    max-width: 100%;

    @media (min-width: 960px) {
        max-width: 25%;
    }
}

.activity-area {
    display: grid;
    gap: 2.4rem;
    margin-block: 3.2rem;

    .question-group {
        display: grid;
        gap: 0.8rem;
    }
}

.activity-info-container {
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    border-radius: 1.2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.4rem 0.4rem 0 var(--color-accent-light);
    padding: 0.8rem;
    background: white;

    // TODO: How to resolve the spacing issue?
    font-family: 'JetBrains Mono', 'Vazirmatn', monospace;
    text-align: center;

    & > * {
        min-width: 12rem;
        background: var(--color-accent-light);
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;

    }
}

.activity-select {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.6rem;
    white-space: nowrap;
    background: white;
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.4rem 0.4rem 0 var(--color-accent-light);
    padding: 1.2rem 1.6rem;
    margin-block: 1.2rem 0.4rem;

    p {
        font-family: $ar_bodyFont;
        font-size: 2.0rem;
        margin: 0;
    }

    .activity-select-choices {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 0.8rem;
        margin-block-start: -2.4rem;

        button {
            font-family: $bodyFont;
            font-weight: 700;
            font-size: 1.8rem;
            @include button-primary-dark;

            &:hover {
                box-shadow: none;
                transform: translate(-0.2rem, 0.2rem);
            }

            &.selected {
                box-shadow: none;
                transform: translate(-0.2rem, 0.2rem);
                background: var(--color-medium-secondary);
                color: white;
            }
        }
    }
}

.activity-fill {
    display: flex;
    flex-flow: row-reverse wrap;

    background-color: white;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.4rem 0.4rem 0 var(--color-accent-light);
    border-radius: 1.6rem;
    padding: 0.8rem 1.6rem;
    margin-block: 0.4rem 0.8rem;

    justify-content: space-between;
    align-content: center;
    align-items: center;

    gap: 0.4rem 1.6rem;
    text-align: center;
    white-space: nowrap;

    & > div {
        flex-grow: 1;
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 1.6rem;
    }

    p {
        flex-basis: 30%;
        font-family: $ar_bodyFont;
    }

    p, input {
        direction: rtl;
        text-align: start;
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 3.2rem;
        margin: 0;
    }

    input {
        font-family: $ar_bodyFont;
        accent-color: var(--color-dark-primary);
        border-radius: 1.2rem;
        border: 0.1rem solid var(--color-medium-secondary);
        box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);
        color: var(--color-dark-primary);
        background: white;
        padding: 0.4rem 1.2rem;
        margin-block: 0.2rem;
        flex-grow: 1;

        &:focus {
            outline: 0.1rem solid var(--color-accent-medium);
            border: 0.1rem solid var(--color-accent-medium);
        }
    }

    button {
        border-radius: 0.8rem;
        font-size: 1.6rem;
        padding: 0.4rem;
        color: var(--color-dark-primary);
        background: white;
        border: 0.1rem solid var(--color-medium-secondary);
        box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);
        margin-block-end: 0.2rem;
    }

    button:hover {
        box-shadow: none;
        transform: translate(-0.2rem, 0.2rem);
    }

    &.correct {
        input {
            color: black !important;
            box-shadow: none;
            transform: translate(-0.1rem, 0.1rem);
            border: none;
        }

        button {
            color: white;
            background: var(--color-medium-secondary);
            box-shadow: none;
            transform: translate(-0.2rem, 0.2rem);
        }
    }

    img {
        border-radius: 0.8rem 0.8rem 0 0.8rem;
        max-width: 50%;
    }
}

div.activity-image {
    width: 100%;
    display: grid;
    direction: rtl;
    grid-column-gap: 2.0rem;
    grid-row-gap: 2.0rem;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr)
    }

    img {
        border-radius: 0.8rem;
    }
}

div.activity-image .image-card {
    display: grid;
    grid-template-areas: "overlap";

    > * {
        grid-area: overlap
    }

    > img {
        z-index: 1;
    }

    &:active > img {
        visibility: hidden
    }

    > div {
        display: flex;
        align-self: center;
        justify-content: center;
        font-weight: 700;
    }
}

.quizzer-title.featured-title.l {
    color: white;
    font-size: clamp(7.2rem, 12vw, 9.6rem);
    line-height: 1.2em;
    filter: drop-shadow(-0.0625em 0.0625em 0 var(--color-medium-secondary));
}

.quiz-settings-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.6rem;
    margin: 1.6rem 0;
    padding: 1.6rem;
    border-radius: 1.6rem;
}

.quiz-settings-type {
    display: grid;
    margin: 2.4rem;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background: var(--color-pastel-light);

    &.disabled {
        pointer-events: none;
        filter: opacity(0.33);
    }

    &.selected {
        background: var(--color-accent-light);

        &:hover {
            outline: 0.2rem solid var(--color-accent-medium);
        }
    }

    &:not(.selected) {
        &:hover {
            outline: 0.2rem solid var(--color-medium-primary);
        }

        .quiz-settings-wrapper {
            filter: grayscale(1);
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    & > div:first-child {
        padding-block-start: 0.8rem;
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.4rem;
        color: var(--color-medium-primary)
    }

    & > p {
        color: var(--color-dark-primary);
        font-size: 1.6rem;
    }

    .quiz-settings-wrapper {
        background: white;
        justify-self: center;
    }
}

.quiz-container {
    width: min(100%, 96rem);
    display: grid;
    padding: 12.8rem 1.6rem 6.4rem;
    gap: 9.6rem;

    & > button {
        color: var(--color-dark-primary);
        font-weight: 700;
        font-family: $bodyFont;
        font-size: 1.6rem;
        justify-self: start;

        &:hover {
            text-decoration: underline;
        }
    }
}

.quiz-question {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3.2rem;

    .term-flashcard {
        margin: 0;
    }

    .quiz-question-options {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1.6rem;

        * {
            font-family: $bodyFont;
            text-transform: none;
            border-radius: 0.75em;
            padding: 0.25em 1em 0.33em;

            &.selected {
                color: var(--color-medium-primary);
            }
        }
    }

    .sentence-item {
        border: none;
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);

        .sentence-term.missing {
            color: var(--color-medium-primary);
        }
    }
}

.score-metadata {
    background: var(--color-accent-light);
    padding: 1.6rem;
    color: var(--color-dark-primary);
    display: grid;
    gap: 0.8rem;

    .score-metadata-row {
        display: flex;
        gap: 1.6rem;

        & > div {
            display: flex;
            gap: 0.8rem;
        }

        & > div > *:first-child {
            font-weight: 700;
        }
    }
}

.quiz-results {
    margin: 3.2rem 3.2rem 6.4rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem 3.2rem;
    align-items: center;

    .score-figure {
        font-size: 12.8rem;
        animation: bounceIn 0.5s;
        position: relative;

        .quiz-results-callout {
            position: absolute;
            bottom: -0.6rem;
            left: 0.8rem;
            font-size: 2.4rem;
            color: var(--color-accent-medium);
        }
    }

    .score-feedback {
        flex-grow: 1;
        display: grid;
        gap: 0.4rem;
        color: var(--color-dark-primary);

        & > *:nth-child(1) {
            font-family: $headFont;
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-medium-primary);
        }
    }
}

.quiz-answer-array {
    display: grid;
    gap: 2.4rem;
    margin: 2.4rem 2.4rem 3.2rem;

    @media (min-width: 960px) {
        margin: 3.2rem 3.2rem 4.8rem;
    }
}

.quiz-answer-wrapper {
    display: grid;
    gap: 0.8rem;

    .quiz-answer-options {
        display: flex;
        flex-flow: row wrap;
        gap: 0.2rem 1.6rem;
        margin-inline: 1.2rem;

        a, button {
            text-align: start;
            font-weight: 700;
            font-size: 1.4rem;
            font-family: $bodyFont;
            color: var(--color-accent-dark);

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            color: var(--color-medium-primary);
        }
    }
}

.quiz-answer {
    display: grid;
    gap: 0.4rem;
    padding: 1.6rem 2.0rem;
    border-radius: 0.8rem;
    background: var(--color-pastel-light);

    &.incorrect {
        background: var(--color-accent-light);

        .quiz-answer-user {
            color: var(--color-accent-dark);
        }
    }

    .quiz-answer-correct {
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        font-weight: 700;
        color: var(--color-dark-primary);

        & > *:first-child {
            flex: 1 0 auto;
            font-family: $monoFont;
            font-size: 2.4rem;
            direction: rtl;
        }

        & > *:last-child {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            font-family: $bodyFont;
            font-size: 1.8rem;
        }
    }

    .quiz-answer-correct.sentence {
        & > *:first-child {
            font-size: 1.6rem;
        }

        & > *:last-child {
            font-size: 1.4rem;
            justify-self: end;
            font-family: $monoFont;
        }
    }

    .quiz-answer-user {
        display: grid;
        gap: 0.4rem;
        font-size: 1.4rem;
        padding-block-start: 0.8rem;
        color: var(--color-dark-primary);
        border-block-start: 0.1rem dotted currentColor;
    }
}

.score-stats-graph-wrapper {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: min-content auto;

    & > *:nth-child(1) {
        display: flex;
        flex-flow: column;
        font-weight: 700;
        font-size: 1.2rem;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--color-medium-primary);
        padding-block: 0.8rem;
    }
}

.score-stats-graph {
    height: 24rem;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    background: white;
    position: relative;
    border-radius: 1.6rem;

    .line-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* so tooltips still work */

        polyline {
            fill: none;
            stroke: var(--color-pastel-dark);
            stroke-width: 0.4rem;
            vector-effect: non-scaling-stroke;
        }

        .trendline {
            stroke: var(--color-accent-light);
            stroke-dasharray: 0.4rem, 0.4rem;
        }
    }

    .score-stats-graph-item {
        background: rgba(black, 0.1);
        //border-radius: 0.8rem;
        height: 0;
        transition: height 0.3s ease;
        position: relative;

        //&:hover {
        //    background: var(--color-pastel-dark);
        //}

        .interact-button {
            position: absolute;
            top: -1.2rem;
            left: -1.2rem;
            width: 2.4rem;
            height: 2.4rem;
            color: var(--color-dark-primary);
            background: currentColor;
            box-shadow: inset 0 0 0 0.3rem currentColor, inset 0 0 0 0.6rem white;
            border-radius: 50%;

            &:hover {
                color: var(--color-accent-medium);
            }
        }
    }

}

.score-stats-graph-data {
    position: fixed;
    color: var(--color-dark-primary);
    background-color: white;
    border: 0.2rem solid var(--color-dark-primary);
    box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
    padding: 0.8rem 1.0rem;
    border-radius: 0.8rem;
    pointer-events: none;
    z-index: 9999;

    & > *:nth-child(1) {
        font-family: $headFont;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-medium-primary);
    }

    & > *:nth-child(2) {
        font-family: $bodyFont;
        font-size: 1.6rem;
        font-weight: 700;
        padding-block-end: 0.4rem;
    }

    & > *:nth-child(3) {
        font-family: $bodyFont;
        font-size: 1.2rem;
    }
}

.score-stats-wrapper {
    display: grid;
    gap: 0.8rem;
    margin: 3.2rem;

    a {
        justify-self: end;
        font-weight: 700;
        font-family: $bodyFont;
        color: var(--color-dark-primary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.score-stats-container {
    display: grid;
    grid-template-areas: 'overlap';
    overflow: hidden;

    .score-stats-container__content,
    .score-stats-container__overlay {
        grid-area: overlap;
    }

    .score-stats-container__content {
        display: grid;
        gap: 3.2rem;
        background: var(--color-pastel-light);
        border-radius: 1.6rem;
        padding: 3.2rem;
    }

    .score-stats-container__overlay {
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: var(--color-medium-primary);
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.4rem;
        user-select: none;
    }

    &.disabled {
        .score-stats-container__content {
            filter: opacity(0.33);
            pointer-events: none;
        }

        .score-stats-container__overlay {
            display: flex;
        }
    }
}

.score-stats-highlight-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1.6rem 1.6rem 0;
    gap: 3.2rem;

    .score-highlight {
        display: grid;
        justify-items: center;
        text-align: center;

        .score-highlight-title {
            font-family: $headFont;
            font-size: 2.0rem;
            font-weight: 700;
            color: var(--color-medium-primary);
        }

        .featured-title {
            font-size: 6.4rem;
        }

        .material-symbols-rounded {
            font-size: 3.2rem;
            color: var(--color-medium-primary);

            &.down {
                color: var(--color-accent-medium);
            }
        }
    }
}

.score-stats-detail-wrapper {
    border-block-start: 0.4rem dotted var(--color-pastel-dark);
    padding: 2.4rem 0.4rem 0;
    display: grid;
    gap: 1.2rem;

    .score-stats-detail {
        display: flex;
        justify-content: space-between;
        color: var(--color-dark-primary);

        & > *:first-child {
            font-weight: 700;
        }
    }
}

.score-item-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1.6rem;

    .material-symbols-rounded {
        font-size: 2.0rem;
        color: var(--color-dark-primary);
    }
}

.score-item {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: var(--color-pastel-light);
    color: var(--color-dark-primary);
    border-radius: 0.8rem;
    padding: 1.2rem 2.4rem;
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 1.6rem;

    &:hover {
        background: var(--color-pastel-medium);
    }

    & > *:last-child {
        justify-self: end;
    }
}

#score-detail {
    scroll-margin-block-start: 3.6rem;
}
