#academy-map {
    display: grid;
    gap: 1.6rem;
    align-content: start;
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    width: 90%;
    height: 100%;
    background: var(--color-accent-light);
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.4rem 0.6rem 0 rgba(black, 0.25), 0.4rem 0.6rem 0 rgba(black, 0.25);
    padding: 0 6.4rem;
    z-index: 5;
    transition: transform 0.1s, top 0.3s ease-in-out;

    .featured-title {
        justify-self: center;
    }

    &:hover {
        transform: translate(-50%, -4.8rem) rotate(-1deg);
    }

    &.show {
        top: 10%;
        transform: translate(-50%, 2.4rem) rotate(0);

        &:hover {
            transform: translate(-50%, 0) rotate(-1deg);
        }
    }
}

.unit-meta {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding: 1.6rem;
    background: var(--color-accent-light);
    color: var(--color-dark-primary);
    font-family: $monoFont;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;

    a:hover {
        text-decoration: 0.2rem underline;
    }

    & > div {
        display: flex;
        gap: 1.6rem;
    }
}

#lesson-nav {
    display: grid;
    gap: 3.2rem;
    align-content: start;
    justify-items: center;

    & > * {
        width: min(100%, 96rem);
    }

    @media (min-width: 960px) {
        padding-inline: 3.2rem;
    }
}

.lesson-planner.featured-title {
    color: var(--color-accent-medium);
    background: var(--color-medium-primary);
    text-align: center;
}

.lesson-planner--skill {
    display: grid;
    gap: 3.2rem;
    border-block-start: 0.8rem solid var(--color-accent-medium);
    padding-block: 3.2rem;
}

.block-add-buttons {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    font-weight: 700;

    & > span {
        font-family: $monoFont;
    }

    & > div {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-family: $headFont;
    }
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--color-medium-primary);
    font-size: 1.6rem;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    font-family: $monoFont;
    cursor: pointer;
    user-select: none;

    &:active {
        background: var(--color-accent-medium)
    }
}

.block-editor-container-wrapper {
    display: grid;
    gap: 3.2rem;
}

.block-editor-container {
    display: grid;
    gap: 0.8rem;
    padding: 1.6rem;
    background: var(--color-pastel-medium);

    &.nested {
        background: var(--color-pastel-dark);
    }

    .block-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;

        * {
            color: var(--color-medium-primary);
        }

        button[disabled] {
            opacity: 0.33;
        }
    }
}

.block-editor--container {
    display: grid;
    gap: 1.6rem;

    .block-editor-container-wrapper {
        gap: 1.6rem;
    }
}

.block-editor--text {
    textarea {
        padding: 1.2rem 1.6rem;
        font-family: $bodyFont;
        font-size: 1.6rem;
    }
}

.block-editor--audio {
    audio {
        width: 100%;
        border-radius: 0.8rem;
    }
}

.form-body .unit-lessons-draggable {
    display: grid;
    gap: 0.8rem;

    li.draggable-item {
        & > div {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            background: var(--color-medium-primary);
            padding: 0.8rem 1.2rem;
            color: white;

            div {
                font-family: $monoFont;
                font-weight: 700;
            }

            input {
                width: 100%;
            }
        }

        & > span {
            color: var(--color-medium-primary);
        }

        &.hidden {
            opacity: 0.5;
        }
    }
}

.skill-container {
    p {
        margin: 0
    }

    .block--text {
        padding-inline: 3.2rem;
        margin-block: 3.2rem;

        p:not(:last-child) {
            margin-block-end: 2.4rem;
        }
    }

    .sentence-item-container {
        margin-inline: 3.2rem;
        margin-block: 1.6rem 3.2rem;
        justify-self: center;
    }
}

.activity-blocks-wrapper {
    width: min(100%, 96rem);
    display: grid;
    gap: 6.4rem;
    justify-items: center;
    font-size: 1.8rem;

    .block--text {
        background: var(--color-polar-light);
    }

    .block--text,
    .block--exercises > p {
        font-size: 1em;
        padding: 1em 2em;
        border-radius: 1em;
        margin: 0;
    }

    h2 {
        font-family: var(--display-font), serif;
        font-weight: 400;
        font-size: 5.6rem;
        color: var(--color-dark-primary);
        margin: 0 0 0.8rem;

        @media (min-width: 960px) {
            font-size: 6.4rem;
        }
    }

    p {
        color: var(--color-dark-secondary);
    }
}

.block--exercises {
    width: min(100%, 96rem);
    display: grid;
    font-size: 1.6rem;
    margin-block-end: 3.2rem;

    & > p {
        justify-self: start;
        background: var(--color-accent-light);
        font-family: $headFont;
        font-weight: 700;
    }

    img {
        border-radius: 1.6rem;
    }
}

.exercise-prompt_build {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0.8rem;
    font-family: $monoFont;
    font-size: 1.4rem;
    font-weight: 700;
    direction: rtl;

    & > div {
        display: grid;
        gap: 0.8rem;
    }

    img {
        border-radius: 0.8rem;
    }

    button {
        color: var(--color-medium-primary)
    }
}

.exercise-prompt_render {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    .material-symbols-rounded {
        font-size: 3.2rem;
        color: var(--color-medium-primary);
        user-select: none;

        &.correct {
            color: var(--color-medium-secondary);
        }
    }

    p {
        font-family: $ar_bodyFont;
        font-size: 2.0rem;
        margin: 0;
        background: white;
        border-radius: 1.6rem;
        box-shadow: 0 0.8rem 0 var(--color-accent-light);
        padding: 1.2rem 1.6rem;
        margin-block-end: 0.8rem;
    }
}

.exercise--input,
.exercise--select {
    margin-block-start: 6.4rem;
    display: grid;
    direction: rtl;
    justify-items: start;
    gap: 1.6rem;
    white-space: nowrap;
}

.exercise--select-options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    button {
        min-width: 8rem;
        color: var(--color-dark-secondary);
        background: var(--color-accent-light);
        font-size: 1.6rem;
        font-weight: 700;
        font-family: $monoFont;
        line-height: 1.5;
        border-radius: 0.75em;
        padding: 0.25em 1em 0.33em;

        &.correct, &.selected {
            color: white;
            background: var(--color-medium-secondary);
        }

        &[disabled] {
            opacity: 1;
            pointer-events: none;
        }

        &.incorrect {
            outline: 0.4rem solid var(--color-medium-primary);
        }
    }
}

.exercise--input {
    input {
        direction: rtl;
        font-size: 2.0rem;
        font-weight: 700;
        width: 100%;
        background: var(--color-accent-light);

        &[disabled] {
            opacity: 1;
        }
    }

    &.correct {
        input {
            color: white;
            background: var(--color-medium-secondary);
        }
    }
}

div.activity-image {
    width: 100%;
    display: grid;
    direction: rtl;
    grid-column-gap: 2.0rem;
    grid-row-gap: 2.0rem;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr)
    }

    img {
        border-radius: 0.8rem;
    }
}

div.activity-image .image-card {
    display: grid;
    grid-template-areas: "overlap";

    > * {
        grid-area: overlap
    }

    > img {
        z-index: 1;
    }

    &:active > img {
        visibility: hidden
    }

    > div {
        display: flex;
        align-self: center;
        justify-content: center;
        font-weight: 700;
    }
}

.quizzer-title.featured-title.l {
    color: white;
    font-size: clamp(7.2rem, 12vw, 9.6rem);
    line-height: 1.2em;
    filter: drop-shadow(-0.0625em 0.0625em 0 var(--color-medium-secondary));
}

.settings-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2.4rem;
    padding: 3.2rem;
}

.quiz-settings-type {
    display: grid;
    margin: 2.4rem;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background: var(--color-pastel-light);

    &.disabled {
        pointer-events: none;
        filter: opacity(0.33);
    }

    &.selected {
        background: var(--color-accent-light);

        &:hover {
            outline: 0.2rem solid var(--color-accent-medium);
        }
    }

    &:not(.selected) {
        &:hover {
            outline: 0.2rem solid var(--color-medium-primary);
        }

        .settings-wrapper {
            filter: grayscale(1);
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    & > div:first-child {
        padding-block-start: 0.8rem;
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.4rem;
        color: var(--color-medium-primary)
    }

    & > p {
        color: var(--color-dark-primary);
        font-size: 1.6rem;
    }

    .settings-wrapper {
        background: white;
        justify-self: center;
        border-radius: 1.6rem;
        margin-block-start: 1.6rem;
    }
}

.activity-container,
.quiz-container {
    width: min(100%, 96rem);
    display: grid;
    padding: 12.8rem 1.6rem 6.4rem;
    gap: 9.6rem;

    & > button {
        width: 6.4rem;
        height: 6.4rem;
        font-size: 4.8rem;
        border-radius: 50%;
        color: white;
        background: var(--color-medium-secondary);
        margin-block: 6.4rem;
        justify-self: center;

        &[disabled] {
            opacity: 50%;
            cursor: not-allowed;
        }
    }
}

.activity-container {
    padding: 3.2rem;

    @media (min-width: 960px) {
        padding-inline: 0;
    }
}

.quiz-question {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3.2rem;

    .term-flashcard {
        margin: 0;
    }

    .sentence-item {
        border: none;
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);

        .sentence-term.missing {
            color: var(--color-medium-primary);
        }
    }
}

.quiz-question .exercise--select-options button {
    font-family: $monoFont;
}

.score-metadata {
    background: var(--color-accent-light);
    padding: 1.6rem;
    color: var(--color-dark-primary);
    display: grid;
    gap: 0.8rem;

    .score-metadata-row {
        display: flex;
        gap: 1.6rem;

        & > div {
            display: flex;
            gap: 0.8rem;
        }

        & > div > *:first-child {
            font-weight: 700;
        }
    }
}

.quiz-results {
    margin: 3.2rem 3.2rem 3.2rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem 3.2rem;
    align-items: center;

    .score-figure {
        font-size: 12.8rem;
        animation: bounceIn 0.5s;
        position: relative;

        .quiz-results-callout {
            position: absolute;
            bottom: -0.6rem;
            left: 0.8rem;
            font-size: 2.4rem;
            color: var(--color-accent-medium);
        }
    }

    .score-feedback {
        flex-grow: 1;
        display: grid;
        gap: 0.4rem;
        color: var(--color-dark-primary);

        & > *:nth-child(1) {
            font-family: $headFont;
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-medium-primary);
        }
    }
}

.quiz-answer-array {
    display: grid;
    gap: 2.4rem;
    margin: 3.2rem 2.4rem 3.2rem;

    @media (min-width: 960px) {
        margin: 4.8rem 3.2rem 4.8rem;
    }
}

.quiz-answer-wrapper {
    display: grid;
    gap: 0.8rem;

    .quiz-answer-options {
        display: flex;
        flex-flow: row wrap;
        gap: 0.2rem 1.6rem;
        margin-inline: 1.2rem;

        a, button {
            text-align: start;
            font-weight: 700;
            font-size: 1.4rem;
            font-family: $bodyFont;
            color: var(--color-accent-dark);

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            color: var(--color-medium-primary);
        }
    }
}

.quiz-answer {
    display: grid;
    gap: 0.4rem;
    padding: 1.6rem 2.0rem;
    border-radius: 0.8rem;
    background: var(--color-pastel-light);

    &.incorrect {
        background: var(--color-accent-light);

        .quiz-answer-user {
            color: var(--color-accent-dark);
        }
    }

    .quiz-answer-correct {
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        font-weight: 700;
        color: var(--color-dark-primary);

        & > *:first-child {
            flex: 1 0 auto;
            font-family: $monoFont;
            font-size: 2.4rem;
            direction: rtl;
        }

        & > *:last-child {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            font-family: $bodyFont;
            font-size: 1.8rem;
        }
    }

    .quiz-answer-correct.sentence {
        & > *:first-child {
            font-size: 1.6rem;
        }

        & > *:last-child {
            font-size: 1.4rem;
            justify-self: end;
            font-family: $monoFont;
        }
    }

    .quiz-answer-user {
        display: grid;
        gap: 0.4rem;
        font-size: 1.4rem;
        padding-block-start: 0.8rem;
        color: var(--color-dark-primary);
        border-block-start: 0.1rem dotted currentColor;
    }
}

.score-stats-graph-wrapper {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: min-content auto;

    & > *:nth-child(1) {
        display: flex;
        flex-flow: column;
        font-weight: 700;
        font-size: 1.2rem;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--color-medium-primary);
        padding-block: 0.8rem;
    }
}

.score-stats-graph {
    height: 24rem;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    background: white;
    position: relative;
    border-radius: 1.6rem;

    .line-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* so tooltips still work */

        polyline {
            fill: none;
            stroke: var(--color-pastel-dark);
            stroke-width: 0.4rem;
            vector-effect: non-scaling-stroke;
        }

        .trendline {
            stroke: var(--color-accent-light);
            stroke-dasharray: 0.4rem, 0.4rem;
        }
    }

    .score-stats-graph-item {
        background: rgba(black, 0.1);
        //border-radius: 0.8rem;
        height: 0;
        transition: height 0.3s ease;
        position: relative;

        //&:hover {
        //    background: var(--color-pastel-dark);
        //}

        .interact-button {
            position: absolute;
            top: -1.2rem;
            left: -1.2rem;
            width: 2.4rem;
            height: 2.4rem;
            color: var(--color-dark-primary);
            background: currentColor;
            box-shadow: inset 0 0 0 0.3rem currentColor, inset 0 0 0 0.6rem white;
            border-radius: 50%;

            &:hover {
                color: var(--color-accent-medium);
            }
        }
    }

}

.score-stats-graph-data {
    position: fixed;
    color: var(--color-dark-primary);
    background-color: white;
    border: 0.2rem solid var(--color-dark-primary);
    box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
    padding: 0.8rem 1.0rem;
    border-radius: 0.8rem;
    pointer-events: none;
    z-index: 9999;

    & > *:nth-child(1) {
        font-family: $headFont;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-medium-primary);
    }

    & > *:nth-child(2) {
        font-family: $bodyFont;
        font-size: 1.6rem;
        font-weight: 700;
        padding-block-end: 0.4rem;
    }

    & > *:nth-child(3) {
        font-family: $bodyFont;
        font-size: 1.2rem;
    }
}

.score-stats-wrapper {
    display: grid;
    gap: 0.8rem;
    margin: 3.2rem;

    a {
        justify-self: end;
        font-weight: 700;
        font-family: $bodyFont;
        color: var(--color-dark-primary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.score-stats-container {
    display: grid;
    grid-template-areas: 'overlap';
    overflow: hidden;

    .score-stats-container__content,
    .score-stats-container__overlay {
        grid-area: overlap;
    }

    .score-stats-container__content {
        display: grid;
        gap: 3.2rem;
        background: var(--color-pastel-light);
        border-radius: 1.6rem;
        padding: 3.2rem;
    }

    .score-stats-container__overlay {
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: var(--color-medium-primary);
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.4rem;
        user-select: none;
    }

    &.disabled {
        .score-stats-container__content {
            filter: opacity(0.33);
            pointer-events: none;
        }

        .score-stats-container__overlay {
            display: flex;
        }
    }
}

.score-stats-highlight-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1.6rem 1.6rem 0;
    gap: 3.2rem;

    .score-highlight {
        display: grid;
        justify-items: center;
        text-align: center;

        .score-highlight-title {
            font-family: $headFont;
            font-size: 2.0rem;
            font-weight: 700;
            color: var(--color-medium-primary);
        }

        .featured-title {
            font-size: 6.4rem;
        }

        .material-symbols-rounded {
            font-size: 3.2rem;
            color: var(--color-medium-primary);

            &.down {
                color: var(--color-accent-medium);
            }
        }
    }
}

.score-stats-detail-wrapper {
    border-block-start: 0.4rem dotted var(--color-pastel-dark);
    padding: 2.4rem 0.4rem 0;
    display: grid;
    gap: 1.2rem;

    .score-stats-detail {
        display: flex;
        justify-content: space-between;
        color: var(--color-dark-primary);

        & > *:first-child {
            font-weight: 700;
        }
    }
}

.score-item-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1.6rem;

    .material-symbols-rounded {
        font-size: 2.0rem;
        color: var(--color-dark-primary);
    }
}

.score-item {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: var(--color-pastel-light);
    color: var(--color-dark-primary);
    border-radius: 0.8rem;
    padding: 1.2rem 2.4rem;
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 1.6rem;

    &:hover {
        background: var(--color-pastel-medium);
    }

    & > *:last-child {
        justify-self: end;
    }
}

#score-detail {
    scroll-margin-block-start: 3.6rem;
}
