#academy-map {
    display: grid;
    gap: 1.6rem;
    align-content: start;
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    width: 90%;
    height: 100%;
    background: var(--color-accent-light);
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.4rem 0.6rem 0 rgba(black, 0.25), 0.4rem 0.6rem 0 rgba(black, 0.25);
    padding: 0 6.4rem;
    z-index: 5;
    transition: transform 0.1s, top 0.3s ease-in-out;

    .featured-title {
        justify-self: center;
    }

    &:hover {
        transform: translate(-50%, -4.8rem) rotate(-1deg);
    }

    &.show {
        top: 10%;
        transform: translate(-50%, 2.4rem) rotate(0);

        &:hover {
            transform: translate(-50%, 0) rotate(-1deg);
        }
    }
}

#unit-nav {
    text-align: center;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    font-family: $monoFont, $ar_headFont;

    .unit-nav-units {
        display: flex;
        align-items: center;
        gap: 4.8rem;

        * {
            font-size: 6.4rem;
            color: var(--color-dark-primary);
            font-family: $displayFont;
            text-transform: uppercase;
            transition: 0.1s;

            &.active {
                transform: translate(0.4rem, -0.4rem);
                text-shadow: -0.4rem 0.4rem 0 var(--color-accent-medium);
            }
        }

        a:hover {
            transform: translate(0.4rem, -0.4rem);
            text-shadow: -0.4rem 0.4rem 0 var(--color-accent-medium);
        }
    }

    .unit-nav-lessons {
        flex: 1 0 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        color: $grn;
    }
}

.lesson-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.6rem;
    width: 9.6rem;
    padding-block-start: 1.6rem;
    padding-inline-start: 1.6rem;
    border-radius: 50%;
    color: var(--color-dark-primary);
    border: 0.1rem solid var(--color-dark-primary);
    background: var(--color-accent-light);
    font-family: $displayFont;
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;

    &.active {
        color: var(--color-accent-medium);
        border: 0.1rem solid var(--color-accent-medium);
        background: var(--color-accent-medium);
    }

    &:not(.active):hover {
        background: var(--color-dark-primary);
    }
}

figure.unit-image {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0;

    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        border: 0.4rem solid var(--color-dark-primary);
        border-radius: 2.4rem;
        padding: 0.2rem;
        background: var(--color-pastel-light);
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
    }

    figcaption {
        @include caption;
        position: absolute;
        top: 3.2rem;
        right: -1.2rem;
        transition: 0.2s;
    }

    &:hover {
        figcaption {
            transform: rotate(-2deg);
        }
    }
}

.lesson-index {
    position: relative;
    display: grid;
    gap: 2.4rem;
    padding: 0 2.4rem 1.6rem;
    background: var(--color-accent-light);
    margin-block-start: 3.2rem;
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);

    .deck-flashcard-wrapper {
        display: none;
    }

    .lesson-index-head {
        justify-self: end;
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        gap: 1.6rem;
        margin-block-start: -2.0rem;

        .folder {
            img {
                width: 4.8rem;
            }

            .open {
                display: none;
            }

            .closed {
                display: block;
            }
        }

        .folder:hover {
            .open {
                display: block;
            }

            .closed {
                display: none;
            }
        }

        & > *:first-child {
            justify-self: end;
            color: var(--color-dark-primary);
            font-family: $displayFont;
            background: white;
            border-radius: 1.6rem;
            border: 0.1rem solid var(--color-dark-primary);
            padding: 0.2rem 1.6rem 0.4rem;
            font-weight: 700;
            font-size: 3.2rem;
            text-transform: uppercase;
        }
    }

    .lesson-index-title {
        color: var(--color-dark-primary);
        font-family: $headFont;
        font-weight: 700;
        font-size: 4.8rem;
        border-bottom: 0.1rem solid var(--color-dark-primary);
    }

    .lesson-index-body {
        display: flex;
        flex-flow: row-reverse wrap;
        gap: 3.2rem;
    }
}

.lesson-index-content-section-wrapper {
    flex-grow: 1;
    display: grid;
    align-content: start;
    gap: 1.6rem;

    .lesson-index-content-section {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: end;
        gap: 0.4rem;
        padding-block-end: 0.8rem;
        border-block-end: 0.1rem solid var(--color-accent-medium);

        .lesson-index-content-section-heading {
            color: var(--color-accent-medium);
            font-family: $displayFont;
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        .lesson-index-content-section-title {
            text-align: end;
            color: var(--color-dark-primary);
            font-family: $headFont;
            font-size: 1.8rem;
            font-weight: 700;
        }

        .lesson-index-content-section-content {
            grid-column: span 2;
            font-size: 1.4rem;
            font-family: $bodyFont;
        }
    }
}

@media (min-width: 960px) {
    .lesson-index .deck-flashcard-wrapper {
        display: grid;
    }
}

.lesson-concept-container {
    width: 100%;
    font-size: 1.8rem;
    text-align: justify;
    transition: 0.3s;
    border-radius: 2.4rem;
    background: white;
    padding: clamp(2.4rem, 4vw, 3.6rem);
    margin: 3.2rem 0;
    position: relative;

    & > .title-container {
        margin: 0 0 2.8rem -0.6rem;
        @media (min-width: 960px) {
            margin: 2.4rem 0 3.6rem -1.2rem;
        }
    }

    h1, h2 {
        //font-size: 2.8rem;
        line-height: 1em;
        margin: 3.2rem 0 1.6rem;
        font-family: $headFont;
        text-transform: none;
    }

    p {
        margin-block-start: 1.6rem;
        margin-block-end: 1.6rem;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    & > .popout {
        width: 6.4rem;
    }
}

.lesson-concept-container {
    padding: 0;

    .lesson-concept-head {
        padding: 2.4rem 3.2rem;
        border-radius: 2.3rem 2.3rem 0 0;

        .featured-title {
            color: white;
        }
    }

    .lesson-concept-body {
        display: grid;
        padding: 3.2rem;

        h1 {
            font-size: 6.4rem;
            margin: 0 0 1.6rem;
        }

        .array {
            margin: 0;
        }
    }

    &.skill {
        box-shadow: -0.6rem 0.6rem 0 var(--color-pastel-dark);

        .lesson-concept-head {
            background: var(--color-medium-primary);
        }

        .lesson-concept-body {
            h1 {
                color: var(--color-medium-primary);
            }
        }
    }

    &.idea {
        border: 0.1rem solid var(--color-dark-primary);
        box-shadow: -0.4rem 0.4rem 0 rgb(black, 0.25);

        .lesson-concept-head {
            background: var(--color-accent-medium);
        }

        .lesson-concept-body {
            h1 {
                color: var(--color-dark-primary);
            }
        }
    }

    & > .popout {
        position: absolute;
        top: -2.4rem;
        right: 1.6rem;
    }
}

.activity-title {
    margin: 3.2rem 0.8rem 0.6rem;
    border-radius: 1.6rem 1.6rem 0.4rem 0.4rem;
    background: rgba($grn, 0.8);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: $monoFont, $ar_bodyFont;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.8rem 2.0rem;
    max-width: 100%;

    @media (min-width: 960px) {
        max-width: 25%;
    }
}

.activity-area {
    display: grid;
    gap: 2.4rem;
    margin-block: 3.2rem;

    .question-group {
        display: grid;
        gap: 0.8rem;
    }

    .array {
        margin: 0;
    }
}

.activity-info-container {
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    border-radius: 1.2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.4rem 0.4rem 0 var(--color-accent-light);
    padding: 0.8rem;
    background: white;

    // TODO: How to resolve the spacing issue?
    font-family: 'JetBrains Mono', 'Vazirmatn', monospace;
    text-align: center;

    & > * {
        min-width: 12rem;
        background: var(--color-accent-light);
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;

    }
}

.activity-select {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.6rem;
    white-space: nowrap;
    background: white;
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.4rem 0.4rem 0 var(--color-accent-light);
    padding: 1.2rem 1.6rem;
    margin-block: 1.2rem 0.4rem;

    p {
        font-family: $ar_bodyFont;
        font-size: 2.0rem;
        margin: 0;
    }

    .activity-select-choices {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        gap: 0.8rem;
        margin-block-start: -2.4rem;

        button {
            font-family: $bodyFont;
            font-weight: 700;
            font-size: 1.8rem;
            @include button-primary-dark;

            &:hover {
                box-shadow: none;
                transform: translate(-0.2rem, 0.2rem);
            }

            &.selected {
                box-shadow: none;
                transform: translate(-0.2rem, 0.2rem);
                background: var(--color-medium-secondary);
                color: white;
            }
        }
    }
}

.activity-fill {
    display: flex;
    flex-flow: row-reverse wrap;

    background-color: white;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.4rem 0.4rem 0 var(--color-accent-light);
    border-radius: 1.6rem;
    padding: 0.8rem 1.6rem;
    margin-block: 0.4rem 0.8rem;

    justify-content: space-between;
    align-content: center;
    align-items: center;

    gap: 0.4rem 1.6rem;
    text-align: center;
    white-space: nowrap;

    & > div {
        flex-grow: 1;
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 1.6rem;
    }

    p {
        flex-basis: 30%;
        font-family: $ar_bodyFont;
    }

    p, input {
        direction: rtl;
        text-align: start;
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 3.2rem;
        margin: 0;
    }

    input {
        font-family: $ar_bodyFont;
        accent-color: var(--color-dark-primary);
        border-radius: 1.2rem;
        border: 0.1rem solid var(--color-medium-secondary);
        box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);
        color: var(--color-dark-primary);
        background: white;
        padding: 0.4rem 1.2rem;
        margin-block: 0.2rem;
        flex-grow: 1;

        &:focus {
            outline: 0.1rem solid var(--color-accent-medium);
            border: 0.1rem solid var(--color-accent-medium);
        }
    }

    button {
        border-radius: 0.8rem;
        font-size: 1.6rem;
        padding: 0.4rem;
        color: var(--color-dark-primary);
        background: white;
        border: 0.1rem solid var(--color-medium-secondary);
        box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);
        margin-block-end: 0.2rem;
    }

    button:hover {
        box-shadow: none;
        transform: translate(-0.2rem, 0.2rem);
    }

    &.correct {
        input {
            color: black !important;
            box-shadow: none;
            transform: translate(-0.1rem, 0.1rem);
            border: none;
        }

        button {
            color: white;
            background: var(--color-medium-secondary);
            box-shadow: none;
            transform: translate(-0.2rem, 0.2rem);
        }
    }

    img {
        border-radius: 0.8rem 0.8rem 0 0.8rem;
        max-width: 50%;
    }
}

div.activity-image {
    width: 100%;
    display: grid;
    direction: rtl;
    grid-column-gap: 2.0rem;
    grid-row-gap: 2.0rem;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr)
    }

    img {
        border-radius: 0.8rem;
    }
}

div.activity-image .image-card {
    display: grid;
    grid-template-areas: "overlap";

    > * {
        grid-area: overlap
    }

    > img {
        z-index: 1;
    }

    &:active > img {
        visibility: hidden
    }

    > div {
        display: flex;
        align-self: center;
        justify-content: center;
        font-weight: 700;
    }
}

.quiz-settings-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    padding: 3.2rem;
}

.quiz-container {
    width: min(100%, 96rem);
    display: grid;
    padding-block: 2.4rem 4.8rem;
    gap: 4.8rem;

    & > button {
        color: var(--color-dark-primary);
        font-weight: 700;
        font-family: $bodyFont;
        font-size: 1.6rem;
        justify-self: start;

        &:hover {
            text-decoration: underline;
        }
    }
}

.quiz-question {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1.6rem;

    .quiz-question-options {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1.6rem;

        * {
            font-family: $bodyFont;
            text-transform: none;
            border-radius: 0.75em;
            padding: 0.25em 1em 0.33em;

            &.selected {
                color: var(--color-accent-medium);
            }
        }
    }
}

.quiz-results {
    margin: 3.2rem 3.2rem 6.4rem;
    display: flex;
    gap: 3.2rem;
    align-items: center;
    position: relative;

    .score-figure {
        font-size: 12.8rem;
        animation: bounceIn 0.5s;
    }

    .score-feedback {
        flex-grow: 1;
        display: grid;
        gap: 0.4rem;
        color: var(--color-dark-primary);

        & > *:nth-child(1) {
            font-family: $headFont;
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-medium-primary);
        }
    }

    .quiz-results-callout {
        position: absolute;
        bottom: -1.6rem;
        left: 0.6rem;
        font-size: 2.4rem;
        color: var(--color-accent-medium);
    }
}

.quiz-answer-array {
    display: grid;
    gap: 2.4rem;
    margin: 3.2rem 3.2rem 4.8rem;
}

.quiz-answer-wrapper {
    display: grid;
    gap: 0.4rem;

    .quiz-answer-options {
        display: flex;
        flex-flow: row wrap;
        gap: 1.6rem;
        margin-inline: 1.2rem;

        a, button {
            text-align: start;
            font-weight: 700;
            font-size: 1.4rem;
            font-family: $bodyFont;
            color: var(--color-accent-dark);

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            color: var(--color-medium-primary);
        }
    }
}

.quiz-answer {
    display: grid;
    gap: 0.4rem;
    padding: 1.6rem 2.0rem;
    border-radius: 0.8rem;
    background: var(--color-pastel-light);

    &.incorrect {
        background: var(--color-accent-light);
    }

    .quiz-answer-correct {
        display: flex;
        flex-flow: row-reverse wrap;
        align-items: center;
        font-weight: 700;
        color: var(--color-dark-primary);

        & > *:first-child {
            flex: 1 0 auto;
            font-family: $monoFont;
            font-size: 2.4rem;
            direction: rtl;
        }

        & > *:last-child {
            flex: 0 1 auto;
            font-family: $bodyFont;
            font-size: 1.8rem;
        }
    }

    .quiz-answer-incorrect {
        display: grid;
        gap: 0.4rem;
        font-size: 1.4rem;
        padding-block-start: 0.8rem;
        color: var(--color-accent-dark);
        border-block-start: 0.1rem dotted var(--color-accent-dark);
    }
}

.score-stats-wrapper {
    display: grid;
    gap: 0.8rem;
    margin: 3.2rem;

    .score-stats-container {
        display: grid;
        gap: 3.2rem;
        background: var(--color-pastel-light);
        border-radius: 1.6rem;
        padding: 3.2rem;
    }

    a {
        justify-self: end;
        font-weight: 700;
        font-family: $bodyFont;
        color: var(--color-dark-primary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.score-stats-highlight-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.6rem;
    gap: 3.2rem;

    .score-highlight {
        display: grid;
        justify-items: center;

        & > div:first-child {
            font-family: $headFont;
            font-size: 2.0rem;
            font-weight: 700;
            color: var(--color-medium-primary);
        }

        .featured-title {
            font-size: 6.4rem;
        }
    }
}

.score-stats-detail-wrapper {
    border-block-start: 0.4rem dotted var(--color-pastel-dark);
    padding: 2.4rem 0.4rem 0;
    display: grid;
    gap: 1.2rem;

    .score-stats-detail {
        display: flex;
        justify-content: space-between;
        color: var(--color-dark-primary);

        & > *:first-child {
            font-weight: 700;
        }
    }
}

