#app-nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    & > img {
        width: 3.6rem;
        cursor: pointer;

        &.disabled {
            opacity: 25%;
            cursor: not-allowed;
        }
    }
}

#app-mode-toggle {
    height: 4.8rem;
    width: 32rem;
    border: 0.2rem solid var(--color-dark-primary);
    border-radius: 1.6rem;
    cursor: pointer;
    padding: 0.2rem;

    .app-mode-toggle-slider {
        height: 100%;
        width: 50%;
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block-end: 0.2rem;
        font-family: $displayFont;
        font-size: 2.4rem;
        text-transform: uppercase;
        transition: 0.3s ease;
        user-select: none;

        color: white;
        background: var(--color-medium-primary);
        transform: translateX(0%);
    }

    &.study .app-mode-toggle-slider {
        color: var(--color-dark-primary);
        background: var(--color-accent-medium);
        transform: translateX(100%);
    }

    &.sentence .app-mode-toggle-slider {
        color: var(--color-dark-primary);
        background: var(--color-accent-medium);
        transform: translateX(100%);
    }
}

.app-mode-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    width: 100%;
    max-width: 96rem;

    button {
        color: var(--color-dark-primary);
        background: var(--color-polar-light);
        border-radius: 1.2rem;
        border: 0.2rem solid var(--color-dark-primary);
        box-shadow: -0.3rem 0.3rem 0 var(--color-dark-primary);
        flex-basis: 20rem;
        font-family: $monoFont;
        font-weight: 700;
        font-size: 2.0rem;
        padding-block: 0.8rem;

        &:hover, &:active, &.active {
            box-shadow: none;
            translate: -0.3rem 0.3rem;
        }
    }
}

.app-nav-interact {
    justify-self: center;
    display: grid;
    grid-template-columns: 3.6rem auto 3.6rem;
    gap: 1.6rem;
    height: 3.6rem;
    width: 100%;
    max-width: 96rem;

    img {
        width: 3.6rem;
        cursor: pointer;
    }

    .app-nav-interact-buttons {
        grid-column: 2;
        display: flex;
        justify-content: center;
        gap: 1.6rem;
    }
}

.app-popup-trigger {
    width: 3.6rem;
    cursor: pointer;

    @include pop-on-hover;
}

.modal-viewbox {
    position: fixed;
    inset: 0;
    background-color: var(--color-transparent);
    opacity: 1;
    backdrop-filter: blur(0.4rem);
    transition: opacity 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    z-index: 9999;
    overflow: hidden;

    .modal-container {
        position: absolute;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
        transition: top 0.3s ease-in-out;
    }

    &.modal-slide-enter-from,
    &.modal-slide-leave-to {
        opacity: 0;
        backdrop-filter: blur(0);

        & > * {
            top: 100vh;
        }
    }

    &.modal-slide-enter-to,
    &.modal-slide-leave-from {
        opacity: 1;
        backdrop-filter: blur(0.4rem);

        & > * {
            top: 10vh;
        }
    }
}

.window-container {
    width: min(100%, 96rem);
    color: black;
    background: white;
    position: relative;
    overflow: hidden;

    @media (min-width: 960px) {
        border: 0.2rem solid var(--color-dark-primary);
        border-radius: 0.8rem;
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
    }

    .user-item {
        padding-inline: 2.4rem;
    }

    .app-tip {
        width: auto;
        margin: 2.4rem;
    }

    .app-tip.error {
        color: white;
        background: $red;
    }

    .window-section-head + .app-tip {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    & > p {
        margin: 1.6rem 2.4rem;
        color: var(--color-dark-primary);
        font-weight: 700;
    }

    .action-buttons {
        position: absolute;
        top: -1.6rem;
        right: 1.6rem;
    }

    #paginator .pagination {
        gap: 0;
        background: var(--color-dark-primary);

        & > * {
            flex-grow: 1;
            color: white;
            font-family: $monoFont;
            font-weight: 700;
            font-size: 2.0rem;
            padding-block: 0.8rem;

            &:not(.active):hover {
                color: white;
                background: var(--color-dark-secondary);
            }

            &.active {
                color: var(--color-dark-primary);
                background: var(--color-accent-medium);
            }

        }

        & > *.disabled {
            color: var(--color-medium-primary);

            &:hover {
                cursor: default;
                color: var(--color-medium-primary);
                background: var(--color-dark-primary);
            }
        }
    }
}

.window-header, .window-page-nav, .window-footer {
    display: flex;
    background: white;

    & > * {
        color: var(--color-dark-primary);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2.0rem;
        padding: 0.6rem 1.2rem;

        &:not(.material-symbols-rounded) {
            font-family: $monoFont;
        }

        &:not(:last-child) {
            border-inline-end: 0.1rem solid var(--color-dark-primary);
        }
    }

    & > a:hover, & > button:hover {
        background: var(--color-pastel-medium);
    }

    button[disabled] {
        color: var(--color-pastel-medium);
        pointer-events: none;
    }

    .window-header-url {
        flex-grow: 1;
        white-space: nowrap;
        overflow: scroll;
    }

    .popup-menu-wrapper {
        padding-block: 0;

        img {
            width: 2.4rem;
        }
    }

    .private {
        color: var(--color-accent-medium);
    }
}

.window-page-nav {
    display: grid;

    & > * {
        text-align: center;
        border-block-end: 0.1rem solid var(--color-dark-primary);
    }

    div {
        background: var(--color-dark-primary);
        color: white;
        text-transform: uppercase;
    }

    div.active {
        background: var(--color-medium-primary);
        border-block-end: 0.1rem solid var(--color-medium-primary);
    }

    div.active ~ div {
        background: white;
        color: var(--color-dark-primary);
    }
}

.window-footer {
    border-block-start: 0.1rem solid var(--color-accent-dark);

    & > * {
        color: var(--color-accent-dark);
        padding: 0.8rem 1.6rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
        flex: 1 0 50%;

        &:not(:last-child) {
            border-inline-end: 0.1rem solid var(--color-accent-dark);
        }
    }

    button[disabled] {
        color: var(--color-accent-light);
    }

    & > a:hover, & > button:hover {
        color: white;
        background: var(--color-accent-dark);
    }
}

.window-section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-polar-light);
    background: var(--color-medium-primary);
    font-family: $monoFont;
    font-weight: 700;
    text-transform: uppercase;
    height: 2em;

    &:not(:first-child) {
        border-block-start: 0.1rem solid var(--color-dark-secondary);
    }

    & > * {
        height: 100%;
        display: flex;
        align-items: center;
    }

    h1, h2, h3 {
        margin: 0;
        color: currentColor;
        flex-grow: 1;
        padding-inline: 1.6rem;
        font-size: 1em;
        overflow: scroll;
        white-space: nowrap;
    }

    *.material-symbols-rounded {
        flex-shrink: 0;
        font-size: 1em;
        width: 2em;
        justify-content: center;
        color: currentColor;
        user-select: none;
        cursor: pointer;
        font-weight: 400;

        &:hover {
            color: var(--color-dark-primary);
            background: var(--color-accent-medium);
        }
    }

    .popup-menu-wrapper {
        width: 2em;
        justify-content: center;

        *:first-child {
            height: 100%;
        }

        //img {
        //    width: 1em;
        //}
    }

    &:has(h1) {
        font-size: 2.4rem;
        background: var(--color-dark-primary);

        & > *:not(:last-child) {
            border-inline-end: 0.1rem solid var(--color-dark-primary);
        }
    }

    &:has(h2) {
        font-size: 2.0rem;
        background: var(--color-medium-primary);
    }

    &:has(h3) {
        font-size: 1.8rem;
        color: var(--color-dark-primary);
        background: var(--color-pastel-medium);
    }

    .pinned {
        color: var(--color-accent-medium);
    }
}

.window-content-head {
    display: grid;
    background: var(--color-pastel-light);

    .window-content-head-title {
        padding: 2.4rem;
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.8rem;
        text-transform: none;
    }

    .dialog-description {
        color: var(--color-dark-primary);
        font-family: $bodyFont;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 2.4rem;
        background: white;
    }

    textarea.dialog-description {
        font-size: 1.8rem;
        padding: 1.2rem;
    }

    .pin-counter {
        // Mobile
        top: -2.0rem;
        left: auto;
        right: 1.2rem;

        img {
            width: 4.8rem;
        }

        div {
            font-size: 1.6rem;
        }

        @media (min-width: 960px) {
            top: 3.6rem;
            left: -2.4rem;
            right: auto;
        }
    }
}

.window-body-heading {
    font-family: $headFont;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-medium-primary);
    margin: 1.2rem 2.4rem;
}

.window-container.modal-container {
    width: 90%;
    max-width: 72rem;
    max-height: 70vh;
    display: flex;
    flex-flow: column;
    border: 0.2rem solid var(--color-accent-dark);
    border-radius: 0.8rem;
    box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);

    .window-section-head {
        flex-shrink: 0;
        background: var(--color-accent-dark);

        &:not(:first-child) {
            border-block-start: 0.1rem solid var(--color-accent-dark);
        }

        & > *:not(:last-child) {
            border-inline-end: 0.1rem solid var(--color-accent-dark);
        }

        & > a:hover, & > button:hover {
            color: var(--color-accent-dark);
        }
    }

    .modal-container-body {
        flex-grow: 1;
        overflow: scroll;
    }

    form {
        display: contents;
    }
}

.window-container.modal-container.help-container {
    .window-section-head {
        background: var(--color-accent-light);

        & > * {
            color: var(--color-accent-dark);
        }
    }

    .modal-container-body {
        display: grid;
        justify-items: start;
        padding: 2.4rem 2.4rem 3.6rem;
        gap: 1.6rem;

        div {
            color: var(--color-dark-primary);
            font-weight: 700;
        }

        div.h1 {
            font-family: $headFont;
            font-size: 2.0rem;
        }

        div.h2 {
            font-size: 1.6rem;
        }

        p {
            margin-block: 0;
            font-size: 1.6rem;
        }

        ul {
            padding-inline-start: 1.6rem;
        }

        li {
            font-size: 1.4rem;
        }

        a, button {
            @include link-purple-deep;
        }
    }
}

.app-prompt-heading {
    padding: 1.2rem 2.4rem;
    color: white;
    background: var(--color-dark-primary);
    border-radius: 3.2rem;
    font-family: $headFont;
    font-weight: 700;
    font-size: 2.0rem;
}

.app-tooltip {
    height: auto;
    text-transform: none;
    font-weight: 400;
    direction: ltr;
    position: fixed;
    color: var(--color-dark-primary);
    background-color: white;
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-family: $monoFont;
    font-size: 1.2rem;
    white-space: nowrap;
    pointer-events: none;
    z-index: 9999;
}

.app-button {
    font-size: 1.6rem;
    justify-self: center;
    background: white;
    border-radius: 0.5em;
    color: var(--color-dark-primary);
    border: 0.125em solid currentColor;
    box-shadow: -0.125em 0.125em 0 currentColor;
    font-family: $monoFont;
    padding: 0.25em 1em;
    font-weight: 700;
    text-transform: uppercase;

    &:active, &.active {
        box-shadow: none;
        translate: -0.125em 0.125em;
    }

    &[disabled] {
        opacity: 33%;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.featured-button {
    font-family: $displayFont;
    text-transform: uppercase;
    padding: 1.2rem 3.2rem 1.4rem;
    background: var(--color-dark-primary);
    color: white;
    border: none;
    border-radius: 3.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    transition: 0.2s;
    justify-self: center;

    &:hover {
        text-decoration: none;
        transform: translate(0.4rem, -0.4rem);
        box-shadow: -0.4rem 0.4rem 0 0 var(--color-pastel-dark);
    }

    &[disabled] {
        opacity: 50%;
        cursor: not-allowed;
        filter: grayscale(100%);
    }
}

.notification-container {
    position: fixed;
    bottom: 1.6rem;
    left: 1.6rem;
    max-width: 80%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: transform 0.3s ease-in-out;
    transform: translateY(200%);

    &.visible {
        transform: translateY(0);
    }

    .app-notification {
        display: grid;
        min-width: 24rem;
        padding: 1.2rem 2.4rem 1.2rem;
        margin: 0.8rem;
        border-radius: 1.2rem;
        background: white;
        border: 0.2rem solid var(--color-dark-primary);
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
        line-height: 1.5;
        color: black;
        user-select: none;

        .app-notification-title {
            color: var(--color-medium-secondary);
            font-weight: 700;
            font-size: 2.0rem;
            font-family: $headFont;
            text-transform: capitalize;
        }

        .app-notification-message {
            font-family: $monoFont;
            font-size: 1.2rem;
        }

        &.error .app-notification-title {
            color: var(--color-accent-dark);
        }
    }
}


.loading-spinner {
    display: flex;
    justify-content: center;

    svg {
        width: 6.4rem;
        animation: spinner 1s infinite;
    }
}

.sg-tabs {
    min-height: 3.6rem;
    display: flex;
    gap: 0.8rem;
    margin: 1.2rem;

    button {
        flex: 1;
        padding: 0.8rem 1.6rem;
        border: none;
        color: var(--color-dark-primary);
        background: var(--color-pastel-light);
        border-radius: 0.6rem;
        font-size: 1.4rem;
        font-family: $monoFont;
        text-transform: capitalize;
        cursor: pointer;

        &.active {
            color: white;
            background: var(--color-medium-primary);
            font-weight: 700;
        }

        &.disabled {
            cursor: not-allowed;
            filter: grayscale(100%) opacity(33%);
        }
    }
}

.sg-results {
    display: grid;
    gap: 0.4rem;
    overflow: auto;
    border-block-start: 0.1rem solid var(--color-pastel-dark);
    padding: 1.2rem;
    scrollbar-width: thin;

    & > * {
        padding-block: 1.2rem;
    }

    .loading-spinner svg {
        width: 4.8rem;
    }

    .sg-result-item {
        color: var(--color-dark-primary);
        background: var(--color-pastel-light);
        padding-inline: 1.6rem;
        border-radius: 0.4rem;
        cursor: pointer;

        &.active {
            color: white;
            background: var(--color-medium-primary);
        }
    }

    .sg-empty {
        color: var(--color-pastel-dark);
        text-align: center;
        font-size: 1.4rem;
        font-family: $monoFont;
    }
}

.sg-all-results {
    display: grid;
    padding: 0.8rem 1.2rem;

    a {
        padding: 1.2rem 1.6rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        font-family: $monoFont;
        text-align: center;
        color: var(--color-dark-primary);
        background: white;
        border: 0.1rem solid var(--color-medium-primary);

        &:hover {
            border: 0.1rem solid var(--color-accent-medium);
        }
    }
}

.sg-footer {
    display: flex;
    gap: 0.4rem 1.6rem;
    flex-flow: row wrap;
    color: var(--color-dark-primary);
    background: var(--color-accent-light);
    padding: 0.6rem 1.2rem;
    border-block-start: 0.1rem solid var(--color-accent-medium);
    font-size: 1.2rem;
    font-family: $monoFont;
}

.sg-result-item {
    line-height: 1.5;

    &.terms {
        display: flex;
        flex-flow: row-reverse wrap;
        direction: ltr;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;

        & > div:nth-child(1) {
            font-size: 1.6rem;
            font-weight: 700;
            font-family: $ar_bodyFont;
        }

        & > div:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $monoFont;
        }
    }

    &.sentences {
        display: flex;
        flex-flow: row-reverse wrap;
        direction: ltr;
        font-size: 1.6rem;
        font-family: $ar_bodyFont;
    }
}

#pb-mode-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;

    .pb-mode-toggle-item {
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.4rem;
        color: var(--color-dark-primary);
        position: relative;
        margin-block-start: 0.4rem;
        margin-inline-start: 1.2rem;

        div {
            user-select: none;

            &.active {
                text-decoration: 0.3rem solid underline var(--color-accent-medium);
            }
        }

        img {
            position: absolute;
            top: -1.2rem;
            left: -3.2rem;
            width: 4.0rem;
            transform: rotate(-35deg);
            transition: 0.05s;

            &.unpinned {
                transform: translate(-0.2rem, -0.2rem) rotate(-35deg);
                filter: brightness(1.5) saturate(0);
                opacity: 20%;
                cursor: pointer;
            }
        }

        &:hover {
            img.unpinned {
                transform: translate(-0.2rem, -0.2rem) rotate(-35deg);
                filter: brightness(1.5) saturate(1);
                opacity: 50%;
            }
        }
    }
}
