body.app {
    background: $accent-yellow url(../../public/img/waves-yellow.svg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

    #page-body {
        margin: 0;
    }

    #page-content {
        height: 100%;
        grid-auto-rows: auto;
    }

    #app-head {
        background: white;
        padding: 1.6rem 3.2rem 2.4rem;
        border-block-end: 0.2rem solid $purple-deep;
        box-shadow: 0 0.2rem 0 rgba(black, 0.25);
    }
}

.app-container {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
}

#app-head {
    display: grid;
    justify-items: center;
    border-block-end: 0.8rem solid $purple-pastel-dark;
    position: relative;

    button {
        justify-self: start;
        @include link-button-deep;
    }

    h1 {
        text-align: center;
        font-family: $displayFont;
        font-weight: 400;
        font-size: 6.4rem;
        margin: 0;
        padding-block-end: 0.8rem;
        color: $purple-deep;
    }

    .rw-exit-button {
        cursor: pointer;
        width: 6.4rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}

#app-body {
    display: grid;
    margin-block: 3.2rem;
}

#app-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4.8rem;

    & > img {
        width: 3.6rem;
        cursor: pointer;

        &.disabled {
            opacity: 25%;
            cursor: not-allowed;
        }
    }

    .app-nav-steps {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        div {
            border-radius: 0.8rem;
            padding: 0.8rem 1.6rem 0.6rem;
            font-family: $headFont;
            font-weight: 700;
            font-size: 1.8rem;
            color: $purple-deep;
            user-select: none;
        }

        div.active {
            color: $purple-primary;
            background: $accent-yellow-pastel;
        }

        div.active ~ div {
            color: $purple-pastel;
        }

        div span {
            display: none;
            box-sizing: border-box;

            width: 30px;
            height: 30px;
            margin-right: 16px;

            text-align: center;
            background-color: black;
            border-radius: 100%;
        }

        div .mwe-rw-step-marker {
            color: white;
            font-family: Charter;
            font-weight: bold;
        }

        div.active .mwe-rw-step-marker {
            display: inline-block;
            background-color: #3366cc;
        }

        div.active ~ div .mwe-rw-step-marker {
            display: inline-block;
            background-color: rgba(162, 169, 177, 0.3);
        }

        div .mwe-rw-step-check img {
            padding-top: 5px;
            width: 20px;
            height: 20px;
        }

        div .mwe-rw-step-check {
            display: inline-block;
        }

        div.active .mwe-rw-step-check,
        div.active ~ div .mwe-rw-step-check {
            display: none;
        }
    }
}

.app-dialog-trigger {
    cursor: pointer;
    @include pop-on-hover;

    img {
        width: 4.8rem;
    }
}

.app-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .app-dialog {
        color: black;
        background: $purple-deep;
        border-radius: 0.8rem;
        width: 50%;
        overflow: hidden;
        border: 0.2rem solid $purple-deep;
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.33);
    }

    .app-dialog-tab {
        display: flex;
        align-items: center;
        min-height: 3.2rem;
        position: relative;

        .app-dialog-title {
            color: white;
            font-family: $bodyFont;
            font-weight: 700;
            font-size: 2.0rem;
            padding: 0.8rem 1.6rem;
        }

        .app-dialog-close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            width: 6.4rem;
        }
    }

    .app-dialog-body {
        background: white;
        display: grid;
        justify-items: start;
        padding: 2.4rem;
        gap: 1.6rem;
        max-height: 80vh;
        overflow: scroll;

        div {
            color: $purple-deep;
            font-family: $headFont;
            font-weight: 700;
            padding-block-start: 1.6rem;
        }

        p {
            margin-block: 0;
            font-size: 1.6rem;
        }

        button {
            @include link-button-deep;
        }
    }
}

.app-prompt-heading {
    padding: 1.2rem 2.4rem;
    color: white;
    background: $purple-deep;
    border-radius: 3.2rem;
    font-family: $headFont;
    font-weight: 700;
    font-size: 2.0rem;
}
