.speaker-profile-container {
    display: grid;
    gap: 0.8rem;
    width: 100%;
    max-width: 96rem;
    background: var(--color-accent-light);
    padding: 1.6rem;
    border-radius: 1.6rem;
    border: 0.1rem solid var(--color-accent-medium);
    margin-block-start: 3.2rem;
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.1);

    .speaker-profile-head {
        display: flex;
        align-items: flex-end;
        gap: 0.8rem;
        margin-block-start: -4.8rem;

        & > * {
            border: 0.1rem solid var(--color-accent-medium);
            background: var(--color-accent-light);
            color: var(--color-dark-primary);
            box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.1);
        }

        & > *:nth-child(1) {
            padding: 0.2rem 1.6rem 0.4rem 1.6rem;
            border-radius: 0.8rem;
            font-size: 4.8rem;
            font-family: $displayFont;
            text-transform: uppercase;
            line-height: 1;
        }

        & > *:nth-child(2) {
            border-radius: 3.2rem 3.2rem;
            padding: 0.8rem 0.8rem 0.8rem 1.6rem;
            font-weight: 700;
        }
    }

    & > a {
        @include link-purple-deep;
        justify-self: end;
    }
}

.speaker-data {
    display: grid;
    overflow: hidden;
    color: var(--color-dark-primary);
    border-radius: 0.4rem;
    background: var(--color-pastel-light);

    .speaker-data-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-block-end: 0.1rem solid var(--color-pastel-dark);
        height: 4.8rem;

        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        & > div {
            padding-inline: 1.6rem;
            font-family: $monoFont;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        & > a, & > button {
            color: var(--color-dark-primary);
            width: 4.8rem;

            &:hover {
                background: var(--color-pastel-medium);
            }

            &[disabled] {
                opacity: 25%;
                background: none;
                cursor: not-allowed;
            }
        }
    }

    .speaker-data-row {
        min-height: 4.8rem;
        display: grid;
        gap: 1.6rem;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        padding-inline: 1.6rem;
        font-family: $monoFont;
        text-transform: capitalize;

        &:not(:last-child) {
            border-block-end: 0.1rem dotted var(--color-pastel-dark);
        }

        & > div:nth-child(1) {
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        & > *:nth-child(2) {
            padding: 0;
            font-family: $bodyFont;
            font-size: 1.6rem;
            background: none;
        }
    }
}

.pronunciation-item-container {
    display: grid;

    .pronunciation-audios {
        flex-shrink: 0;
        display: grid;
        justify-items: start;
        border-inline-start: none;
        background: var(--color-pastel-light);
        border-block-start: 0.1rem solid var(--color-dark-primary);

        & > *:not(:last-child) {
            border-block-end: 0.1rem solid var(--color-pastel-dark);
        }
    }

    & > button {
        text-align: center;
        background: var(--color-pastel-medium);
        padding-block-end: 0.2rem;
        @include link-primary;

        &:hover {
            text-decoration: none;
            background: var(--color-pastel-dark);
        }
    }

    &.inline {
        display: flex;

        .pronunciation-item {
            flex-grow: 1;
        }

        .pronunciation-audios {
            border-block-start: none;
        }
    }
}

.pronunciation-item {
    display: grid;
    grid-template-columns: 1fr 20%;
    white-space: nowrap;
    height: 3.6rem;

    .pronunciation-item-term,
    .pronunciation-item-data {
        padding-inline: 1.2rem;
        overflow: scroll;
    }

    .pronunciation-item-term {
        padding-block-start: 0.1rem;
        font-family: $ar_bodyFont;
        font-size: 1.8rem;
        font-weight: 700;
        white-space: nowrap;
        background: var(--color-accent-light);
        display: flex;
        align-items: center;
        direction: rtl;

        &:hover {
            color: var(--color-medium-primary);
        }
    }

    .pronunciation-item-data {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 1.6rem;
    }

    .pronunciation-item-dialect {
        padding-block-end: 0.1rem;
        font-family: $bodyFont;
        font-weight: 700;
        font-size: 1.4rem;
    }

    .pronunciation-item-phonology {
        text-align: end;
        font-family: $monoFont;
        font-size: 1.2rem;
    }

    .play {
        width: 2.8rem;
    }
}

.audio-item {
    width: 100%;
    display: grid;
    grid-template-columns: 3.6rem 1fr 3.6rem;
    white-space: nowrap;
    align-items: center;
    gap: 0.2rem 0.8rem;
    font-size: 1.4rem;
    height: 3.6rem;

    .audio-item-data {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        overflow: scroll;

        & > * {
            flex-shrink: 0;
        }
    }

    .audio-item-date {
        display: none;
        font-size: 1.2rem;
        font-style: italic;
    }

    button {
        color: white;
        background: var(--color-medium-primary);
        font-size: 2.0rem;
        height: 3.6rem;
        width: 3.6rem;
    }

    @media (min-width: 720px) {
        .audio-item-date {
            display: block;
        }
    }
}

button.audio-button {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: white;
    background: var(--color-medium-primary);

    &.active {
        color: var(--color-dark-primary);
        background: var(--color-accent-medium);
    }
}

.audio-item-speaker {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-family: $bodyFont;

    img {
        width: 2.4rem;
        border-radius: 50%;
    }

    a {
        color: var(--color-medium-primary);
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}
