.speaker-profile-container {
    display: grid;
    gap: 0.8rem;
    background: $accent-yellow-pastel;
    padding: 1.6rem;
    border-radius: 1.6rem;
    border: 0.1rem solid $accent-yellow;
    margin-block-start: 3.2rem;

    .speaker-profile-head {
        display: flex;
        align-items: flex-end;
        gap: 0.8rem;
        margin-block-start: -4.8rem;

        & > * {
            border: 0.1rem solid $accent-yellow;
            background: $accent-yellow-pastel;
            color: $purple-deep;
        }

        & > *:nth-child(1) {
            padding: 0.2rem 1.6rem 0.4rem 1.6rem;
            border-radius: 0.8rem;
            font-size: 4.8rem;
            font-family: $displayFont;
            text-transform: uppercase;
            line-height: 1;
        }

        & > *:nth-child(2) {
            border-radius: 3.2rem 3.2rem;
            padding: 0.8rem 0.8rem 0.8rem 1.6rem;
            font-weight: 700;
        }
    }

    .speaker-profile-body {
        display: grid;
        gap: 0.1rem;
        border-radius: 0.8rem;
        background: $accent-yellow-pastel;
        overflow: hidden;

        .speaker-profile-row {
            background: white;
            display: grid;
            gap: 1.6rem;
            grid-template-columns: 1fr 3fr;
            align-content: center;
            padding: 1.2rem 1.6rem;
            text-transform: capitalize;
        }
    }

    .speaker-profile-row {
        color: $purple-deep;

        & > div:nth-child(1) {
            font-family: $headFont;
            font-weight: 700;
            padding-block-start: 0.2rem;
        }
    }

    & > a {
        @include link-button-deep;
        justify-self: end;
    }
}

.audios-list {
    display: grid;
    gap: 1.6rem;
}

.pronunciation-item-wrapper {
    display: grid;
    background: white;
    border-radius: 0.8rem;
    border: 0.1rem solid $accent-yellow;
    overflow: hidden;

    .pronunciation-audios {
        flex-shrink: 0;
        display: grid;
        gap: 0.4rem;
        justify-items: start;
        padding: 0.4rem 0.8rem;
        border-block-start: 0.1rem solid $purple-pastel;
        border-inline-start: none;
    }

    & > a {
        text-align: center;
        background: $purple-pastel-light;
        border-block-start: 0.1rem solid $purple-pastel;
        @include link-primary;

        &:hover {
            text-decoration: none;
            background: $purple-pastel;
        }
    }

    &.inline {
        display: flex;

        .pronunciation-item {
            flex-grow: 1;
        }

        .pronunciation-audios {
            border-block-start: none;
            border-inline-start: 0.1rem solid $purple-pastel;
        }
    }
}

.pronunciation-item {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    direction: rtl;
    padding: 0.4rem 1.6rem;
    gap: 1.6rem;
    background: $accent-yellow-pastel;

    .pronunciation-item-term {
        flex-basis: 15%;
        padding-block-start: 0.1rem;
        font-family: $ar_bodyFont;
        font-weight: 700;
        white-space: nowrap;
        padding-inline-end: 1.6rem;
        border-inline-end: 0.1rem solid $accent-yellow;
    }

    .pronunciation-item-dialect {
        padding-block-end: 0.1rem;
        font-family: $bodyFont;
        font-weight: 700;
        font-size: 1.4rem;
        white-space: nowrap;
    }

    .pronunciation-item-phonology {
        text-align: end;
        flex-grow: 1;
        font-family: $monoFont;
        font-size: 1.2rem;
    }

    .play {
        width: 2.8rem;
    }

    a {
        @include link-button-deep;
    }
}

.audio-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;

    .audio-item-phonology {
        font-family: $monoFont;
        font-size: 1.2rem;
        padding-inline-end: 0.8rem;
        border-inline-end: 0.1rem solid $accent-yellow
    }

    .audio-item-info {
        flex-grow: 1;
    }

    .audio-item-date {
        font-size: 1.2rem;
        font-style: italic;
    }

    .play {
        width: 2.4rem;
    }

    .trash {
        width: 1.6rem;
        cursor: pointer;
    }

    form {
        display: flex;
        align-items: center;
    }
}
