.deck-flashcard-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem 3.2rem;
    justify-content: center;
}

.deck-flashcard-wrapper {
    display: grid;
    justify-items: center;
    position: relative;
    border-radius: 1.2rem;
    gap: 0.8rem;
}

.deck-flashcard-controls {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.6rem;
    padding-inline: 0.4rem;

    .deck-item-container {
        font-size: 1em;

        .model-item-content {
            padding-inline: 1em;
            cursor: default;

            .lock {
                font-size: 1.75em;
            }
        }
    }

    .pin-counter {
        visibility: hidden;
    }

    & > .lock {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .material-symbols-rounded {
            border-radius: 50%;
            background: white;
            font-size: 2.5em;
            padding: 0.2em;
            color: var(--color-medium-secondary);
        }
    }
}

.deck-flashcard {
    width: 26rem;
    height: 32rem;
    border-radius: 1.2rem;
    perspective: 120rem;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    &.disabled {
        filter: opacity(0.5);
        pointer-events: none;
    }

    .deck-flashcard-front, .deck-flashcard-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.3s cubic-bezier(.25, .46, .45, .94);
        font-family: $headFont;
        text-align: left;
        display: grid;
        align-items: start;
        align-content: start;
        color: var(--color-dark-primary);
        background: white;
        border-radius: 1.2rem;
        border: 0.2rem solid var(--color-dark-primary);
        box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.25);
        overflow: hidden;
    }

    .deck-flashcard-front {
        .deck-flashcard-front-head {
            display: grid;
            gap: 0.4rem;
            background: var(--color-pastel-light);
            padding: 1.2rem;

            .deck-author-name {
                font-family: $bodyFont;
                font-size: 1.4rem;
            }
        }

        .deck-flashcard-front-body {
            padding: 1.2rem;
        }
    }

    .deck-flashcard-back {
        display: grid;
        gap: 1.2rem;
        padding: 1.6rem;
        grid-template-rows: 1fr min-content;
        font-family: $monoFont;
        text-align: center;
        padding-block-end: 0.8rem;
        background: var(--color-dark-primary);
        transform: rotateY(180deg);
        overflow: hidden;

        .deck-flashcard-back-terms {
            flex-grow: 1;
            direction: rtl;
            display: grid;
            align-content: start;
            width: 100%;
            font-size: 1.6rem;
            row-gap: 0.4rem;
            color: white;
            grid-template-columns: repeat(2, 1fr);
        }

        .deck-flashcard-back-count {
            color: var(--color-accent-medium);
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .deck-flashcard-action {
        color: white;
        font-size: 6.4rem;
        font-family: $displayFont;
        background: var(--color-dark-primary);
        padding-block: 50%;
        text-align: center;
        text-transform: uppercase;
    }

    &.flipped {
        .deck-flashcard-front {
            transform: rotateY(-180deg);
        }

        .deck-flashcard-back {
            transform: rotateY(0);
        }
    }

    .model-item-title {
        font-weight: 700;
        font-size: 1.6rem;
    }

    .item-description {
        font-family: $bodyFont;
        font-size: 1.2rem;
    }
}

.deck-item-container {
    font-family: $headFont;
}

.deck-item {
    .model-item-content {
        border-inline-end: 0.1rem solid var(--color-dark-primary);
    }

    .deck-author-name {
        font-family: $bodyFont;
        font-size: 1.5em;
        white-space: nowrap;
    }

    .deck-author-avatar {
        width: 5.25em;
        height: auto;
        border-radius: 0;
        cursor: pointer;
    }

    .deck-item-terms-count {
        color: var(--color-accent-medium);
        font-size: 1em;
        font-weight: 700;
    }

    .lock {
        color: var(--color-accent-medium);
        font-size: 1.5em;
    }
}

.dm-mode-study #dm-select .deck-item-grid-wrapper {
    & > button {
        color: white;
        background: var(--color-medium-secondary);
    }
}

#dm-select {
    display: grid;
    gap: 3.2rem;
    width: 100%;
    height: 100%;
    justify-items: center;
    grid-auto-rows: min-content;
    padding: 1.6rem 0;

    .deck-item-grid-wrapper {
        display: grid;
        justify-items: center;
        gap: 0.8rem;

        & > button {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            color: var(--color-dark-primary);
            background: var(--color-accent-medium);
        }
    }

    .deck-item-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 3.2rem;
        padding: 3.2rem;
    }

    .deck-item-grid.collapsed {
        width: 100%;
        flex-flow: row;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    @media (min-width: 960px) {
        padding: 0 1.6rem;
    }
}

#dm-build {
    display: grid;
    gap: 2.4rem;
    width: 100%;
    max-width: 96rem;
    justify-items: center;

}

#dm-study {
    display: grid;
    width: min(100%, 96rem);
    justify-items: center;

    .carousel {
        width: 100%;
        margin-block: 3.2rem;
    }

    .carousel__pagination {
        align-items: center;
        margin-block: 0 !important;
        gap: 0.4rem;
        flex-wrap: wrap;
        margin-inline: 1.6rem;
    }

    .carousel__pagination-item {
        padding: 0;
        flex-grow: 1;
        min-width: 0.8rem;
    }

    .carousel__pagination-button {
        padding: 0 !important;
        width: 100% !important;
    }

    .carousel__pagination-button::after {
        width: 100% !important;
        height: 0.4rem !important;
        border-radius: 3.2rem !important;
        background: white !important;
    }

    .carousel__pagination-button--active::after {
        height: 0.8rem !important;
        background: var(--color-medium-secondary) !important;
    }

    .carousel-index {
        color: var(--color-dark-primary);
        font-weight: 700;
        font-size: 2.4rem;
        font-family: $headFont;
    }

    & > button {
        width: 6.4rem;
        height: 6.4rem;
        font-size: 4.8rem;
        border-radius: 50%;
        color: white;
        background: var(--color-medium-secondary);
        margin-block: 6.4rem;

        &[disabled] {
            opacity: 50%;
            cursor: not-allowed;
        }
    }
}

.term-flashcard {
    margin-block: 3.2rem;
    width: min(100%, 64rem);
    aspect-ratio: 16/9;
    perspective: 120rem;
    cursor: pointer;
    user-select: none;

    &.flipped {
        .term-flashcard-front {
            transform: rotateX(180deg);
        }

        .term-flashcard-back {
            transform: rotateX(0);
        }
    }

    &.quiz-glosses, &.quiz-inflections {
        aspect-ratio: initial;

        .term-flashcard-back {
            display: flex;
            flex-flow: column;
            position: static;

            .term-flashcard-glosses {
                flex-grow: 1;
                min-height: 9.6rem;
                align-content: end;
                gap: 0.5em;

                input {
                    direction: rtl;
                    font-size: 1.8rem;
                    font-weight: 700;
                }
            }
        }
    }

    &.quiz-glosses {
        .term-flashcard-back {
            .term-flashcard-glosses {
                color: var(--color-medium-primary);
                font-size: 1.8rem;
                font-weight: 700;

                & > *:nth-child(2) {
                    border-block-end: 0.2rem dotted currentColor;
                }
            }
        }
    }
}

.term-flashcard-front, .term-flashcard-back {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    line-height: normal;
    border-radius: 1.2rem;
    border: 0.2rem solid var(--color-dark-primary);
    backface-visibility: hidden;
    box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
    transition: transform 0.3s cubic-bezier(.25, .46, .45, .94);
    font-family: $monoFont;
    font-size: 1.2rem;

    @media (min-width: 960px) {
        font-size: 1.6rem;
    }
}

.term-flashcard-front {
    align-content: center;
    justify-items: center;
    gap: 2em;
    padding: 2em 1em;
    background: var(--color-dark-primary);
    color: white;
    font-weight: 700;

    .term-flashcard-term {
        display: grid;
        justify-items: center;
        text-align: center;

        & > div:nth-child(1) {
            font-size: 3em;
        }

        & > div:nth-child(2) {
            font-size: 1.5em;
        }
    }

    .term-flashcard-inflections {
        gap: 2em;

        .term-flashcard-inflection-item {
            display: grid;
            justify-items: center;
            gap: 0;

            & > *:nth-child(1) {
                font-size: 1.5em;
            }
        }
    }
}

.term-flashcard-back {
    align-content: start;
    background: white;
    color: var(--color-dark-primary);
    font-family: $bodyFont;
    transform: rotateX(-180deg);
    overflow: hidden;

    .term-flashcard-head {
        display: flex;
        direction: rtl;
        flex-flow: row wrap;
        gap: 0 1em;
        padding: 0.75em 1em;
        background: var(--color-pastel-light);
    }

    .term-flashcard-headword {
        font-family: $monoFont;
        display: flex;
        align-items: center;
        gap: 0 0.5em;
        font-weight: 700;
        font-size: 1em;
        white-space: nowrap;

        & > *:nth-child(1) {
            font-size: 1.5em;
        }

        & > *:nth-child(2) {
            font-size: 1em;
        }
    }

    .term-flashcard-inflections {
        gap: 0 1em;
    }

    .term-flashcard-glosses {
        direction: ltr;
        display: grid;
        gap: 1em;
        padding: 1.5em;
        font-size: 1em;
        overflow: scroll;

        .term-flashcard-category {
            font-family: $headFont;
            font-weight: 700;
        }
    }
}

.term-flashcard-inflections {
    font-family: $monoFont;
    display: flex;
    align-items: center;
    font-weight: 700;
    flex-flow: row wrap;
    white-space: nowrap;

    .term-flashcard-inflection-item {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        & > *:nth-child(1) {
            font-size: 1em;
        }

        & > *:nth-child(2) {
            font-size: 0.75em;
        }
    }
}
