.decks-featured {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: auto;
    align-items: start;
    margin-block-end: 3.2rem;

    .deck-flashcard-grid {
        display: none;
    }

    @media (min-width: 960px) {
        grid-template-columns: 30% auto;

        .popular {
            grid-row: 2;
            grid-column: span 2;
        }

        .deck-flashcard-grid {
            display: flex;
        }
    }
}

.deck-flashcard-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem 3.2rem;
    justify-content: center;
}

.deck-flashcard-wrapper {
    display: grid;
    grid-template-rows: auto 2.4rem;
    justify-items: center;
    position: relative;
    border-radius: 1.2rem;
    gap: 0.4rem;

    &.active .deck-flashcard {
        outline: 0.8rem solid white;
    }

    .pin, .pin-counter, .lock {
        z-index: 1;
    }

    .pin {
        width: 3.6rem;
    }

    .pin-counter {
        top: 2.4rem;
    }

    .lock {
        top: -1.2rem;
        right: 0.8rem;
        width: 2.4rem;
    }

    .popup-menu-wrapper {
        width: 2.4rem;
    }
}

.deck-flashcard {
    width: 26rem;
    height: 32rem;
    border-radius: 1.2rem;
    perspective: 120rem;
    cursor: pointer;
    user-select: none;

    &.disabled {
        filter: grayscale(100%) brightness(1.25);
        pointer-events: none;
    }

    .deck-flashcard-front, .deck-flashcard-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.3s cubic-bezier(.25, .46, .45, .94);
        font-family: $headFont;
        text-align: left;
        display: grid;
        align-items: start;
        align-content: start;
        gap: 1.2rem;
        color: $purple-deep;
        background: white;
        border-radius: 1.2rem;
        border: 0.2rem solid $purple-primary-dark;
        box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.25);
    }

    .deck-flashcard-front {
        padding: 1.6rem;

        .deck-flashcard-front-head {
            display: grid;
            gap: 0.4rem;

            .deck-author {
                justify-self: end;
            }
        }

        .deck-flashcard-front-body {
            padding-block-start: 1.2rem;
            border-block-start: 0.2rem dotted $purple-primary-dark;
        }
    }

    .deck-flashcard-back {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-weight: 700;
        padding: 1.6rem;
        overflow: hidden;
        text-align: center;
        transform: rotateY(180deg);

        .deck-flashcard-back-terms {
            flex-grow: 1;
            font-family: $monoFont;
            direction: rtl;
            display: grid;
            align-content: start;
            width: 100%;
            padding-inline: 1.6rem;
            row-gap: 0.4rem;
            grid-template-columns: repeat(2, 1fr);
        }

        .deck-flashcard-back-count {
            color: $accent-yellow;
            text-transform: uppercase;
        }
    }

    .deck-flashcard-action {
        color: white;
        font-size: 6.4rem;
        font-family: $displayFont;
        background: $purple-deep;
        padding-block: 50%;
        text-align: center;
        text-transform: uppercase;
    }

    &.flipped {
        .deck-flashcard-front {
            transform: rotateY(-180deg);
        }

        .deck-flashcard-back {
            transform: rotateY(0);
        }
    }

    .item-title {
        font-weight: 700;
    }

    .item-description {
        font-size: 1.2rem;
    }
}

.deck-item-wrapper {
    margin: 1.6rem 0 calc(1.6rem + 0.3rem) 0.3rem;

    &.l {
        .deck-item .item-data {
            padding-block: 0.8rem
        }

        .deck-item .item-title {
            font-size: 1.6rem
        }
    }

    .pin {
        width: 3.6rem;
    }

    .pin-counter {
        bottom: -1.2rem;
    }

    .lock {
        top: -0.4rem;
        right: -1.2rem;
        width: 2.4rem;
    }
}

.lock {
    position: absolute;
    transition: 0.05s;
    cursor: pointer;

    &:hover {
        filter: brightness(1.25) saturate(1);
        opacity: 50%;
    }

    &.public {
        filter: brightness(1.5) saturate(0);
        opacity: 25%;

        &:hover {
            filter: brightness(1.25) saturate(1);
            opacity: 50%;
        }
    }
}

.deck-item {
    display: flex;
    flex-flow: row wrap;
    gap: 0.4rem 1.6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    border-radius: 1.2rem 3.6rem 3.6rem 1.2rem;
    direction: ltr;

    .item-data {
        gap: 0.4rem;

        .item-title {
            font-size: 1.4rem;
        }

        .item-description {
            font-size: 1.2rem;
        }
    }

    .deck-term-count {
        color: $yel;
        font-weight: 700;
    }
}

.deck-author {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .deck-author-name {
        font-size: 1.2rem;
    }

    .deck-author-avatar {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.pin-counter {
    position: absolute;
    left: -1.6rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $headFont;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;

    & > * {
        grid-column: 1;
        grid-row: 1;
    }

    img {
        width: 3.6rem;
    }
}

.deck-container {
    .deck-term-count {
        font-family: $headFont;
        font-weight: 700;
        color: $accent-yellow;
        text-align: right;
        margin-inline: 1.6rem
    }

    .tip {
        border: 0.1rem solid $purple-primary;
    }
}

.deck-container-head {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: space-between;
    padding-block-end: 0.8rem;
    border-block-end: 0.2rem dotted $purple-primary-dark;

    .deck-container-head-title {
        font-family: $headFont;
        text-transform: none;
        font-weight: 700;
        font-size: 2.8rem;
    }

    input.deck-container-head-title {
        width: 100%;
        padding: 0.8rem 1.2rem 0.4rem;
    }

    .pin {
        width: 4.8rem;
        top: -0.8rem;
        left: -2.4rem
    }

    .pin-counter {
        // Mobile
        top: -2.0rem;
        left: auto;
        right: 1.2rem;

        img {
            width: 4.8rem;
        }

        div {
            font-size: 1.6rem;
        }

        @media (min-width: 960px) {
            top: 3.6rem;
            left: -2.4rem;
            right: auto;
        }
    }

    .lock {
        width: 3.6rem;
        top: -2.0rem;
        right: 3.6rem;
    }
}

#dm-mode-toggle {
    height: 4.8rem;
    width: 24rem;
    border: 0.2rem solid $purple-deep;
    border-radius: 1.6rem;
    cursor: pointer;
    padding: 0.2rem;

    .dm-mode-toggle-slider {
        height: 100%;
        width: 50%;
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block-end: 0.2rem;
        font-family: $displayFont;
        font-size: 2.4rem;
        text-transform: uppercase;
        transition: 0.3s ease;

        color: white;
        background: $purple-primary;
        transform: translateX(0%);
    }

    &.study .dm-mode-toggle-slider {
        color: $purple-deep;
        background: $accent-yellow;
        transform: translateX(100%);
    }
}

#db-page-build {
    .db-item {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        img {
            width: 2.0rem;
        }
    }
}

.db-container, .cv-container {
    width: 100%;
}

#db-page-select, #cv-page-select {
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
    gap: 3.2rem;
    overflow: hidden;

    .deck-item-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 3.2rem;
        margin-block: 1.6rem;
    }

    .deck-item-grid .deck-flashcard-wrapper:not(.active).slide-out {
        transform: translateY(100vh);
        transition: transform 0.75s ease-in-out;
    }
}

#db-page-build {
    display: grid;
    gap: 2.4rem;
    justify-items: center;
}

#cv-page-study {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr min-content;
    gap: 2.4rem;

    @media (min-width: 1080px) {
        grid-template-columns: max(12.5%, 16rem) 1fr max(12.5%, 16rem);
        grid-template-rows: auto;
    }
}

.cv-box {
    align-self: start;
    display: grid;
    grid-template-rows: min-content;
    align-items: start;
    gap: 0.8rem;
    background: white;
    border-radius: 0.8rem;
    border: 2px solid $purple-primary-dark;
    box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.25);
    padding: 1.6rem 1.6rem 6.4rem;
    position: relative;

    .app-dialog-trigger {
        position: absolute;
        top: -1.6rem;
        right: 0;
        width: 3.2rem;
    }

    & > div:nth-child(1) {
        font-weight: 700;
        font-size: 2.0rem;
        font-family: $headFont;
        padding-block-start: 0.2rem;
        margin-inline-end: 1.6rem;
        color: $purple-primary;
    }

    & > div:nth-child(2) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 0.8rem 1.6rem;

        button {
            color: white;
            background: $purple-primary;
            padding: 0.4rem 0.8rem;
            font-weight: 700;
            border-radius: 0.4rem;
        }

        @media (min-width: 1080px) {
            display: grid;
        }
    }

}

.term-flashcard-wrapper {
    display: grid;
    justify-items: center;
    gap: 0.8rem;
    width: 100%;
    padding-block: 1.6rem;

    .play {
        width: 2.8rem;
    }
}

.term-flashcard {
    width: min(100%, 64rem);
    height: 36rem;
    perspective: 120rem;
    cursor: pointer;
    user-select: none;

    .term-flashcard-front, .term-flashcard-back {
        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;
        line-height: normal;
        font-family: $monoFont;
        border-radius: 1.2rem;
        border: 0.2rem solid $purple-deep;
        backface-visibility: hidden;
        box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
        transition: transform 0.3s cubic-bezier(.25, .46, .45, .94);
    }

    .term-flashcard-front {
        align-content: center;
        justify-items: center;
        gap: 3.2rem;

        padding: 3.2rem 1.6rem;
        background: $purple-deep;
        color: white;
        font-weight: 700;

        .term-flashcard-term {
            display: grid;
            justify-items: center;
            text-align: center;

            & > div:nth-child(1) {
                font-size: 4.8rem;
            }

            & > div:nth-child(2) {
                font-size: 2.0rem;
            }
        }

        .term-flashcard-inflections {
            gap: 3.2rem;

            .term-flashcard-inflection-item {
                display: grid;
                justify-items: center;
                gap: 0;

                & > *:nth-child(1) {
                    font-size: 2.4rem;
                }
            }
        }

        @media (min-width: 720px) {
            .term-flashcard-term > div:nth-child(1) {
                font-size: 6.4rem;
            }

            .term-flashcard-term > div:nth-child(2) {
                font-size: 2.4rem;
            }
        }
    }

    .term-flashcard-back {
        align-content: start;
        gap: 3.2rem;
        padding: 3.2rem;
        background: white;
        color: $purple-deep;
        font-family: $bodyFont;
        transform: rotateX(-180deg);

        .term-flashcard-head {
            display: grid;
            gap: 0.8rem;
            padding-block-end: 1.6rem;
            border-block-end: 2px dotted $accent-yellow;
        }

        .term-flashcard-headword {
            font-family: $monoFont;
            display: flex;
            align-items: center;
            gap: 0 0.8rem;
            font-weight: 700;
            font-size: 1.6rem;
            flex-flow: row wrap;
            white-space: nowrap;

            & > *:nth-child(1) {
                font-size: 2.4rem;
            }

            & > *:nth-child(2) {
                font-size: 1.6rem;
            }
        }

        .term-flashcard-glosses {
            display: grid;
            gap: 1.6rem;
            overflow: scroll;

            & > *:nth-child(1) {
                font-family: $headFont;
                font-weight: 700;
                font-size: 1.6rem;
            }
        }

        .term-flashcard-inflections {
            margin-inline-start: 1.6rem;
            gap: 0 1.6rem;
        }
    }

    .term-flashcard-inflections {
        font-family: $monoFont;
        display: flex;
        align-items: center;
        font-weight: 700;
        flex-flow: row wrap;
        white-space: nowrap;

        .term-flashcard-inflection-item {
            display: flex;
            align-items: center;
            gap: 0.6rem;

            & > *:nth-child(1) {
                font-size: 1.6rem;
            }

            & > *:nth-child(2) {
                font-size: 1.2rem;
            }
        }
    }

    &.flipped {
        .term-flashcard-front {
            transform: rotateX(180deg);
        }

        .term-flashcard-back {
            transform: rotateX(0);
        }
    }
}

.carousel {
    display: grid;
    grid-template-rows: auto min-content min-content;
    gap: 1.6rem 0;
}

.carousel__track {
    height: 100%;
}

.carousel__slide {
    padding: 0 1.6rem;
}

.carousel__pagination {
    align-items: center;
    margin-block: 0 !important;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.carousel__pagination-item {
    padding: 0;
    flex-grow: 1;
    min-width: 0.8rem;
}

.carousel__pagination-button {
    padding: 0 !important;
    width: 100% !important;
}

.carousel__pagination-button::after {
    width: 100% !important;
    height: 0.4rem !important;
    border-radius: 3.2rem !important;
    background: white !important;
}

.carousel__pagination-button--active::after {
    height: 0.8rem !important;
    background: $purple-primary !important;
    //height: 3.2rem !important;
    //background: url(../../public/img/watermelon.svg) no-repeat center center !important;
}

.carousel-index {
    color: $purple-deep;
    font-weight: 700;
    font-size: 2.4rem;
    font-family: $headFont;
}
