body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: $bodyFont;
    font-size: 1.6rem;
    hyphens: auto;
    margin: 0;
    background: var(--color-pastel-light);
}

#app-container {
    display: grid;
    min-height: calc(100vh - 3.6rem);
    grid-template-rows: min-content 1fr;
    align-content: start;

    &.academy, &.workbench:has(.dm-mode-study) {
        background: var(--color-accent-medium);
    }

    &.library, &.community, &.wiki {
        background: linear-gradient(90deg, #f6f6f6 calc(2.4rem - 0.3rem), transparent 1%) center / 2.4rem 2.4rem, linear-gradient(#f6f6f6 calc(2.4rem - 0.3rem), transparent 1%) center / 2.4rem 2.4rem, var(--color-pastel-medium);
        background-attachment: fixed;

        #app-head {
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;

            h1 {
                font-size: clamp(4.8rem, 12vw, 12.8rem);
            }
        }
    }

    &.community {
        background: var(--color-accent-light);
    }

    &.workbench {
        background: var(--color-medium-primary);
    }

    &.account {
        background: var(--color-pastel-light);

        @media (max-width: 959px) {
            #app-body > .app-tip {
                border-radius: 0;
                border: none;
                box-shadow: 0 0.2rem 0 rgba(black, 0.1);
            }
        }
    }

    &.wiki {
        background: var(--color-pastel-light);

        #app-head {
            display: flex;
            gap: 1.6rem;
            width: 100%;
            max-width: 128rem;
            justify-self: center;

            h1 {
                padding: 0 1.6rem;
                text-align: start;
            }
        }
    }
}

#app-head {
    background: white;
    padding: 1.6rem 3.2rem 2.4rem;
    border-block-end: 0.2rem solid var(--color-dark-primary);
    box-shadow: 0 0.4rem 0 rgba(black, 0.25);
    display: grid;
    justify-items: center;
    position: relative;
    z-index: 1;

    h1 {
        text-align: center;
        font-family: $displayFont;
        font-weight: 400;
        font-size: clamp(4.8rem, 10vw, 6.4rem);
        line-height: 1.2em;
        margin: 0;
        padding-block-end: 0.8rem;
        color: var(--color-dark-primary);
    }
}

#app-body {
    display: grid;
    grid-auto-rows: min-content;
    align-items: start;
    justify-items: center;
    height: 100%;
    padding-block: 0;
    position: relative;

    .app-body-section {
        width: min(100%, 96rem);
        padding: 1.6rem;
    }

    @media (min-width: 960px) {
        gap: 3.2rem;
        padding: 3.2rem;

        .app-body-section {
            padding: 0;
        }
    }

    & > .app-tip {
        margin-inline: 0.8rem;
    }
}

.app-body-section {
    #paginator .pagination {
        margin-block: 3.2rem;
        height: 4.8rem;

        & > * {
            width: 4.8rem;
            border-radius: 50%;
            background: none;
            color: var(--color-dark-primary);

            &:not(.active):hover {
                color: inherit;
            }

            &.active {
                color: var(--color-medium-primary);
            }
        }
    }
}

#app-body.homepage {
    background: var(--color-accent-medium);
    padding: 0;
    gap: 0;
}

.homepage-hero-wrapper {
    width: 100%;
    max-width: 96rem;
    display: grid;
    gap: 6.4rem;
    justify-items: center;
    margin-block: 6.4rem 12.8rem;

    .homepage-hero {
        width: 90%;
        display: grid;

        .logo {
            animation: bounceIn 0.5s;
            z-index: 1;

            @include pop-on-hover;
        }

        h1 {
            text-align: center;
            text-transform: none;
            font-family: $headFont;
            font-size: clamp(1.8rem, 4vw, 3.2rem);
            margin-inline-start: 17.5%;
            margin-block-start: -1.5em;
            padding: 0.75em;
            line-height: 1.25;
            color: var(--color-dark-primary);
            background: white;
            filter: drop-shadow(-0.25em 0.25em 0 rgba(black, 0.25));
            position: relative;

            img {
                position: absolute;
                bottom: -25%;
                left: -7.5%;
                width: 3em;
            }

            .typing-cursor {
                transition: opacity 0.2s;
            }
        }
    }
}

.homepage-section {
    width: 100%;
    display: grid;
    gap: 6.4rem;
    justify-items: center;
    padding: 6.4rem 3.2rem;
    position: relative;

    & > .popout {
        position: absolute;

        // Mobile
        width: 6.4rem;
        top: -3.2rem;
        right: 5%;
    }


    div:has(.world) {
        display: flex;
        gap: 1.6rem;
        position: absolute;
        top: -3.2rem;

        .world {
            width: 6.4rem;
            transition: 0.2s cubic-bezier(.68, -0.55, .27, 1.55);

            &:hover {
                transform: scale(1.05) rotate(-3deg);
            }
        }
    }

    &.pastel-light {
        background: var(--color-pastel-light);
    }

    &.accent-light {
        background: var(--color-accent-light);
    }

    @media (min-width: 960px) {
        gap: 12.8rem;
        padding: 12.8rem 6.4rem 12.8rem;

        & > .popout {
            width: 9.6rem;
            top: -4.8rem;
            right: 10%;
        }
    }
}

.homepage-panel-wrapper {
    width: min(100%, 128rem);
    display: grid;
    gap: 4.8rem 6.4rem;

    &.inline {
        grid-template-columns: auto;
        max-width: 128rem;

        @media (min-width: 960px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.reverse {
        direction: rtl;
    }

    .homepage-panel-content {
        width: 100%;
        text-align: start;
        font-size: clamp(3.6rem, 8vw, 4.8rem);

        & > video, & > img {
            width: 100%;
            border-radius: 0.25em;
        }
    }
}

.homepage-panel-content {
    display: grid;
    gap: 0.8rem;
    align-content: start;
    text-align: center;
    position: relative;
    direction: ltr;
    font-size: clamp(5.6rem, 10vw, 6.4rem);

    .feature-panel-title {
        color: var(--color-dark-primary);
        font-family: $displayFont;
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        padding-block-end: 0.0625em;
        hyphens: none;
    }

    .feature-panel-subtitle {
        font-family: $headFont;
        font-size: 0.5em;
        font-weight: 700;
        line-height: 1.2em;
        color: var(--color-medium-primary);
        padding-block-start: 0.125em;
        hyphens: none;
    }

    .feature-panel-description {
        font-family: $bodyFont;
        font-size: 0.4em;
        line-height: 1.75;
        margin-block-start: 0.5em;
    }

    .feature-preview {
        display: none;
    }

    @media (min-width: 960px) {
        .feature-preview {
            display: block;
        }
    }

    .app-button {
        font-size: 2.4rem;
    }
}

.homepage-section:has(.faq-panel) {
    padding: 0;
}

.faq-panel {
    margin-block-start: -12.8rem;
    width: min(100%, 96rem);
    background: white;
    text-align: start;
    padding: 6.4rem 6.4rem 9.6rem;

    .feature-panel-title {
        text-align: center;
    }

    .feature-panel-subtitle {
        font-size: 0.4em;
        margin-block-start: 2em;
    }

    .feature-panel-description {
        font-family: $bodyFont;
        font-size: 0.3em;
    }

    @media (min-width: 960px) {
        border-radius: 1.6rem;
        padding: 6.4rem 9.6rem 12.8rem;
    }
}

.model-counter-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: clamp(6rem, 12vw, 8rem);
    gap: 0.25em 0.5em;

    @media (min-width: 960px) {
        gap: 1.6rem 9.6rem
    }
}

.model-counter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 2.75em;
    width: 2.75em;
    border-radius: 50%;
    background: white;
    user-select: none;
    transition: 0.1s ease-in-out;

    &:hover {
        translate: 0.1em -0.1em;
        filter: drop-shadow(-0.1em 0.1em 0 var(--color-pastel-light));
    }

    .model-counter-count {
        color: var(--color-dark-primary);
        font-family: $displayFont;
        font-size: 1em;
        line-height: 0.75;
    }

    .model-counter-body {
        display: grid;
        justify-items: center;

        .model-counter-model {
            color: var(--color-medium-primary);
            font-family: $displayFont;
            font-size: 0.5em;
            line-height: 1.25;
            hyphens: none;
        }
    }
}

.footer-container {
    align-self: end;
    display: grid;
    gap: 6.4rem;

    font-family: $headFont;
    color: white;
    font-size: 1.6rem;
    padding: 4.8rem min(5vw, 3.6rem) 0;
    //margin-block-start: calc(2 * 3.2rem + 1.6rem);
    background: var(--color-medium-secondary);
    position: relative;

    .footer-social {
        align-self: center;
        justify-self: end;
        display: flex;
        gap: 0.8rem;
        transition: 0.1s;
        margin-block-end: -3.2rem;

        img {
            width: 4.8rem;
            transition: 0.1s;

            &:hover {
                transform: rotate(-10deg);
            }
        }
    }

    .footer-body {
        display: grid;
        gap: 6.4rem;
    }

    .footer-hero {
        display: grid;
        gap: 1.6rem;
        width: 100%;
        max-width: 64rem;

        .footer-hero-title {
            font-size: clamp(8.0rem, 18vw, 12.8rem);
            font-weight: 700;
            font-family: $logoFont;
            text-transform: lowercase;
            margin-inline-start: 0.4rem;
            filter: drop-shadow(-0.075em 0.075em 0 rgba(0, 0, 0, 0.25));
        }

        .footer-hero-subtitle {
            font-family: $monoFont;
            font-size: 1.4rem;
            line-height: 1.75;
        }
    }

    .footer-links-wrapper {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 33%;
        display: grid;
        gap: 1.6rem;
        grid-template-columns: repeat(2, 1fr);
        padding-block-end: 1.6rem;
    }

    .footer-links {
        display: grid;
        align-content: start;
        justify-content: start;
        gap: 0.8rem;

        .footer-links-title {
            color: var(--color-accent-medium);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.0rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .footer-bottom {
        font-size: 1.2rem;
        text-align: center;
        border-block-start: 0.3rem dotted var(--color-accent-medium);
        padding-block: 1.6rem;
    }

    @media print {
        display: none;
    }

    @media (min-width: 1280px) {
        .footer-social {
            position: absolute;
            top: -2.4rem;
            right: 4.8rem;
        }

        .footer-body {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .footer-links-wrapper {
                flex-grow: 0;
            }
        }
    }
}
