nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 0.8rem;
    font-weight: 700;
}

.nav-sticky {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    background: var(--color-medium-secondary);
    width: 100%;
    height: 3em;
    font-size: 1.6rem;
    z-index: 999;
    user-select: none;

    .nav-sticky-buttons {
        display: flex;
        justify-content: flex-end;

        & > button {
            color: white;
            font-size: 1.5em;
            width: 2em;

            &:hover {
                color: var(--color-dark-primary);
                background: var(--color-accent-medium);
            }
        }
    }

    @media (min-width: 960px) {
        font-size: 1.2rem;
    }
}

.nav-sticky-info {
    display: flex;
    font-family: $monoFont;

    & > * {
        align-items: center;
    }

    & > *:nth-child(1) {
        background: var(--color-dark-secondary);
        padding-inline: 1.6rem;

        display: none;

        @media (min-width: 960px) {
            display: flex;
        }
    }

    .connection-status {
        display: flex;
        color: var(--color-medium-primary);
        background: var(--color-dark-primary);
        padding-inline: 1.2rem;
        font-size: 2.0rem;

        @media (min-width: 960px) {
            font-size: 1.6rem;
        }
    }

    a {
        display: flex;
        padding-inline: 1.6rem;
    }

    a:hover {
        text-decoration: 0.1rem solid underline;
    }
}

.nav-sidebar-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
    z-index: 999;

    .nav-sidebar {
        grid-area: 1 / 1;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        max-height: 100vh;
        transition: transform 0.3s ease-in-out;
        z-index: 999;

        // Mobile
        width: 100%;
    }

    .nav-overlay {
        grid-area: 1 / 1;
        z-index: 998;
        width: 100%;

        // Mobile
        display: none;
    }

    &.show {
        .nav-sidebar {
            // Mobile
            transform: translateX(-100vw);
        }

        .nav-overlay {
            opacity: 1;
            transform: translateX(-100vw);
            transition: opacity 0.3s ease-in-out;
        }
    }

    @media (min-width: 960px) {
        .nav-sidebar {
            width: 36rem;
            border-inline-start: 0.2rem solid var(--color-dark-primary);
        }

        .nav-overlay {
            display: block;
            transform: translateX(-200vw);
        }

        &.show {
            .nav-sidebar {
                transform: translateX(-36rem);
            }
        }
    }
}

.nav-sidebar-head {
    display: flex;
    align-items: center;
    background: var(--color-medium-secondary);
    color: white;
    font-family: $monoFont;
    font-size: 1.6rem;
    font-weight: 700;
    height: 3em;

    div {
        text-transform: uppercase;
        flex-grow: 1;
        font-size: 1.6rem;
        padding-inline: 1.6rem;
        user-select: none;

        a {
            font-size: 1.2rem;
            color: var(--color-pastel-medium);
        }
    }

    & > button {
        color: white;
        font-size: 1.5em;
        width: 2em;
        height: 100%;

        &:hover {
            color: var(--color-dark-primary);
            background: var(--color-accent-medium);
        }
    }

    @media (min-width: 960px) {
        font-size: 1.2rem;

        div {
            padding-inline: 1.2rem;
        }
    }
}

.nav-sidebar-body {
    display: grid;
    grid-auto-rows: max-content;
    gap: 3.2rem;
    background: white;
    box-shadow: 0 0.3rem 0 rgba(black, 0.25);
    padding: 1.6rem;
    flex-grow: 1;
    overflow: scroll;
    position: relative;

    .nav-carousel-wrapper {
        display: grid;
        gap: 1.6rem;
        border-block-end: 0.2rem solid var(--color-accent-medium);
    }

    .nav-carousel-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            flex-grow: 1;
            text-align: right;
        }

        & > * {
            color: var(--color-dark-primary);
            font-family: $monoFont;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    li.carousel__slide {
        display: grid;
        align-content: start;
        grid-auto-columns: 1fr;
        font-family: $headFont;
        padding-inline: 0 !important;
    }

    li.carousel__slide.nav-carousel-slide {
        grid-template-areas: 1 / 1;
        display: grid;

        .nav-carousel-section {
            grid-area: 1 / 1;
            background: white;
            height: 100%;
        }
    }

    .nav-carousel-page-item {
        padding: 1.2rem 2.0rem;
        user-select: none;
        color: var(--color-dark-primary);
        display: grid;
        gap: 0.4rem;
        padding-block-start: 2.4rem;
        cursor: pointer;

        &:hover {
            background: var(--color-accent-light);
        }

        *:first-child {
            font-weight: 700;
            font-size: 2.4rem;
            color: var(--color-dark-primary);

        }

        *:last-child {
            font-size: 1.2rem;
            font-family: $monoFont;
            line-height: 1.25;
        }

        &[disabled='true'], &.disabled {
            opacity: 50%;
            cursor: not-allowed;
            filter: grayscale(100%);
        }

        &.active {
            background: var(--color-dark-primary);
            color: white;

            *:first-child {
                font-size: 2.4rem;
                color: var(--color-accent-medium);
            }
        }
    }
}

.nav-overlay {
    background: var(--color-transparent);
    display: grid;

    gap: 6.4rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0s ease-in-out 0.3s;
    user-select: none;

    // Mobile
    padding: 3.2rem;
}

.nav-portal-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 1.6rem 0.8rem;

    .nav-portal {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-areas: 1fr / 1fr;
        cursor: pointer;

        & > * {
            grid-area: 1 / 1;
        }

        div {
            text-transform: uppercase;
            font-family: $displayFont;
            font-size: 3.6rem;
            line-height: 0.8;
            padding-inline: 0.8rem;
            padding-block-end: 0.4rem;
            color: var(--color-polar-light);
            background: var(--color-medium-secondary);
        }

        img {
            width: 8.0rem;
        }

        &:hover div {
            color: var(--color-medium-secondary);
            background: var(--color-accent-light);
        }
    }
}

.nav-user-menu {
    display: grid;
    gap: 0.8rem;
    padding-block-end: 0.8rem;
    border-block-end: 0.2rem solid var(--color-accent-medium);

    .nav-user-menu-head {
        font-family: $monoFont;
        font-size: 2.0rem;
        font-weight: 700;
        padding: 0.8rem 1.6rem;
        color: var(--color-polar-light);
        background: var(--color-medium-secondary);
    }

    .nav-user-menu-items {
        display: grid;

        & > * {
            font-family: $monoFont;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 0.6rem 1.2rem;
            color: var(--color-dark-primary);
            text-align: start;

            &:hover {
                background: var(--color-accent-light);
            }
        }
    }
}

@media (min-width: 960px) {
    .nav-sidebar {
        box-shadow: -0.3rem 0 0 rgba(black, 0.25);

        .featured-title {
            justify-self: auto;
        }

        .user-scorecard {
            flex-grow: 1
        }

        .join-button {
            display: block;
        }
    }

    .nav-overlay {
        padding: 6.4rem;

        .nav-user-options-section {
            width: 66%;
            gap: 3.2rem 6.4rem;

            .nav-user-options-row .nav-user-options-row-content {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
