.rw-container {
    background: var(--color-dark-primary);

    .window-page-nav {
        grid-template-columns: min-content 1fr 1fr 1fr 1fr min-content;
        background: none;

        & > * {
            padding-block: 0.8rem;
        }

        button {
            color: white;

            &:hover {
                background: none;
                color: var(--color-accent-medium);
            }

            &[disabled] {
                opacity: 0.5;
            }
        }

        div {
            border-radius: 0.8rem 0.8rem 0 0;

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    .window-section-head:has(h1) {
        font-size: clamp(3.6rem, 8vw, 4.8rem);
        height: 1.75em;
        justify-content: center;

        h1 {
            flex-grow: 0;
            font-family: $displayFont;
            font-weight: 400;
        }
    }

    .window-section-head:has(h2) {
        border: none;
    }

    @media (min-width: 960px) {
        border-radius: 1.6rem;
    }
}

//.rw-page-content,
//.rw-page-loading {
//    min-height: 24rem;
//    display: grid;
//    background-color: #ffffff;
//    border-radius: 1.6rem;
//    border: 0.2rem solid var(--color-dark-primary);
//    box-shadow: -0.4rem 0.4rem 0 0 rgba(black, 0.25);
//    overflow: clip;
//}

.rw-page__speaker {
    background: white;

    .user-item {
        padding-block: 3.2rem;
    }

    a {
        color: var(--color-dark-primary);
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

.rw-test-booth {
    display: grid;
    grid-template-areas: 'overlap';
    justify-items: center;
    align-items: center;

    & > * {
        grid-area: overlap;
    }

    .rw-test-booth-prompt {
        width: 9.6rem;
        z-index: 1;
    }
}

.rw-test-status {
    padding: 2.4rem;
    display: flex;
    align-items: center;
    border-block-start: 0.1rem solid var(--color-accent-medium);
    background: var(--color-accent-light);

    .rw-test-status-info {
        flex-grow: 1;

        div:nth-child(1) {
            color: var(--color-dark-primary);
            font-family: $headFont;
            font-weight: 700;
            font-size: 2.0rem;
        }

        div:nth-child(2) {
            font-size: 1.4rem;
        }
    }

    .rw-test-button {
        cursor: pointer;
        width: 4.8rem;

        &.disabled {
            cursor: not-allowed;
        }
    }
}

.rw-page__queue {
    display: grid;
    background: white;
}

.rw-queue-body {
    padding: 1.6rem 2.4rem;
    display: grid;
    border-block-end: 0.1rem solid var(--color-accent-medium);

    p {
        margin-block: 0;
        font-size: 1.6rem;
    }
}

.rw-queue-foot {
    padding-inline: 2.4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    .rw-queue-buttons {
        display: flex;
        gap: 1.6rem
    }

    button {
        @include link-purple-deep;

        &[disabled] {
            text-decoration: none;
            opacity: 33%;
        }
    }

    .rw-item-counter {
        margin-block: 1.6rem;
        color: var(--color-medium-primary);
        font-family: $headFont;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        padding-block-start: 0.2rem;
    }
}

#rw-item-queue {
    column-count: 1;
    list-style: none;

    li.draggable-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.8rem;
        padding-block: 1.0rem;
        font-size: 1.2rem;
        font-family: $monoFont;

        div > span {
            font-size: 1.6rem;
            font-family: $ar_bodyFont;
            font-weight: 700;
        }

        & > div {
            direction: rtl;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            flex-grow: 1;
            text-align: start;
        }

        .material-symbols-rounded {
            font-size: 1.25em;
        }
    }

    @media (min-width: 960px) {
        column-count: 3;
    }
}

.rw-page__record {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--color-accent-medium);
    gap: 0.1rem;

    section {
        background: white;
    }

    section:last-child {
        display: grid;
        grid-template-rows: auto min-content min-content;
    }

    @media (min-width: 960px) {
        grid-template-columns: 1fr 2fr;

        section:first-child {
            .rw-record-queue {
                display: grid;
            }
        }

        section:last-child {
            max-width: 100%;
            width: 100%;
        }
    }
}

.rw-record-queue {
    display: flex;
    padding: 0.8rem;
    max-height: 48rem;
    position: relative;
    overflow: scroll;

    @media (min-width: 960px) {
        display: grid;
    }

    & > div {
        user-select: none;
        padding: 0.8rem 3.2rem;
        border-radius: 0.8rem;
        font-family: $ar_bodyFont;
        white-space: nowrap;
        //overflow-x: scroll;

        &.selected {
            background-color: var(--color-dark-primary);
            color: white;
            font-weight: 700;
        }

        &.stashed {
            color: var(--color-accent-medium);
            font-weight: 700;
        }

        &:not(.selected):hover {
            cursor: pointer;
            background: var(--color-accent-light);
        }

        &.mwe-rws-stashing,
        &.mwe-rws-stashed {
            color: #9daed2;
        }

        &.mwe-rws-stashing:hover,
        &.mwe-rws-stashed:hover,
        &.mwe-rws-stashing.mwe-rw-selected,
        &.mwe-rws-stashed.mwe-rw-selected {
            color: #174499;
        }

        //&:before {
        //    position: absolute;
        //    top: 8px;
        //    left: 13px;
        //
        //    content: '';
        //    width: 16px;
        //    height: 16px;
        //
        //    background-position: center;
        //    background-repeat: no-repeat;
        //}
    }

    i {
        display: none;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;

        //&.mwe-rwp-play {
        //    top: 4px;
        //    right: 8px;
        //    background-image: url('../icons/play.svg');
        //}
        //
        //&.mwe-rws-again {
        //    top: 4px;
        //    right: 8px;
        //    background-image: url('../icons/status-replay.svg');
        //}
    }
}

.rw-record-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
    gap: 1.6rem;
    background: var(--color-accent-light);

    .rw-record-item {
        flex-grow: 1;
        background: white;
        border-radius: 1.6rem;
        padding: 1.6rem;
        text-align: center;

        & > div:nth-child(1) {
            font-size: 3.2rem;
            font-family: $ar_bodyFont;
            font-weight: 700;
        }

        & > div:nth-child(2) {
            font-size: 2.0rem;
        }
    }

    .arrow {
        cursor: pointer;
        width: 3.2rem;

        &.disabled {
            visibility: hidden;
        }
    }
}

.rw-actions {
    &.disabled {
        background: var(--color-accent-light);

        & > * {
            visibility: hidden;
        }
    }

    .rw-actions-title {
        background: var(--color-pastel-light);
        color: var(--color-medium-primary);
        font-family: $headFont;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.6rem 1.2rem 0.4rem;
    }

    .rw-actions-content {
        display: flex;
        align-items: center;
        padding: 1.6rem;
        gap: 3.2rem;
        height: 6.4rem;

        font-size: 1.4rem;
        font-family: $headFont;
        color: var(--color-medium-primary);

        .rw-actions-bar {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 0.8rem;
        }
    }

    .wizard-progress-container {
        width: 100%;
        background-color: var(--color-accent-light);
        border-radius: 3.2rem;
        height: 1.6rem;
        overflow: hidden;
    }

    .wizard-progress-bar {
        height: 100%;
        background: var(--color-medium-primary);
        transition: width 0.3s ease;

        &.complete {
            background: var(--color-accent-medium);
        }
    }

    .toggle-record,
    .is-recording,
    .audio,
    .upload {
        cursor: pointer;
        width: 3.2rem;
    }

    .trash {
        cursor: pointer;
        width: 2.4rem;
    }
}

//.rw-record-queue li.mwe-rws-stashing::before,
//.rw-record-queue li.mwe-rwp-uploading::before,
//.rw-record-queue li.mwe-rwp-finalizing::before,
//.mwe-rw-progresscounter i {
//    width: 14px;
//    height: 14px;
//    background-size: 14px 14px;
//    background-image: url('../icons/spinner.svg');
//    animation: spinner 1s infinite steps(8);
//}
//
//.rw-record-queue li.mwe-rws-stashed::before,
//.rw-record-queue li.mwe-rwp-done::before {
//    background-image: url('../icons/download-done.svg');
//}
//
//.rw-record-queue li.mwe-rw-error::before,
//.mwe-rw-errorcounter i {
//    width: 16px;
//    height: 16px;
//    background-image: url('../icons/error.svg');
//    background-size: 16px 16px;
//}
//
//.mwe-rws-recording .rw-record-queue li.mwe-rw-selected::before,
//#mwe-rwp-list li.mwe-rw-selected:not(.mwe-rwp-uploading):not(.mwe-rwp-finalizing)::before {
//    background-image: url('../icons/play.svg');
//}

/* action icons */

.rw-record-queue li.mwe-rws-stashing:hover i.mwe-rws-again,
.rw-record-queue li.mwe-rws-stashed:hover i {
    display: inline-block;
    cursor: pointer;
}

.mwe-rw-warning {
    position: relative;
    margin: 22px 0px;
    padding: 14px 0px 12px 50px;
    border-radius: 5px;
    border: solid 1px #ffcc33;
    background-color: #fff9e5;

    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    color: #c99d18;
}

//.mwe-rw-warning::before {
//    content: '';
//
//    width: 20px;
//    height: 20px;
//    background-image: url('../icons/error.svg');
//    background-size: 20px 20px;
//
//    position: absolute;
//    left: 16px;
//}

.wizard-select {
    display: flex;
    gap: 0.8rem;

    .wizard-button {
        background: var(--color-accent-light);
        color: var(--color-dark-primary);
        filter: drop-shadow(0 0.3rem 0 var(--color-accent-medium));

        &.selected {
            background: var(--color-accent-medium);
            filter: none;
            translate: none;
        }
    }
}

.wizard-button {
    justify-self: center;
    font-family: $headFont;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--color-medium-secondary);
    color: white;
    filter: drop-shadow(0 0.3rem 0 var(--color-dark-primary));
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    translate: 0 -0.3rem;
    cursor: pointer;
    transition: translate 0.05s, filter 0.05s;

    &:hover {
        filter: none;
        translate: none;
    }

    &[disabled] {
        background: var(--color-pastel-dark);
        filter: none;
        translate: none;
        cursor: not-allowed;
    }
}

/* Animations */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flasher {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rw-page__check {
    background: white;
}

.rw-page__check #rw-item-queue {
    column-count: 1;
}

//.oo-ui-icon-ll-list {
//    background-image: url('../icons/ll-mini.svg');
//}
//
//.oo-ui-icon-ll-nearby {
//    background-image: url('../icons/explore.svg');
//}
//
//.oo-ui-icon-ll-wmcategory {
//    background-image: url('../icons/wikipedia.svg');
//}

/* PUBLISH */
.rw-record-item {
    word-break: break-all;
}

#mwe-rwp-list .oo-ui-checkboxInputWidget {
    position: absolute;
    right: 4px;
    top: 4px;
}

@media screen and (max-width: 799px) {
    #mwe-rw-publish .rw-section-container {
        flex-direction: column;
        height: 640px;
    }
    #mwe-rw-publish section:first-child {
        width: 100%;
        max-height: 33%;
        border-right: 0px;
        border-bottom: 1px solid rgba(156, 173, 210, 0.5);
    }
    #mwe-rw-publish section:last-child {
        max-width: 100%;
        width: 100%;
    }
}

#mwe-rws-record {
    margin-right: 18px;
}

#rw-vumeter {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    li {
        width: 0.8rem;
        padding-block: 1.2rem;
        border-radius: 3.2rem;
        background: var(--color-accent-light);
    }

    &.recording li {
        background: var(--color-pastel-medium);

        &.active {
            background: var(--color-medium-primary);
        }
    }

    &.saturated li,
    &.saturated li.active {
        background: red;
    }
}

#mwe-rws-record-indicator {
    color: #ff0000;
    font-weight: bold;
}


.mwe-rw-othercounter {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 17px;
    width: 120px; /* hack to avoid text going back to a new line in most cases */
}

.mwe-rw-othercounter i {
    display: inline-block;
}

.oo-ui-popupWidget-body {
    overflow-x: hidden;
}

.mwe-rw-topicon {
    display: block;
    cursor: pointer;

    width: 35px;
    height: 35px;
    padding: 0;

    background-position: center;
    background-repeat: no-repeat;
}

//#mwe-rws-settings {
//    background-image: url('../icons/settings.svg');
//    background-size: 30px 30px;
//    margin-right: 10px;
//}
//
//#mwe-rws-shortcuts {
//    background-image: url('../icons/keyboard.svg');
//    background-size: 35px 35px;
//}

/* Shortcuts dialog box */
#mwe-rws-shortcuts-content {
    padding: 30px;
}

#mwe-rws-shortcuts-content h4 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

#mwe-rws-shortcuts-content > section {
    display: flex;
    flex-wrap: wrap;
}

#mwe-rws-shortcuts-content > section > div {
    flex: 1 1 250px;

    display: flex;
    align-items: center;

    margin-bottom: 30px;
    padding-right: 15px;
}

.mwe-rw-key {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    width: 55px;
    height: 55px;
    background-color: #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #bfbfbf;
    margin-right: 15px;

    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 18px;
}

.mwe-rw-key.mwe-rw-key-long {
    align-items: flex-end;
    justify-content: flex-start;

    width: 120px;
    padding: 8px;

    font-size: 14px;
}

/* right column - info message */
.mwe-rw-info {
    margin: 25px 35px 0px 35px;

    font-size: 17px;
    line-height: 20px;
    color: #9daed2;
    text-align: center;
}

.mwe-rw-info i {
    display: inline-block;
    width: 35px;
    height: 35px;

    position: relative;
    top: 12px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

//#mwe-rws-info-audio i {
//    background-image: url('../icons/mic-blue.svg');
//}

#mwe-rw-tutorial img,
#mwe-rwt-reopenpopup {
    display: block;
    margin: auto;
    text-align: center;
}

#mwe-rwt-info {
    position: relative;
    margin-top: 40px;
    margin-left: 44px;
    width: 85%;
}

//#mwe-rwt-info::before {
//    display: block;
//    content: '';
//
//    position: absolute;
//    top: -5px;
//    left: -44px;
//
//    width: 35px;
//    height: 35px;
//    background-image: url('../icons/warning.svg');
//    background-size: 35px 35px;
//}

.mwe-rw-error {
    color: red;
}

.mwe-rwp-list {
    margin-bottom: 20px;
}

#mwe-rwd-input-help {
    margin-top: 10px;
    color: #666;
}

#mwe-rwd-actions {
    margin-top: 20px;
}
