.model-list.index-list:has(.sentence-item-container) {
    justify-items: end;
}

.sentence-item-container {
    scroll-margin-top: 12rem;
    max-width: 100%;

    .model-item-description {
        justify-content: center;
        font-size: 1.4rem;
    }

    &.highlighted {
        box-shadow: 0 0 0 0.4rem var(--color-accent-medium);
        animation: flash-bg 1s ease-out;
    }
}

.sentence-item-container.l {
    border-radius: 0;
    box-shadow: none;
    border: none;

    .sentence-item {
        height: auto;
        min-height: 5.25em;
    }

    .model-item-content .sentence-term {
        padding-block: 1.2rem;
        padding-inline: 0.8rem;
        gap: 0.4rem;

        & > div:nth-child(1) {
            font-size: 2.4rem;
        }
    }

    .model-item-description {
        font-size: 1.6rem;
        padding: 1.6rem;
        border: none;
    }

    input.model-item-description {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    @media (min-width: 720px) {
        .sentence-dialog-data {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.sentence-item-container:not(.l) {
    .sentence-dialog-data {
        border-block-end: 0.1rem solid var(--color-dark-primary);

        & > * {
            padding: 0.4rem 1.2rem;

            &:has(input) {
                padding: 0.2rem 1.2rem;
            }
        }
    }
}

.quiz-question .sentence-item-container {
    .model-item-content .sentence-term {
        padding-inline: 0.8rem;

        & > *:nth-child(1) {
            font-size: 2.0rem;
        }
    }
}

.sentence-dialog-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    background: var(--color-dark-primary);

    & > * {
        gap: 1.6rem;
        background: none;
        font-family: $monoFont;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.6rem 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
        border-radius: 0;
        border: none;
        text-transform: uppercase;

        &:has(input) {
            padding-block: 0;
        }

        & > *:nth-child(1) {
            font-size: 1.4rem;
        }

        & > *:nth-child(2) {
            flex-grow: 1;
            direction: rtl;
        }
    }

    a:hover {
        color: var(--color-medium-primary);
    }

    input {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0;
        background: none;
        border-radius: 0;
    }
}

.sentence-item .model-item-content {
    background: white;
    display: flex;
    direction: rtl;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0;

    .sentence-term {
        height: 100%;
        display: grid;
        align-content: center;
        justify-items: center;
        padding-block: 0.8rem;
        padding-inline: 0.4rem;
        gap: 0.2rem;
        color: black;
        white-space: nowrap;

        &:hover {
            background-color: var(--color-pastel-light);
            text-decoration: none;
        }

        & > div:nth-child(1) {
            font-family: $ar_bodyFont;
            font-size: 1.8rem;
            font-weight: 700;
        }

        & > div:nth-child(2) {
            direction: ltr;
            font-family: $monoFont;
            font-size: 1.2rem;
        }

        &.active {
            background: var(--color-pastel-medium);
        }
    }

    a:link.sentence-term, a:visited.sentence-term {
        cursor: pointer;
        font-weight: 400;
    }
}

.dialog-item {
    .model-item-content {
        padding: 1.0rem 1.6rem;
        justify-content: flex-end;

        .model-item-title {
            font-size: 1.8rem;
        }

        .model-item-description {
            font-size: 1.4rem;
        }
    }
}

.dialog-body {
    display: grid;
    text-align: start;
    margin: 2.4rem;
    gap: 1.6rem;
    justify-items: end;

    .sentence-item-container {
        max-width: 100%;
    }

    .draggable, .draggable-item {
        justify-items: end;
    }

    & + & {
        margin-block-start: 0;
    }
}

.chart-dialog {
    display: grid;
    gap: 1.6rem;
    justify-items: center;
    direction: rtl;
    text-align: start;
    background: var(--color-accent-light);
    padding: 2.4rem 3.2rem 3.2rem;

    .dialog-line-wrapper {
        width: min(100%, 36rem);
    }
}

.dialog-line-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    font-family: $monoFont;
    overflow: hidden;
    direction: rtl;

    &.reverse {
        direction: ltr;

        .dialog-line-head {
            border-radius: 1.6rem 1.6rem 1.6rem 0.4rem;
        }
    }

    &:not(:has(.dialog-line-head)) {
        margin-block-start: 0;
    }

    .dialog-line-head {
        font-weight: 700;
        color: white;
        background: var(--color-medium-primary);
        padding: 0.8rem 1.6rem;
        display: flex;
        align-items: center;
        border-radius: 1.6rem 0.4rem 1.6rem 1.6rem;
    }

    .dialog-line-body {
        display: grid;
        gap: 0.4rem;
        padding: 1.2rem 2.4rem;
        border-radius: 1.6rem;
        background: white;
        font-size: 2.0rem;
        text-align: start;

        .dialog-eng {
            direction: ltr;
            width: 100%;
            font-family: $bodyFont;
            font-size: 1.4rem;
        }
    }
}

#sm-select {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 3.2rem;
    padding: 3.2rem;

    @media (min-width: 960px) {
        padding: 0 1.6rem;
    }
}

.sm-mode-select {
    width: min(96rem, 100%);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;

    & > button:not(.active) {
        opacity: 0.5;
        color: var(--color-medium-primary);

        &:hover {
            opacity: 1;
        }
    }

    & > button.active {
        color: var(--color-dark-primary);
    }

    div {
        flex-grow: 1;
        position: relative;
        transform: translateX(0%);
        transition: transform 0.3s ease-out;
        margin-inline-end: 4.8rem;

        &.sentence {
            transform: translateX(100%);
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            color: var(--color-dark-primary);
            background: var(--color-accent-medium);

        }
    }
}

@keyframes flash-bg {
    33% {
        box-shadow: 0 0 0 0.4rem var(--color-accent-medium), 0 0 1.6rem 0.8rem var(--color-accent-medium);
    }
    100% {
        box-shadow: 0 0 0 0.4rem var(--color-accent-medium);
    }
}
