.window-container > .sentence-item-wrapper {
    margin: 3.2rem 1.6rem 3.2rem 2.4rem;
}

.sentence-container-body {
    .sentence-arb {
        .sentence-term {
            padding-block: 1.2rem;
            gap: 0.4rem;
        }
    }

    .sentence-eng {
        font-family: $bodyFont;
        font-size: 1.6rem;
        text-align: center;
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
        padding: 1.6rem;
        width: 100%;
        border-radius: 0;
        border: none !important;
    }
}

.sentence-dialog-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    background: var(--color-dark-primary);

    & > * {
        gap: 1.6rem;
        background: none;
        font-family: $monoFont;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.6rem 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-dark-primary);
        background: var(--color-pastel-light);
        border-radius: 0;
        border: none;
        text-transform: uppercase;

        &:has(input) {
            padding: 0 0.8rem 0 1.6rem;
        }

        & > *:first-child {
            font-size: 1.4rem;
        }

        & > *:last-child {
            flex-grow: 1;
            direction: rtl;
        }
    }

    a:hover {
        background: var(--color-pastel-medium);
    }

    input {
        font-family: $monoFont;
        font-size: 1.6rem;
        font-weight: 700;
        border-radius: 0;
    }

    @media (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.sentence-speaker {
    width: 100%;
    color: var(--color-dark-primary);
    background: linear-gradient(90deg, var(--color-accent-light), var(--color-accent-medium));
    padding: 0.2rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: $ar_bodyFont;
    border-radius: 0;
    direction: rtl;
    text-align: start;

    .play {
        display: none;
    }
}

.sentence-item-wrapper {
    display: grid;
    grid-template-columns: 2.4rem auto;
    gap: 0.4rem 0.8rem;
    direction: rtl;
    align-items: end;
    justify-content: start;
    scroll-margin-top: 12rem;

    &.l {
        .sentence-item {
            .sentence-arb {
                padding: 0 2.4rem;
            }

            .sentence-eng {
                padding: 0.8rem 2.4rem;
            }

            .sentence-speaker {
                font-size: 2.0rem;
                padding-block: 0.4rem;
            }
        }

        .pin {
            width: 4.8rem;
            top: -0.8rem;
            left: -2.4rem
        }
    }

    &.m, &.s {
        .sentence-item {
            .sentence-arb {
                padding: 0 1.2rem;
            }

            .sentence-eng {
                font-size: 1.4rem;
                padding: 0.6rem 2.4rem;
            }

            .sentence-term {
                padding: 0.8rem 0.4rem;
            }

            .sentence-term > div:nth-child(1) {
                font-size: 2.0rem;
            }

            .sentence-term > div:nth-child(2) {
                display: none;
            }
        }

        .pin {
            width: 3.6rem;
            top: -0.6rem;
            left: -1.8rem;
        }
    }

    &.s {
        .sentence-item .sentence-term > div:nth-child(1) {
            font-size: 1.6rem;
        }
    }

    .popup-menu-wrapper {
        align-self: center;
    }

    &.highlighted {
        background: var(--color-accent-light);
        animation: flash-bg 1s ease-out;
    }
}

@keyframes flash-bg {
    33% {
        background: var(--color-accent-medium);
    }
    100% {
        background: var(--color-accent-light);
    }
}

.sentence-item {
    grid-column: 2;
    display: grid;
    margin: 0 0 0.3rem 0.3rem;
    background: var(--color-accent-light);
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.1);
    border-radius: 0.8rem;
    overflow: hidden;
    position: relative;


    &.coming-soon {
        border: 0.1rem solid var(--color-accent-medium);
        background: var(--color-accent-light);
        margin: 1.6rem 0;
        border-radius: 1.2rem;
        align-items: center;

        .feature-callout {
            padding: 0.4rem 3.2rem;
            margin-block-end: 0.2rem;
            transform: rotate(-5deg);
            border: 0.1rem solid var(--color-medium-secondary);
            box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);

            &:hover {
                transform: rotate(-2deg);
            }
        }
    }

    input.sentence-eng {
        padding: 0;
        background: 0;
        border-radius: 0;

        &:focus {
            outline: none;
            background: var(--color-pastel-medium);
        }
    }

}

.sentence-arb {
    background: white;
    display: flex;
    direction: rtl;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 2.4rem;

    & + .sentence-eng {
        //border-block-start: 0.1rem solid var(--color-pastel-medium);
    }

    .sentence-term {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem;
        cursor: default;
        color: black;

        &:hover {
            background-color: var(--color-pastel-light);
            text-decoration: none;
        }

        & > div:nth-child(1) {
            font-family: $ar_bodyFont;
            font-size: 2.4rem;
            font-weight: 700;
        }

        & > div:nth-child(2) {
            direction: ltr;
            font-family: $monoFont, $ar_headFont;
            font-size: 1.2rem;
        }

        &.active {
            background: var(--color-pastel-medium);
        }
    }

    a:link.sentence-term, a:visited.sentence-term {
        cursor: pointer;
        font-weight: 400;
    }
}

.sentence-eng {
    direction: ltr;
    font-size: 1.6rem;
    font-family: $bodyFont;
    text-align: center;
    color: black;
}

.sentence-dialog {
    grid-column: 2;
    justify-self: start;
    background: white;
    border: 0.1rem solid var(--color-pastel-dark);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    color: var(--color-medium-primary);
    padding: 0.6rem 1.6rem 0.4rem;
    font-weight: 700;
    direction: ltr;

    div {
        font-size: 1.4rem;
        font-weight: 400;
        padding-block-end: 0.4rem;
    }

    a {
        font-family: $ar_bodyFont;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dialog-item {
    .model-item-content {
        padding: 1.0rem 1.6rem;
        justify-content: flex-end;

        .model-item-title {
            font-size: 1.8rem;
        }

        .model-item-description {
            font-size: 1.4rem;
        }
    }
}

.dialog-body {
    display: grid;
    text-align: start;
    margin-block: 3.2rem;
    direction: rtl;

    .sentence-item-wrapper {
        padding: 0.8rem 1.6rem;
    }

    .draggable, .draggable-item {
        gap: 0;
    }
}

.dialog-line-wrapper {
    display: flex;
    gap: 0.8rem;
    padding-block: 1.6rem 0.4rem;

    .play {
        width: 2.4rem;
    }
}

.dialog-line-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    border-radius: 1.6rem;
    text-align: center;
    background: white;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.1);
    font-size: 2.0rem;
    font-family: $ar_bodyFont;

    &:not(:has(.dialog-line-head)) {
        margin-block-start: 0;
    }

    .dialog-line-head {
        font-family: $bodyFont;
        font-weight: 700;
        margin-inline-start: -1.2rem;
        transform: translateY(-1.2rem);

        @include button-primary-dark;
    }

    .dialog-heading {
        text-transform: uppercase;
        font-family: $monoFont;
        font-size: 1.6rem;
        border: none;
    }

    .dialog-line-body {
        display: grid;
        gap: 0.4rem;
        padding: 1.2rem 2.4rem;

        .dialog-arb {
            text-align: right;
        }

        .dialog-eng {
            text-align: right;
            direction: ltr;
            width: 100%;
            font-family: $bodyFont;
            font-size: 1.4rem;
        }

        .dialog-arb a {
            color: inherit !important;
            font-weight: inherit;
            border-radius: 0.4rem;
            padding: 0 0.4rem;
            margin: 0 0.2rem;
        }
    }
}

#sm-select {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 3.2rem;

    @media (min-width: 960px) {
        padding: 0 1.6rem;
    }
}
