.model-list:has(.sentence-item-container) {
    justify-items: end;
}

.sentence-item-container {
    scroll-margin-top: 12rem;
    max-width: 100%;

    .model-item-description {
        justify-content: center;
        font-size: 1.4rem;
        padding: 0.6rem 1.2rem;
    }

    &.highlighted {
        box-shadow: 0 0 0 0.4rem var(--color-accent-medium);
        animation: flash-bg 1s ease-out;
    }
}

.sentence-item-container.l {
    border-radius: 0;
    box-shadow: none;
    border: none;

    .model-item-content .sentence-term {
        padding-block: 1.2rem;
        padding-inline: 0.8rem;
        gap: 0.4rem;

        & > div:nth-child(1) {
            font-size: 2.4rem;
        }
    }

    .model-item-description {
        font-size: 1.6rem;
        padding: 1.6rem;
        border: none;
    }

    input.model-item-description {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    @media (min-width: 720px) {
        .sentence-dialog-data {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.sentence-item-container:not(.l) {
    .sentence-dialog-data {
        border-block-end: 0.1rem solid var(--color-dark-primary);

        & > * {
            padding: 0.4rem 1.2rem;

            &:has(input) {
                padding: 0.2rem 1.2rem;
            }
        }
    }
}

.quiz-question .sentence-item-container {
    .model-item-content .sentence-term {
        padding-inline: 0.8rem;

        & > *:nth-child(1) {
            font-size: 2.0rem;
        }
    }
}

.sentence-dialog-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
    background: var(--color-dark-primary);

    & > * {
        gap: 1.6rem;
        background: none;
        font-family: $monoFont;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.6rem 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
        border-radius: 0;
        border: none;
        text-transform: uppercase;

        &:has(input) {
            padding-block: 0;
        }

        & > *:nth-child(1) {
            font-size: 1.4rem;
        }

        & > *:nth-child(2) {
            flex-grow: 1;
            direction: rtl;
        }
    }

    a:hover {
        color: var(--color-medium-primary);
    }

    input {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0;
        background: none;
        border-radius: 0;
    }
}

.sentence-item {
    height: auto;
    min-height: 5.25em;

    .model-item-content {
        background: white;
        display: flex;
        direction: rtl;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0;

        .sentence-term {
            height: 100%;
            display: grid;
            align-content: center;
            justify-items: center;
            padding-block: 0.8rem;
            padding-inline: 0.4rem;
            gap: 0.2rem;
            color: black;
            white-space: nowrap;

            &:hover {
                background-color: var(--color-pastel-light);
                text-decoration: none;
            }

            & > div:nth-child(1) {
                font-family: $ar_bodyFont;
                font-size: 1.8rem;
                font-weight: 700;
            }

            & > div:nth-child(2) {
                direction: ltr;
                font-family: $monoFont, $ar_headFont;
                font-size: 1.2rem;
            }

            &.active {
                background: var(--color-pastel-medium);
            }
        }

        a:link.sentence-term, a:visited.sentence-term {
            cursor: pointer;
            font-weight: 400;
        }
    }
}

.dialog-item {
    .model-item-content {
        padding: 1.0rem 1.6rem;
        justify-content: flex-end;

        .model-item-title {
            font-size: 1.8rem;
        }

        .model-item-description {
            font-size: 1.4rem;
        }
    }
}

.dialog-body {
    display: grid;
    text-align: start;
    margin: 2.4rem;
    gap: 1.6rem;
    justify-items: end;

    .sentence-item-container {
        max-width: 100%;
    }

    .draggable, .draggable-item {
        justify-items: end;
    }
}

.dialog-line-wrapper {
    display: flex;
    gap: 0.8rem;
    padding-block: 1.6rem 0.4rem;

    .play {
        width: 2.4rem;
    }
}

.dialog-line-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    border-radius: 1.6rem;
    text-align: center;
    background: white;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.1);
    font-size: 2.0rem;
    font-family: $ar_bodyFont;

    &:not(:has(.dialog-line-head)) {
        margin-block-start: 0;
    }

    .dialog-line-head {
        font-family: $bodyFont;
        font-weight: 700;
        margin-inline-start: -1.2rem;
        transform: translateY(-1.2rem);

        @include button-primary-dark;
    }

    .dialog-heading {
        text-transform: uppercase;
        font-family: $monoFont;
        font-size: 1.6rem;
        border: none;
    }

    .dialog-line-body {
        display: grid;
        gap: 0.4rem;
        padding: 1.2rem 2.4rem;

        .dialog-arb {
            text-align: right;
        }

        .dialog-eng {
            text-align: right;
            direction: ltr;
            width: 100%;
            font-family: $bodyFont;
            font-size: 1.4rem;
        }

        .dialog-arb a {
            color: inherit !important;
            font-weight: inherit;
            border-radius: 0.4rem;
            padding: 0 0.4rem;
            margin: 0 0.2rem;
        }
    }
}

#sm-select {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 3.2rem;
    padding: 3.2rem;

    @media (min-width: 960px) {
        padding: 0 1.6rem;
    }
}

@keyframes flash-bg {
    33% {
        box-shadow: 0 0 0 0.4rem var(--color-accent-medium), 0 0 1.6rem 0.8rem var(--color-accent-medium);
    }
    100% {
        box-shadow: 0 0 0 0.4rem var(--color-accent-medium);
    }
}
