.term-container-head, .term-etymology, .gloss-item-relatives {
    a {
        color: var(--color-medium-primary);
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

.term-container-head {
    display: grid;
}

.term-headword {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    gap: 0 1.6rem;
    padding: 1.6rem;
    font-weight: 700;

    .term-headword-term {
        display: flex;
        align-items: center;
        direction: rtl;
        gap: 0 1.2rem;

        .term-headword-arb {
            font-size: 3.6rem;
            font-family: var(--ar-body-font);
        }

        .term-headword-eng {
            font-size: 1.8rem;
            font-family: var(--mono-font);
            direction: ltr;
        }
    }
}

.gloss-item-container .model-list {
    justify-items: end;
    padding-inline: 1.6rem;
}

.term-glosses {
    margin-block: 3.2rem;
    display: grid;
    gap: 3.2rem;
}

.terms-count {
    font-family: var(--mono-font);
    font-weight: 700;
    color: var(--color-dark-primary);
    text-align: right;
    text-transform: uppercase;
    background: var(--color-accent-medium);
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
}

.wiki-blocks-wrapper > .term-item-container {
    margin-block: 3.2rem;
}

.draggable-item > .term-item-container {
    flex-grow: 1;

    .term-item-term {
        cursor: default;
    }
}

.term-item-container {
    display: grid;
}

.term-item {
    .model-item-content {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0;
        gap: 0;
    }

    .term-item-term {
        direction: rtl;
        display: flex;
        background: var(--color-accent-light);
        padding-inline: 1.6rem;
        position: relative;
        height: 100%;

        a:hover {
            color: var(--color-medium-primary);
            cursor: pointer;
        }

        .arb {
            font-family: var(--ar-body-font);
            font-size: 1.6rem;
            font-weight: 700;
            white-space: nowrap;
            text-align: start;
        }

        .translit {
            direction: ltr;
            flex-shrink: 0;
            font-family: var(--mono-font);
            font-size: 1.2rem;
        }

        input.arb, input.translit {
            width: 50%;
            padding: 0;
            background: 0;
            border-radius: 0;
        }
    }

    .audio-button {
        position: absolute;
        top: 0.8rem;
        left: -1.2rem;
    }

    .term-item-gloss {
        align-self: center;
        padding-inline: 1.6rem;
        background: white;
        font-family: var(--body-font);
        font-size: 1.4rem;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1;

        &:has(select) {
            padding-inline: 1.6rem 0.8rem;
        }

        select {
            width: 100%;
            color: black;
            padding: 0;
            background: none;
            min-height: 2.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.subterm {
        margin-inline-start: 3.2rem;
        align-items: normal;
        direction: rtl;
        background: var(--color-pastel-light);
        border: 0.1rem dotted var(--color-medium-primary);

        .arb {
            font-size: 1.6rem;
            font-weight: 400;
            border: none;
            background: none;
            box-shadow: none;
            transform: none;
            margin: 0;
            user-select: auto;
        }

        .eng {
            font-size: 1.2rem;
            background: none;
            border: none;
        }
    }

    & + h1 {
        margin-top: 2.4rem;
    }

    @media (width >= 800px) {
        .model-item-content {
            grid-template-columns: 70% 30%;
        }
    }
}

.inflection-carousel {
    background: var(--color-pastel-light);
    flex-grow: 1;

    .carousel-item {
        h3 {
            display: flex;
            justify-content: center;
            text-transform: none;
        }
    }
}

.inflection-chart-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3.2rem;
    padding-block: 3.2rem;

    .inflection-chart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        direction: rtl;
        text-align: center;
        font-family: var(--mono-font), var(--ar-body-font);

        .inflection-chart-title {
            font-family: var(--head-font);
            color: var(--color-medium-primary);
            text-transform: capitalize;
            font-weight: 700;
            font-size: 2.4rem;
        }

        .inflection-chart-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            margin: 0 0 0.3rem 0.3rem;
            position: relative;

            &:is(a):hover {
                transform: translate(-0.3rem, 0.3rem);

                & > div {
                    box-shadow: none;
                }
            }

            > div {
                padding: 0.4rem;
                font-family: var(--mono-font);
                border: 0.1rem solid var(--color-dark-primary);
                box-shadow: -0.3rem 0.3rem rgb(0 0 0 / 0.25);
                background: var(--color-pastel-light);
                display: flex;
                align-items: center;
            }

            > div:nth-child(1) {
                border-radius: 0 1.2rem 1.2rem 0;
                border-inline-end: none;

                color: var(--color-dark-primary);
                font-size: 1.2rem;
                font-weight: 700;
                padding: 0 0.8rem;
            }

            > div:nth-child(2) {
                border-radius: 1.2rem 0 0 1.2rem;
                border-inline-start: none;

                background: white;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.2rem 3.2rem;
            }

            > div:nth-child(2n) > div:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: var(--ar-body-font);
                font-weight: 700;
                font-size: 2.4rem;
            }

            > div:nth-child(2n) > div:not(:first-child) {
                font-size: 1.2rem;
            }

            .play {
                position: absolute;
                top: -1.2rem;
                right: 1.6rem;
                width: 2.4rem;
                transform: rotate(180deg);
            }
        }
    }
}

.mastery-level__0 {
    color: var(--mastery-level__0);
    background: var(--mastery-level__0);
}

.mastery-level__1 {
    color: var(--mastery-level__1);
    background: var(--mastery-level__1);
}

.mastery-level__2 {
    color: var(--mastery-level__2);
    background: var(--mastery-level__2);
}

.mastery-level__3 {
    color: var(--mastery-level__3);
    background: var(--mastery-level__3);
}

.mastery-level__4 {
    color: var(--mastery-level__4);
    background: var(--mastery-level__4);
}

.mastery-level__5 {
    color: var(--mastery-level__5);
    background: var(--mastery-level__5);
}

.answer-buttons > button.material-symbols-rounded {
    font-size: 3.2rem;
    color: var(--color-medium-secondary);
}
