.term-container {
    position: relative;
    display: grid;
    gap: 3.2rem;
    padding: 2.4rem 3.2rem;
    background: white;
    border-radius: 1.6rem;
    border: 0.2rem solid $purple-primary-dark;

    .term-container-head {
        padding-block-end: 2.4rem;
        border-block-end: 0.1rem solid $purple-primary;

        .term-references, .term-inflections {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: 0.8rem 1.6rem;
        }
    }

    .term-container-data {
        .term-pronunciation, .term-etymology {
            display: grid;
            gap: 0.4rem;
        }

        .featured-title {
            font-size: 2.4rem;
            color: $accent-yellow
        }
    }

    .term-container-glosses {
        margin-block: 3.2rem;
    }

    .term-container-decks {
        background: $purple-primary;
        margin: -3.2rem -3.2rem -2.4rem;
        margin-block-start: 2.4rem;
        padding: 4.8rem 3.2rem;
        border-radius: 0 0 1.2rem 1.2rem;

        .decks-list {
            margin: 0;
        }

        .featured-title {
            color: white;
            border-block-end: 0.3rem dotted $accent-yellow;
            padding-block-end: 1.2rem;
        }
    }

    .user-wrapper {
        // Mobile
        margin-inline-start: calc(-1.2rem - 3.2rem);
    }

    & > .pin {
        width: 4.8rem;
        top: -0.8rem;
        left: -2.6rem
    }

    .play {
        cursor: pointer;
    }

    @media (min-width: 960px) {
        box-shadow: -0.3rem 0.3rem 0 0 $purple-primary-dark;

        .user-wrapper {
            margin-inline-start: calc(-3.2rem - 3.2rem);
        }
    }
}

.term-container-head, .term-container-data {
    display: grid;
    gap: 1.6rem;
}

// must be outside .term-container for it to work in Word of the Day
.term-container-glosses, .term-container-decks {
    display: grid;
    gap: 3.2rem;
}

.term-container-head, .term-container-data, .gloss-li-container, .term-root {
    a {
        color: $purple-primary;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

.term-headword {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0 1.6rem;
    font-weight: 700;

    .term-headword-arb {
        font-size: 3.6rem;
        font-family: 'Vazirmatn', sans-serif;
    }

    .term-headword-eng {
        font-size: 1.8rem;
        font-family: $monoFont;
    }

    .play {
        width: 2.8rem;
    }
}

.term-root {
    justify-self: end;

    display: grid;
    justify-items: center;
    color: white;
    background: $purple-deep;
    box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.2);
    border-radius: 1.2rem;
    padding: 0.8rem 0.4rem;

    .term-root-head {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        font-weight: 700;
        padding-inline: 2.0rem;

        .term-root-head-arb {
            font-size: 2.4rem;
            font-family: 'Vazirmatn', monospace;
        }

        .term-root-head-eng {
            font-family: $monoFont;
        }
    }

    .term-root-body {
        width: 100%;
        display: grid;
        gap: 1.2rem;
        margin-block: 0.8rem;
        background: white;
        padding: 1.6rem 1.2rem;
        border-radius: 0.8rem;
        color: $purple-primary;
        font-weight: 700;
    }

    button {
        color: $accent-yellow;

    }
}

.term-image {
    margin: 0;
    margin-inline-end: -4.4rem;
    justify-self: end;

    img {
        border: 0.3rem solid $purple-deep;
        padding: 0.2rem;
        background: $purple-pastel-light;
        box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.2);
    }

    @media (min-width: 960px) {
        margin-inline-end: -6.4rem;
    }
}

.pronunciation-li {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 0 1.6rem;

    .pronunciation-li-dialect {
        padding-block-start: 0.2rem;
        font-family: $headFont;
        font-weight: 700;
    }

    .pronunciation-li-phonology {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        font-family: $monoFont;
        font-size: 1.4rem;
        gap: 0.4rem;
    }

    .play {
        width: 2.8rem;
    }
}

.gloss-li-container {
    display: grid;
    padding-block-end: 3.2rem;

    &:not(:last-child) {
        border-block-end: 2px dotted $purple-pastel-dark;
    }

    & > a {
        padding-block: 0.8rem;
        margin-inline-end: 3.2rem;
        justify-self: end;
        color: $purple-deep;
        font-weight: 700;
    }
}

.gloss-li {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-block-end: 0.6rem;

    .gloss-li-label {
        background: white;
        font-family: $displayFont;
        font-size: 9.6rem;
        line-height: 6.4rem;
        min-width: 7.2rem;
        text-align: center;
        color: $accent-yellow;
        border-radius: 0.8rem;
        border: 0.1rem solid $accent-yellow;
        box-shadow: -0.6rem 0.6rem 0 0 rgba($accent-yellow, 0.5);
        overflow: hidden;
        transform: rotate(-6deg);
    }

    .gloss-li-attribute {
        color: $purple-primary;
        font-weight: 700;
    }

    .gloss-li-content {
        display: grid;
        gap: 0.8rem;

        .gloss-li-content-gloss {
            font-size: 1.8rem;
        }
    }
}

.terms-list {
    display: grid;
    gap: 0.8rem;

    h1 {
        font-size: 2.4rem;
        margin-block-end: 0;
    }

    &:first-child > h1:first-child {
        margin-block: 0;
    }
}

.doc-section > .term-li-container {
    margin-block: 3.2rem;
}

.term-li-container {
    display: grid;
    gap: 0.4rem;
}

.term-li-wrapper {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    direction: rtl;
    width: 100%;
    padding-block-start: 0.8rem;

    .context-actions {
        direction: ltr;
    }
}

.term-li {
    flex-grow: 1;
    position: relative;
    display: grid;
    align-items: start;
    background: $purple-pastel-light;
    border: 0.1rem solid $purple-primary;
    line-height: 2rem;
    border-radius: 0.8rem;
    font-family: $monoFont, $ar_bodyFont;
    font-size: 1.6rem;
    text-align: center;
    grid-template-columns: 33% auto;

    .arb {
        font-size: 1.8rem;
        font-weight: 700;
        padding: 1.2rem;
        border-radius: 0.8rem;
        background: white;
        border: 0.1rem solid $purple-primary-dark;
        box-shadow: -0.2rem 0.2rem 0 $purple-primary-dark;
        margin: -0.8rem calc(0.8rem - 0.2rem) 0 calc(0.8rem + 0.2rem);
        user-select: none;
        cursor: pointer;
        width: 100%;
        justify-self: normal;
        z-index: 1;
        transition: 0.05s;

        &:hover {
            box-shadow: none;
            transform: translate(-0.2rem, 0.2rem);
        }
    }

    @media (min-width: 960px) {
        grid-template-columns: 25% auto;

        .arb {
            font-size: 2.0rem;
        }
    }

    .eng {
        text-align: start;
        direction: ltr;
        font-size: 1.4rem;
        flex: 1 0 100%;
        font-weight: 400;
        padding: 1.2rem 1.8rem;
        background: white;
        border-inline-end: 0.1rem solid $purple-primary;
        border-radius: 0.8rem 0 0 0.8rem;
    }

    &.subterm {
        margin-inline-start: 3.2rem;
        align-items: normal;
        direction: rtl;
        background: $purple-pastel-light;
        border: 0.1rem dotted $purple-primary;

        .arb {
            font-size: 1.6rem;
            font-weight: 400;
            border: none;
            background: none;
            box-shadow: none;
            transform: none;
            margin: 0;
            user-select: auto;
        }

        .eng {
            font-size: 1.2rem;
            background: none;
            border: none;
        }

        & + .subterm {
        }
    }

    &.coming-soon {
        direction: rtl;
        border: 0.1rem solid $accent-yellow;
        background: $accent-yellow-pastel;
        margin-block: 0.4rem;
        margin-inline-start: 3.2rem;

        .feature-callout {
            grid-column: 2;
            justify-self: center;
            padding: 0.4rem 3.2rem;
            margin-block-end: 0.2rem;
            transform: rotate(-5deg);
            border: 0.1rem solid $purple-primary-dark;
            box-shadow: -0.2rem 0.2rem 0 $purple-primary-dark;

            &:hover {
                transform: rotate(-2deg);
            }
        }
    }

    & + h1 {
        margin-top: 2.4rem;
    }

    .pin {
        width: 3.2rem;
    }
}

.terms-featured-wrapper {
    display: grid;
    gap: 3.2rem;
    align-items: start;
    margin-block: 3.2rem;

    // Mobile
    grid-template-columns: 1fr;

    // Tablet & Desktop
    @media (min-width: 720px) {
        grid-template-columns: 1fr 25%;
    }
}

.terms-featured-daily {
    display: grid;
    gap: 1.6rem;

    .term-container-head {
        position: relative;
        border: 0.2rem solid $purple-primary-dark;
        box-shadow: -0.3rem 0.3rem 0 $purple-primary-dark;
        background: white;
        padding: 1.6rem 3.2rem;
        border-radius: 1.6rem;

        & > .popout {
            width: 9.6rem;
            position: absolute;
            top: -4.2rem;
            right: 1.6rem;
            filter: drop-shadow(-0.4rem 0.2rem 0 rgba(black, 0.2));
        }
    }

    .terms-featured-daily-body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .term-container-glosses {
            margin: 0;
            padding: 3.2rem 0 3.2rem 3.2rem;
            flex-grow: 1;

            .gloss-li-content {
                font-weight: 700;
            }
        }

        figure {
            transform: rotate(-2deg);
            max-width: 33%;
            margin: -3.6rem 3.2rem 0;
            transition: transform 0.2s;

            &:hover {
                transform: rotate(-5deg);
            }
        }
    }
}

.terms-featured-latest {
    display: grid;
    grid-auto-rows: min-content;
    gap: 0.8rem;

    a {
        text-align: center;
        background: white;
        font-family: $ar_bodyFont;
        font-weight: 700;
        font-size: 1.8rem;
        padding: 0.6rem 0;
        border-radius: 0.8rem;
        border: 0.1rem solid $purple-primary-dark;
        box-shadow: -0.2rem 0.2rem 0 $purple-primary-dark;

        &:hover {
            box-shadow: none;
            transform: translate(-0.2rem, 0.2rem);
        }
    }
}

.inflection-carousel {
    background: $purple-pastel-light;
    border-radius: 1.2rem;
    flex-grow: 1;

    .carousel-item {
        display: grid;
        gap: 0.8rem;
        padding: 0.8rem;

        .carousel-item-head {
            display: flex;
            justify-content: space-between;
            padding: 0.8rem 1.6rem;
            background: $purple-pastel;
            border-radius: 0.8rem;
            font-family: $headFont;
            font-weight: 700;
            font-size: 1.6rem;
            text-align: center;
        }

        .tip {
            border: none;
        }
    }
}


.inflection-chart-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3.2rem;
    padding-block: 3.2rem;

    &.derived-terms {
        border-block-start: 2px dotted $purple-pastel-dark
    }

    .inflection-chart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        direction: rtl;
        text-align: center;
        font-family: $monoFont, $ar_bodyFont;

        .inflection-chart-title {
            font-family: $headFont;
            color: $purple-primary;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 2.4rem;
        }

        .inflection-chart-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            background: $purple-pastel-light;
            margin: 0 0 0.3rem 0.3rem;
            position: relative;

            &:is(a):hover {
                transform: translate(-0.3rem, 0.3rem);

                & > div {
                    box-shadow: none;
                }
            }

            > div {
                padding: 0.4rem;
                font-family: $monoFont, $ar_headFont;
                border: 0.1rem solid $purple-deep;
                box-shadow: -0.3rem 0.3rem rgba(black, 0.2);

                display: flex;
                align-items: center;
            }

            > div:nth-child(1) {
                border-radius: 0 1.2rem 1.2rem 0;
                border-inline-end: none;

                color: $purple-deep;
                font-size: 1.2rem;
                font-weight: 700;
                padding: 0 0.8rem;
            }

            > div:nth-child(2) {
                border-radius: 1.2rem 0 0 1.2rem;
                border-inline-start: none;

                background: white;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.2rem 3.2rem;
            }

            > div:nth-child(2n) > div:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: $ar_bodyFont;
                font-weight: 700;
                font-size: 2.4rem;
            }

            > div:nth-child(2n) > div:not(:first-child) {
                font-size: 1.2rem;
            }

            .play {
                position: absolute;
                top: -1.2rem;
                right: 1.6rem;
                width: 2.4rem;
                transform: rotate(180deg);
            }
        }
    }
}

/**
Sentences
 */

.sentence-list {
    display: grid;
    gap: 1.6rem;
}

.sentence-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;

    &:has(.sentence.l) {
        gap: 1.2rem
    }
}

.sentence {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: $purple-deep;

    &.l {
        flex-grow: 1;
        margin: 1.6rem 0;
        border-radius: 1.6rem;
        border: 0.3rem solid $purple-deep;

        .sentence-arb {
            padding: 0 2.4rem;
            border-radius: 1.2rem;
        }

        .sentence-eng {
            padding: 0.8rem 2.4rem;
        }

        .pin {
            width: 4.8rem;
        }
    }

    &.m {
        flex-grow: 0;
        margin: 0.8rem 0;
        border-radius: 1.2rem;
        border: 0.2rem solid $purple-deep;

        .sentence-arb {
            padding: 0 1.2rem;
            border-radius: 1.0rem;
        }

        .sentence-eng {
            font-size: 1.4rem;
            padding: 0.6rem 2.4rem;
        }

        .sentence-term {
            padding: 0.8rem 0.4rem;
        }

        .sentence-term > div:nth-child(1) {
            font-size: 2.0rem;
        }

        .sentence-term > div:nth-child(2) {
            display: none;
        }

        .pin {
            width: 3.6rem;
            top: -0.8rem;
            left: -1.8rem;
        }
    }

    &.s {
        flex-flow: row-reverse wrap;
        align-items: center;
        margin: 0.6rem 0 0;
        flex-grow: 1;
        background: none;

        .sentence-arb {
            padding: 0 1.2rem;
            border-radius: 0.8rem;
            box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
            border: 0.1rem solid $purple-deep;
            margin-inline-end: -1.6rem;
        }

        .sentence-eng {
            flex-grow: 1;
            font-size: 1.4rem;
            padding: 0.8rem 1.6rem 1.0rem;
            font-weight: 400;
            margin-block-start: calc(0.2rem - 0.2rem);
            text-align: start;
            background: $purple-deep;
            border-radius: 0.6rem;
            z-index: -1;
        }

        .sentence-term {
            padding: 0.8rem 0.4rem;
        }

        .sentence-term > div:nth-child(1) {
            font-size: 1.8rem;
        }

        .sentence-term > div:nth-child(2) {
            display: none;
        }

        .pin {
            width: 3.6rem;
            top: -1.2rem;
            left: auto;
            right: -1.8rem;
            transform: rotate(45deg);
        }
    }

    &.coming-soon {
        border: 0.1rem solid $accent-yellow;
        background: $accent-yellow-pastel;
        margin: 1.6rem 0;
        border-radius: 1.2rem;
        align-items: center;

        .feature-callout {
            padding: 0.4rem 3.2rem;
            margin-block-end: 0.2rem;
            transform: rotate(-5deg);
            border: 0.1rem solid $purple-primary-dark;
            box-shadow: -0.2rem 0.2rem 0 $purple-primary-dark;

            &:hover {
                transform: rotate(-2deg);
            }
        }
    }

    .sentence-arb {
        background: white;
        display: flex;
        direction: rtl;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0 2.4rem;
        user-select: none;
    }

    .sentence-eng {
        color: white;
        direction: ltr;
        font-size: 1.8rem;
        font-family: $bodyFont;
        font-weight: 700
    }

    .sentence-term {
        display: flex;
        flex-direction: column;
        padding: 0.8rem;
        cursor: default;
        color: black;

        &:hover {
            background-color: $purple-pastel-light;
            text-decoration: none;
        }

        & > div:nth-child(1) {
            font-family: $ar_bodyFont;
            font-size: 2.4rem;
            font-weight: 700;
        }

        & > div:nth-child(2) {
            direction: ltr;
            font-family: $monoFont, $ar_headFont;
            font-size: 1.2rem;
        }

        &.active {
            background: rgba($accent-yellow, 0.25);
        }
    }

    a:link.sentence-term, a:visited.sentence-term {
        cursor: pointer;
        font-weight: 400;
    }

    .pin {
        top: -1.2rem;
        left: -2.4rem
    }
}

.sentence-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    font-family: $monoFont;
    gap: 0.4rem 1.6rem;
    border: 0.2rem solid $purple-pastel;
    border-radius: 0.8rem;
    padding: 0.8rem 0.8rem 1.0rem;

    .sentence-preview-info {
        color: $purple-pastel-dark;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sentence-preview-term {
        display: grid;
        justify-items: center;
        gap: 0.2rem;

        & > *:nth-child(1) {
            font-size: 2.0rem;
            font-weight: 700;
        }

        & > *:nth-child(2) {
            font-size: 1.2rem;
        }
    }
}

.sentence-builder-item {
    display: grid;
    gap: 0.4rem;
    font-family: $monoFont;
    border-radius: 0.8rem;
    border: 0.1rem solid $purple-pastel;
    padding: 0.4rem;

    .builder-item-term {
        display: flex;
        flex-flow: row-reverse;
        gap: 0.4rem;

        & > *:nth-child(1) {
            font-size: 1.4rem;
        }

        input {
            text-align: center;
            font-size: 1.2rem;
            padding: 0;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    .builder-item-gloss {
        display: flex;
        align-items: center;
        gap: 0.4rem 0.8rem;
        flex-grow: 1;

        select {
            flex-grow: 1;
        }
    }
}

.missing-terms {
    display: grid;
    gap: 0.2rem;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 0.8rem;
        border-radius: 0.4rem;

        &:hover {
            background: $purple-pastel-light;
        }
    }

    button {
        display: flex;
        align-items: center;
        font-family: $bodyFont;
        font-size: 1.6rem;
    }
}
