.term-container-head, .term-etymology, .gloss-li-container {
    a {
        color: var(--color-medium-primary);
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}

.term-container-head {
    display: grid;
}

.term-headword {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    gap: 0 1.6rem;
    padding: 1.6rem;
    font-weight: 700;

    .term-headword-term {
        display: flex;
        align-items: center;
        direction: rtl;
        gap: 0 1.2rem;

        .term-headword-arb {
            font-size: 3.6rem;
            font-family: 'Vazirmatn', sans-serif;
        }

        .term-headword-eng {
            font-size: 1.8rem;
            font-family: $monoFont;
        }
    }
}

.term-references {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    gap: 0.8rem 1.6rem;
    padding: 1.2rem;
    background: var(--color-pastel-light);

    & > * {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
}

.term-pronunciation {
    display: grid;

    .model-list {
        padding: 1.6rem;
    }

    & > button {
        color: var(--color-dark-primary);
        background: var(--color-pastel-light);

        &:hover {
            text-decoration: none;
            background: var(--color-pastel-medium);
        }
    }
}

.term-etymology {
    display: grid;
    grid-template-columns: min-content auto;
    background: var(--color-pastel-light);

    .term-root {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 0.8rem;
        direction: rtl;
        padding: 0.8rem 1.6rem;
        background: var(--color-pastel-light);
        border-inline-start: 0.1rem solid var(--color-medium-primary);

        &:hover {
            color: var(--color-accent-medium);
            background: var(--color-accent-light);
            text-decoration: none;
        }

        .term-root-ar {
            font-family: $ar_bodyFont;
            font-size: 2.0rem;
        }

        .term-root-en {
            font-family: $monoFont;
            font-size: 1.6rem;
        }
    }

    .term-data {
        align-self: center;
        grid-column: 2;
        padding: 1.2rem 1.6rem;
    }
}

.term-image {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.term-glosses {
    margin-block: 3.2rem;
    display: grid;
    gap: 3.2rem;
}

.gloss-li-container {
    display: grid;
    gap: 1.6rem;

    &:not(:last-child) {
        padding-block-end: 3.2rem;
        border-block-end: 0.1rem solid var(--color-medium-primary);
    }

    & > a {
        padding-block: 0.8rem;
        margin-inline-end: 3.2rem;
        justify-self: end;
        color: var(--color-dark-primary);
        font-weight: 700;
    }

    .model-list {
        justify-items: end;
        padding-inline: 1.6rem;
    }
}

.model-list-toggle-expand {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;

    button {
        font-family: $bodyFont;
        font-weight: 700;
        color: var(--color-dark-primary);

        &:hover {
            text-decoration: underline;
        }
    }

    .loading-spinner svg {
        width: 3.2rem;
    }
}

.gloss-li {
    display: grid;
    align-items: center;
    row-gap: 1.6rem;

    @media (min-width: 720px) {
        grid-template-columns: calc(9.6rem * 1.25) 1fr;
    }

    .gloss-li-label {
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $displayFont;
        font-size: 9.6rem;
        height: 0.8em;
        width: 0.8em;
        border-radius: 50%;
        padding-block-end: 1.2rem;
        color: var(--color-dark-primary);
        background: var(--color-pastel-medium);
        //overflow: hidden;
        transform: rotate(-6deg);
    }

    .gloss-li-content {
        display: grid;
        gap: 0.8rem;
        padding-inline: 1.6rem;

        .gloss-li-attribute {
            color: var(--color-medium-primary);
            font-weight: 700;
        }

        .gloss-li-content-gloss {
            font-size: 1.8rem;
        }
    }
}

.term-container-decks {
    background: var(--color-medium-primary);

    .featured-title {
        color: white;
        padding: 3.6rem 2.4rem 1.2rem;
    }
}

.terms-count {
    font-family: $monoFont;
    font-weight: 700;
    color: var(--color-dark-primary);
    text-align: right;
    text-transform: uppercase;
    background: var(--color-accent-medium);
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
}

.wiki-content-block > .term-item-container {
    margin-block: 3.2rem;
}

.term-item-container {
    display: grid;
    gap: 0.4rem;
}

.term-item-wrapper {
    display: grid;
    grid-template-columns: auto 2.4rem;
    gap: 0.8rem;
    align-items: center;
    width: 100%;

    .play {
        width: 2.4rem;
    }
}

.term-item {
    flex-grow: 1;
    direction: rtl;
    display: flex;
    flex-flow: row wrap;
    background: white;
    border: 0.1rem solid var(--color-accent-medium);
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.1);
    border-radius: 0.8rem;
    font-size: 1.6rem;
    position: relative;

    .term-item-head {
        min-width: 30%;
        display: flex;
        align-items: center;
        padding: 0.6rem 1.2rem;
        background: var(--color-accent-light);
        border-radius: 0.8rem;
        gap: 1.6rem;

        .arb {
            color: black;
            font-family: $ar_bodyFont;
            font-size: 1.6rem;
            font-weight: 700;
            border-inline-end: 0.1rem solid var(--color-accent-medium);
            padding-inline-end: 1.6rem;
            white-space: nowrap;
            text-align: start;
        }

        .translit {
            color: black;
            flex-shrink: 0;
            font-family: $monoFont;
            font-size: 1.2rem;
            padding-inline-end: 0.8rem;
        }

        input.arb, input.translit {
            width: 50%;
            padding: 0;
            background: 0;
            border-radius: 0;
        }
    }

    .term-item-body {
        flex-grow: 1;
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: space-between;
        direction: ltr;
        padding-block: 0.8rem;
        padding-inline: 1.6rem 0.8rem;
        background: white;
        border-radius: 0.8rem;

        .eng {
            font-family: $bodyFont;
            font-size: 1.4rem;
            font-weight: 400;
        }

        select.eng {
            width: 100%;
            color: black;
            padding: 0;
            background: none;
            min-height: 2.4rem;
        }
    }

    &.subterm {
        margin-inline-start: 3.2rem;
        align-items: normal;
        direction: rtl;
        background: var(--color-pastel-light);
        border: 0.1rem dotted var(--color-medium-primary);

        .arb {
            font-size: 1.6rem;
            font-weight: 400;
            border: none;
            background: none;
            box-shadow: none;
            transform: none;
            margin: 0;
            user-select: auto;
        }

        .eng {
            font-size: 1.2rem;
            background: none;
            border: none;
        }

        & + .subterm {
        }
    }

    &.coming-soon {
        direction: rtl;
        border: 0.1rem solid var(--color-accent-medium);
        background: var(--color-accent-light);
        margin-block: 0.4rem;
        margin-inline-start: 3.2rem;

        .feature-callout {
            grid-column: 2;
            justify-self: center;
            padding: 0.4rem 3.2rem;
            margin-block-end: 0.2rem;
            transform: rotate(-5deg);
            border: 0.1rem solid var(--color-medium-secondary);
            box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);

            &:hover {
                transform: rotate(-2deg);
            }
        }
    }

    & + h1 {
        margin-top: 2.4rem;
    }

    .pin {
        width: 3.2rem;
    }

    .term-deck-toggle {
        font-size: 2.0rem;
        color: var(--color-accent-medium);
    }

    .popup-menu {
        direction: ltr;
    }
}

.featured-term {
    display: grid;
    overflow: hidden;
    position: relative;

    img {
        min-height: 100%;
        object-fit: cover;
    }

    .term-container {
        border: none;
        box-shadow: none;
        border-radius: 0;
    }

    .term-glosses {
        //margin: 0;
    }

    @media (min-width: 960px) {
        grid-template-columns: 1fr 2fr;
    }
}

.inflection-carousel {
    background: var(--color-pastel-light);
    flex-grow: 1;

    .carousel-item {
        h3 {
            display: flex;
            justify-content: center;
            text-transform: none;
        }
    }
}

.inflection-chart-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3.2rem;
    padding-block: 3.2rem;

    .inflection-chart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        direction: rtl;
        text-align: center;
        font-family: $monoFont, $ar_bodyFont;

        .inflection-chart-title {
            font-family: $headFont;
            color: var(--color-medium-primary);
            text-transform: capitalize;
            font-weight: 700;
            font-size: 2.4rem;
        }

        .inflection-chart-item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            margin: 0 0 0.3rem 0.3rem;
            position: relative;

            &:is(a):hover {
                transform: translate(-0.3rem, 0.3rem);

                & > div {
                    box-shadow: none;
                }
            }

            > div {
                padding: 0.4rem;
                font-family: $monoFont, $ar_headFont;
                border: 0.1rem solid var(--color-dark-primary);
                box-shadow: -0.3rem 0.3rem rgba(black, 0.25);
                background: var(--color-pastel-light);
                display: flex;
                align-items: center;
            }

            > div:nth-child(1) {
                border-radius: 0 1.2rem 1.2rem 0;
                border-inline-end: none;

                color: var(--color-dark-primary);
                font-size: 1.2rem;
                font-weight: 700;
                padding: 0 0.8rem;
            }

            > div:nth-child(2) {
                border-radius: 1.2rem 0 0 1.2rem;
                border-inline-start: none;

                background: white;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.2rem 3.2rem;
            }

            > div:nth-child(2n) > div:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: $ar_bodyFont;
                font-weight: 700;
                font-size: 2.4rem;
            }

            > div:nth-child(2n) > div:not(:first-child) {
                font-size: 1.2rem;
            }

            .play {
                position: absolute;
                top: -1.2rem;
                right: 1.6rem;
                width: 2.4rem;
                transform: rotate(180deg);
            }
        }
    }
}

.chart-dialog {
    display: grid;
    gap: 0.8rem;
    justify-items: center;
    direction: rtl;
    text-align: start;
    background: var(--color-accent-light);
    padding: 2.4rem 3.2rem 3.2rem;

    .dialog-line-wrapper {
        width: min(100%, 48rem);
    }
}

.term-editor, .term-editor > * {
    width: 100%;
    max-width: 96rem;
    display: grid;
    gap: 3.2rem;
    align-content: start;
}

@media (min-width: 960px) {
    .term-editor {
        grid-template-columns: repeat(2, 1fr);

        & > *:nth-child(3) {
            grid-column: span 2;
        }
    }
}

.missing-terms {
    display: grid;
    gap: 0.2rem;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 0.8rem;
        border-radius: 0.4rem;

        &:hover {
            background: var(--color-pastel-light);
        }
    }

    button {
        display: flex;
        align-items: center;
        font-family: $bodyFont;
        font-size: 1.6rem;
    }
}
