.window-container:not(.modal-container) > .user-item {
    margin-block: 2.4rem 4.8rem;
}

.user-item {
    display: flex;
    flex-flow: column;
    gap: 1em 2em;
    align-items: flex-start;

    @media (width >= 720px) {
        flex-flow: row;
    }

    &.l .user-avatar {
        font-size: 1.2rem;
    }

    &.m .user-avatar {
        font-size: 0.9rem;
    }

    .user-avatar {
        flex-grow: 0;
        filter: drop-shadow(-1em 1em 0 var(--color-pastel-medium));
        margin-inline-start: 0.5em;
    }

    .user-name {
        .user-name-ar {
            font-size: 6.4rem;
            padding-block-end: 1.2rem;
        }

        .user-name-en {
            & > *:nth-child(1) {
                font-size: 2.4rem;
            }

            & > *:nth-child(2) {
                font-size: 1.6rem;
            }
        }
    }
}

.user-avatar {
    flex-shrink: 0;
    overflow: hidden;
    width: 16em;
    height: 16em;
    border-radius: 2em;

    img {
        object-fit: cover;
        min-height: 100%;
    }
}

.user-name {
    flex-grow: 1;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-end;
    gap: 1.2rem;
    font-weight: 700;
    line-break: anywhere;
    color: var(--color-dark-primary);

    .user-name-ar {
        direction: rtl;
        line-height: 1;
        font-family: var(--body-font);
    }

    .user-name-en {
        flex-grow: 1;

        & > *:nth-child(1) {
            font-family: var(--head-font);
        }

        & > *:nth-child(2) {
            font-family: var(--mono-font);
        }
    }
}

.user-data-wrapper {
    flex-grow: 1;
    display: grid;
    gap: 1.6rem;
    margin-block-start: 2.4rem;
    width: 100%;

    .user-comment {
        display: grid;
        gap: 1.6rem;
        background: var(--color-pastel-light);
        border-radius: 0.4rem 3.2rem 3.2rem 3.2rem;
        padding: 2.4rem;
        line-height: 2.4rem;
        font-family: var(--body-font);

        .user-comment-content:before {
            color: var(--color-accent-medium);
            content: '“';
            font-size: 3.6rem;
            font-family: var(--head-font);
        }

        .user-comment-content {
            padding-block-start: 0.4rem;
            font-size: 1.6rem;
            font-family: var(--body-font);
        }

        .user-comment-data {
            font-size: 1.4rem;
            text-align: right;
            font-style: italic;
        }
    }

    .user-tag-wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 1.2rem;
        align-items: center;
        padding-inline: 1.6rem;

        .user-tag {
            display: flex;
            gap: 0.8rem;
            align-items: center;
            background: var(--color-accent-light);
            border-radius: 3.2rem;
            padding-inline: 1.6rem 2.0rem;
            font-size: 1.4rem;
            height: 3.6rem;

            .location {
                width: 1.6rem;
            }

            .dialect {
                width: 2.4rem;
            }

            select {
                background: none;
            }
        }
    }

    .form-body {
        gap: 1.6rem;
        padding: 0;
        margin-block-end: 1.6rem;
    }
}

.comment-list {
    width: min(100%, 96rem);
    display: grid;
    gap: 3.2rem;
}
