.window-container:not(.modal-container) .user-item:not(.comment-item) {
    padding: 2.4rem 2.4rem 4.8rem;
}

.form-body .comment-item .user-comment {
    width: 100%;
}

.user-item {
    display: grid;
    font-size: 1.6rem;

    &.m {
        font-size: 2.4rem;
    }

    &.l {
        font-size: 3.2rem;
    }

    @media (width >= 720px) {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        gap: 1em;
    }
}

.user-avatar-wrapper .user-interact-buttons a,
.user-avatar-wrapper .user-interact-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-size: 1em;
    color: var(--color-accent-light);
    background: var(--color-dark-primary);
}

.user-avatar {
    flex-shrink: 0;
    width: 6em;
    height: 6em;
    margin: 1em;
    border-radius: 50%;
    position: relative;

    img {
        object-fit: cover;
        min-height: 100%;
        background: white;
        padding: 0.125em;
        border-radius: 50%;
        position: relative;
        aspect-ratio: 1;
    }
}

.user-comment {
    display: grid;
    background: var(--color-pastel-light);
    border-radius: 0.4rem 3.2rem 3.2rem 3.2rem;
    line-height: 2.4rem;
    font-family: var(--body-font);
    position: relative;

    .user-comment-title {
        flex-flow: row wrap;
        color: white;
        background: var(--color-medium-primary);
        font-family: var(--display-font);
        font-size: 3.2rem;
        text-transform: uppercase;
        text-box: trim-both cap alphabetic;

    }

    .user-comment-content:before {
        color: var(--color-accent-medium);
        content: '“';
        font-size: 3.6rem;
        font-family: var(--head-font);
    }

    .user-comment-content {
        width: auto;
        margin: 2.4rem;
        padding-block-start: 0.4rem;
        font-size: 1.6rem;
        font-family: var(--body-font);
    }

    .user-comment-data {
        margin: -0.8rem 2.4rem 2.4rem;
        font-size: 1.4rem;
        text-align: right;
        font-style: italic;
    }

    textarea {
        resize: vertical
    }

    .app-tip {
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .popout {
        width: 4.8rem;
        position: absolute;
        top: -1.6rem;
        left: -2rem;
        transition: 0.3s cubic-bezier(.18, .89, .32, 1.28);
    }

    &:hover .popout {
        transform: scale(1.2) rotate(-15deg);
    }
}

.user-data-wrapper {
    flex-grow: 1;
    display: grid;
    gap: 1.6rem;
    margin-block-start: 2.4rem;
    width: 100%;

    .user-tag-wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 1.2rem;
        align-items: center;
        padding-inline: 1.6rem;

        .user-tag {
            display: flex;
            align-items: center;
            background: var(--color-accent-light);
            border-radius: 3.2rem;
            font-size: 1.4rem;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 50%;
                background: var(--color-accent-medium);
                color: var(--color-dark-primary);
            }

            span {
                padding-inline: 1.2rem 1.6rem;
            }

            .location {
                width: 1.6rem;
            }

            .dialect {
                width: 2.4rem;
            }

            select {
                background: none;
            }
        }
    }

    .form-body {
        gap: 1.6rem;
        padding: 0;
        margin-block-end: 1.6rem;
    }
}

.comment-list {
    width: min(100%, 96rem);
    display: grid;
    gap: 3.2rem;
}

.comment-item {
    .user-data-wrapper {
        margin: 0;
    }

    .user-comment {
        margin-block-start: 0.5em;
        width: min(100%, 36rem);

        .user-name, .user-comment-title {
            padding: 1.6rem 2.0rem;
            border-radius: 0.4rem 3.2rem 0 0;
        }

        .user-name {
            font-size: 1.6rem;
            background: var(--color-pastel-medium);
            color: var(--color-dark-primary);
        }

        @media (width >= 720px) {
            margin-block-start: 2em;
        }
    }

    &.l {
        font-size: 2.4rem;

        .user-comment {
            width: 100%
        }
    }
}

.comment-testimonial {
    width: 48rem;

    .user-comment {
        width: 100%;
        background: var(--color-accent-light);
    }
}
