::selection {
    color: white;
    background: var(--color-medium-primary);
}

* {
    box-sizing: border-box;
}

html {
    font-size: clamp(45%, 2vw, 62.5%);
}

p {
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
    font-size: 1.8rem;
    line-height: 1.5em;
}

a {
    color: inherit;
    text-decoration: none
}

ol, ul {
    margin: 0;
    padding-inline-start: clamp(2.4rem, 4vw, 3.6rem);
    text-align: start;
}

li {
    padding: 0.4rem 0;
    line-height: 1.5em;
}

.material-symbols-rounded {
    font-size: 2.4rem;
    font-weight: 400;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

label {
    text-transform: capitalize;
}

//label.checkbox {
//    display: flex;
//    column-gap: 0.8rem;
//    flex-direction: row;
//    align-items: center;
//    justify-content: flex-start;
//    font-size: 1.4rem;
//    margin-bottom: 0;
//
//    & > input {
//        display: inline-flex;
//        align-items: center;
//        width: 1.6rem;
//        accent-color: var(--color-medium-primary);
//        margin: 0;
//    }
//
//    span {
//        padding-block-start: 0.2rem;
//    }
//}

input, textarea, select {
    font-size: 1.2rem;
    font-family: $monoFont;
    color: var(--color-dark-primary);
    accent-color: var(--color-dark-primary);
    background: var(--color-pastel-light);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    min-height: 2em;

    &[disabled] {
        opacity: 33%;
        cursor: not-allowed;
        pointer-events: none;
    }

    &.invalid {
        background: var(--color-accent-light);
    }
}

textarea {
    width: 100%;
    height: 9.6rem;
    resize: none;
    padding: 0.6rem 0.8rem;
}

img {
    max-width: 100%;
    user-select: none;

    &.front {
        height: clamp(6.4rem, 10vw, 9.6rem)
    }
}

figure {
    max-width: 50%;
    margin: 1.6rem auto;
    text-align: center;

    img {
        border-radius: 1.6rem;
    }

    figcaption {
        font-family: $monoFont, $ar_bodyFont;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.5;
        text-align: end;
        text-decoration: 0.2rem underline $grn dotted;
    }
}

iframe {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    border: none;
    //border-radius: 1.6rem;
    //padding: 0.2rem;
    //background: var(--color-pastel-light);
    //border: 0.3rem solid var(--color-dark-primary);
    //box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.25);
}

h1, h2, h3 {
    color: black;
    font-family: $monoFont, $ar_headFont;
    font-weight: 700;
    text-align: start;
    text-wrap: balance;
    text-transform: uppercase;
    margin: 3.2rem 0 1.6rem;
}

h1, h2, h3,
.hero-title, .hero-blurb,
.portal-button-head {
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

.featured-title {
    color: var(--color-dark-primary);
    font-family: $displayFont;
    text-transform: uppercase;
    line-height: 0.75;
    padding-block-end: 0.125em;

    &.l {
        font-size: clamp(3.2rem, 9vw, 6.4rem);
    }

    &.m {
        font-size: clamp(2.8rem, 8vw, 4.8rem);
    }

    &.s {
        font-size: clamp(2.4rem, 4vw, 3.6rem);
    }
}

.dropdown-container {
    position: relative;

    & > .dropdown-wrapper {
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        min-width: 100%;
    }
}

.popup-menu-wrapper {
    display: flex;
    direction: ltr;
}

.popup-menu {
    display: grid;
    padding: 0.4rem;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.25);
    background: white;
    text-align: start;
    text-transform: none;
    user-select: none;
    z-index: 2;

    form {
        display: contents;
    }

    a, button {
        line-height: 1.5;
        white-space: nowrap;
        text-align: start;
        border-radius: 0.4rem;
        display: block;
        padding: 0.4rem 0.8rem;
        min-width: auto;
        box-shadow: none;
        transform: none;
        font-family: $monoFont;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: capitalize;
        color: var(--color-dark-primary);

        &:focus {
            text-decoration: none;
            color: var(--color-dark-primary);
            background: var(--color-accent-light);
            outline: none;
        }

        &:hover {
            text-decoration: none;
            color: white;
            background: var(--color-medium-secondary);
        }
    }

    .disabled {
        filter: opacity(0.5) grayscale(1);
        cursor: auto;
    }

    .action-divider {
        margin: 0.3rem 0.6rem;
        border-block-end: 0.1rem dotted var(--color-medium-secondary);
    }
}

.pin, .gear, .play, .flip, .term-deck-toggle {
    cursor: pointer;
}

.pin {
    position: absolute;
    top: -0.8rem;
    left: -1.6rem;
    transform: rotate(-40deg);
    transition: 0.05s;

    &:hover {
        opacity: 50%;
    }

    &.unpinned {
        filter: brightness(1.5) saturate(0);
        opacity: 25%;

        &:hover {
            opacity: 50%;
        }
    }
}

.pin-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .pin-counter {
        font-size: 0.8rem;
        width: 2em;
        height: 2em;
        color: var(--color-medium-secondary);
        background: var(--color-pastel-medium);
        border-radius: 50%;
        font-family: $monoFont;
        position: absolute;
        top: 1em;
        left: initial;
        right: -1em;
        bottom: initial;
        justify-self: start;
        align-self: start;
    }
}

.pin-counter {
    position: absolute;
    left: -1.6rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $headFont;
    font-size: 1.2rem;
    font-weight: 700;

    & > * {
        grid-column: 1;
        grid-row: 1;
    }

    img {
        width: 3.6rem;
    }
}

.lock.toggle {
    &:hover {
        filter: brightness(1.25) saturate(1);
        opacity: 50%;
    }

    &.public {
        filter: brightness(1.5) saturate(0);
        opacity: 25%;

        &:hover {
            filter: brightness(1.25) saturate(1);
            opacity: 50%;
        }
    }
}

.gear {
    transition: 0.1s;

    &:hover {
        transform: rotate(15deg);
    }
}

.flip {
    transition: 0.2s ease-in-out;

    &:hover {
        transform: rotate(-90deg);
    }
}

.popout {
    transition: 0.3s cubic-bezier(.18, .89, .32, 1.28);

}

*:hover > .popout {
    transform: rotate(-15deg);
}

.feature-callout {
    color: var(--color-dark-primary);
    background: white;
    padding-inline: 1.6rem;
    line-height: 2;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--color-dark-primary);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.33);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $monoFont;
    text-transform: uppercase;
    user-select: none;
    transform: rotate(-2deg);
    transition: transform 0.2s;

    &:hover {
        transform: rotate(-5deg);
    }
}

.portal-button-wrapper {
    display: grid;
    gap: 3.2rem;
    margin-block: 3.2rem;
    padding-block-end: 0.8rem;
    justify-items: center;


    .portal-button-head {
        font-family: $displayFont;
        text-transform: uppercase;
        text-align: center;
        font-size: 3.6rem;
        color: var(--color-medium-primary);
    }

    .portal-button-body {
        display: flex;
        flex-flow: row wrap;
        gap: 3.2rem;
        align-items: center;
        justify-content: center;
        padding-block-end: 0.8rem;

    }
}

.portal-button {
    color: var(--color-dark-primary);
    background: var(--color-accent-medium);
    font-family: $headFont;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 3.2rem;
    transform: rotate(-1deg);
    transition: 0.2s;

    &:hover {
        transform: rotate(1deg) translate(0.3rem, -0.6rem);
        box-shadow: -0.3rem 0.6rem 0 var(--color-medium-primary);
    }
}

.portal-grid {
    display: grid;
    margin-block: 1.6rem;
    gap: 3.6rem;
    width: 100%;

    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr)
    }
}

.portal-item {
    position: relative;
    height: 36rem;
    perspective: 120rem;

    .portal-item-front, .portal-item-back {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;
        background: white;
        border-radius: 1.6rem;
        border: 0.3rem solid var(--color-dark-primary);
        box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.25);
        backface-visibility: hidden;
    }

    .portal-item-front {
        display: flex;
        gap: 1.6rem;
        flex-direction: column;

        .portal-head {
            display: grid;
            gap: 0.4rem;
            color: var(--color-accent-medium);
            background: var(--color-dark-primary);
            padding: 1.6rem;
            border-radius: 1.2rem 1.2rem 0 0;

            > *:nth-child(1) {
                font-family: $displayFont;
                font-size: 2.0rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            > *:nth-child(2) {
                font-family: $headFont;
                font-size: 2.8rem;
                font-weight: 700;
                line-height: 1.2;
                text-transform: capitalize;
            }
        }
    }

    .portal-item-back {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: rotateY(180deg);
        padding: 2.4rem 9.6rem 1.6rem 1.6rem;
        hyphens: none;
        line-height: 1.5;

        > *:nth-child(1) {
            font-family: $headFont;
            color: var(--color-dark-primary);
            font-size: 1.4rem;
        }

        > *:nth-child(2) {
            color: var(--color-accent-medium);
            font-family: $displayFont;
            font-size: 3.6rem;
            text-transform: capitalize;
        }
    }

    &:hover {
        .portal-item-front {
            transform: rotateY(-180deg);
        }

        .portal-item-back {
            transform: rotateY(0);
        }
    }

    .portal-image {
        flex-grow: 1;
        overflow: hidden;
        border-radius: 1.2rem;
        background-size: cover;
        background-position: top center;
        margin: 1.6rem;
        margin-inline-start: -1.6rem;
        border: 0.3rem solid var(--color-dark-primary);
        box-shadow: inset 0 0 0 0.2rem var(--color-pastel-light), -0.3rem 0.3rem 0 rgba(black, 0.25);
    }
}

.carousel-wrapper {
    max-width: 100vw;
    padding-block: 1.6rem;
    overflow: hidden;

    .carousel-track {
        transform: translateX(0%);
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 3.2rem;
        width: max-content;
        animation: carousel-scroll 20s linear infinite;
    }
}

.carousel {
    display: grid;
    grid-template-rows: auto min-content min-content;
    gap: 1.6rem 0;

    .app-button {
        justify-self: center;
    }
}

.carousel__track {
    height: 100%;
}

.carousel__slide {
    padding: 0 1.6rem;
}

@keyframes carousel-scroll {
    to {
        transform: translateX(calc(-50% - 1.6rem));
    }
}

.collapsible {
    margin: 2.4rem 0;
    display: flex;
    flex-flow: column;
    border-radius: 1.6rem;
    border: 0.2rem solid var(--color-dark-primary);
    overflow: hidden;
    background: white;
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.25);
    transition: 0.1s;

    &:hover {
        transform: translate(-0.3rem, 0.3rem);
        box-shadow: none;
    }

    .collapsible-head {
        padding: 1.6rem;
        color: white;
        background: var(--color-dark-primary);
        text-transform: uppercase;
        line-height: 1em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;
        font-family: $headFont;
        font-size: 2.0rem;
        font-weight: 700;

        .material-icons-round {
            font-size: 2.4rem
        }
    }

    .collapsible-body {
        max-height: 0;
        padding: 0.8rem 2.4rem;
        transition: max-height 0.5s ease-out;
    }
}

.draggable-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    .handle {
        color: var(--color-accent-medium);
        cursor: grab;
    }

    .delete {
        color: var(--color-accent-medium);
        cursor: pointer;
    }

    .term-item-container {
        grid-template-columns: 1fr
    }

    .trash {
        cursor: pointer;
        width: 2.0rem;
    }
}

.app-tip {
    @include box-accent-light;
    width: min(96rem, 100%);

    .tip-head {
        display: grid;

        button {
            justify-self: end;
            color: var(--color-dark-primary);
        }
    }

    .tip-body {
        display: grid;
        gap: 1.6rem;
        padding: 1.6rem;
    }

    .tip-content-wrapper {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        &:nth-child(2) {
            border-block-start: 0.1rem solid var(--color-accent-medium);
            padding-block-start: 1.2rem;
        }
    }

    .tip-content {
        font-family: $bodyFont;
        display: flex;
        flex-flow: column;
        gap: 0.4rem;

        p {
            margin: 0;
            font-size: 1.6rem;
        }

        a, button {
            font-family: $bodyFont;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--color-dark-primary);

            &:hover, &:active {
                text-decoration: underline;
            }
        }
    }
}

#paginator {
    color: var(--color-dark-primary);
    font-family: $headFont;
    font-weight: 700;
    width: 100%;
    max-width: 96rem;

    .pagination {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        flex: 0 1 30%;
        max-width: 100%;
        font-size: clamp(2.4rem, 4vw, 3.6rem);
        font-weight: 400;
        font-family: $displayFont;
        user-select: none;

        & > * {
            flex-basis: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-medium-primary);

            &:not(.active):hover {
                color: var(--color-medium-secondary);
            }

            &.active {
                color: var(--color-accent-medium);
            }
        }

        & > *.disabled {
            color: var(--color-pastel-dark);

            &:hover {
                cursor: default;
                color: var(--color-pastel-dark);
            }
        }
    }
}

@media print {
    #btnDocs, #sidebar, #login, #head, #tabs, #footer, nav {
        display: none
    }

    body {
        background: white
    }

    * {
        print-color-adjust: exact
    }
}

.error-container {
    display: grid;
    gap: 1.6rem;
    text-align: center;
    margin-block: 9.6rem;

    .error-status {
        font-family: $displayFont;
        font-size: 12.8rem;
        color: var(--color-dark-primary);
        line-height: 0.75;
        padding-block-end: 1.6rem;
    }

    .error-title {
        font-family: $headFont;
        font-size: 6.4rem;
        font-weight: 700;
        color: var(--color-medium-primary);
        padding-block-start: 0.8rem;
    }

    .error-message {
        font-family: $monoFont;
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--color-dark-primary);
    }
}

/*
Flash Notifications
 */

$flashers: (
    success: $grn,
    info: $prp,
    warning: $yel,
    error: $red
);

.fl-main-container {
    position: fixed;
    z-index: 99999;
    min-width: 24rem;
    transition: all 1s ease-in-out;

    right: 0.4rem;
    max-width: 80%;
    bottom: 0;

    @media (min-width: 960px) {
        left: 1.6rem;
        right: auto;
        max-width: 48rem;
    }

    .fl-container {
        transition: transform .3s ease-in-out;
        transform: translateY(100%);

        &.fl-show {
            transform: translateY(-0.4rem);

            @media (min-width: 960px) {
                transform: translateY(-1.6rem);
            }
        }

        @each $type, $color in $flashers {
            &.fl-#{$type} {
                .fl-progress-bar {
                    display: flex;
                    height: 0.4rem;
                    background-color: var(--color-pastel-dark);

                    .fl-progress {
                        background-color: var(--color-medium-primary);
                    }
                }

                &.fl-flasher {
                    border-radius: 1.6rem;
                    border: 0.2rem solid var(--color-dark-primary);
                    box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.25);
                    background: var(--color-pastel-light);

                    font-family: $monoFont;
                    line-height: 1.5;
                    margin: 0.8rem;
                    user-select: none;
                    word-break: break-word;
                    color: black !important;
                    overflow: hidden;

                    .fl-content {
                        display: flex;
                        align-items: center;
                        padding: 1.2rem;
                        background: white;
                    }

                    .fl-icon {
                        display: none;
                    }

                    .fl-message, .fl-title {
                        display: block;
                        margin-inline: 1.2rem;
                    }

                    .fl-title {
                        color: var(--color-medium-primary);
                        font-size: 2.0rem;
                        font-weight: 700;
                        font-family: $headFont;
                    }

                    .fl-message {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.notification {
    direction: ltr;
    font-family: $monoFont;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--color-medium-secondary);
    box-shadow: -0.1rem 0.1rem 0 var(--color-medium-secondary);
    color: var(--color-medium-secondary);
    background: white;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
    white-space: nowrap;
    z-index: 9999;
}

.notification-leave-active {
    transition: opacity 1s ease;
}

.notification-leave-to {
    opacity: 0;
}
