@mixin info-box-yellow {
    background: var(--color-accent-light);
    border: 0.1rem solid var(--color-accent-medium);
}

@mixin button-primary-dark {
    background: white;
    color: var(--color-dark-primary);
    border: 0.1rem solid var(--color-medium-secondary);
    box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
}

@mixin button-primary-deep {
    background: white;
    color: var(--color-dark-primary);
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
}

@mixin box-accent-light {
    color: var(--color-dark-primary);
    background: var(--color-accent-light);
    border: 0.1rem solid var(--color-accent-medium);
    border-radius: 0.8rem;
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.1);
}

@mixin link-primary {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-medium-primary);

    &:hover {
        text-decoration: underline;
    }
}

@mixin link-purple-deep {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-dark-primary);

    &:hover {
        text-decoration: 0.2rem solid underline;
    }
}

@mixin caption {
    padding: 0.6rem 1.8rem;
    color: var(--color-dark-primary);
    background: white;
    border: 0.2rem solid var(--color-dark-primary);
    border-radius: 1.2rem;
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.33);
    font-family: $headFont;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
}

@mixin pop-on-hover {
    transition: 0.2s cubic-bezier(.68, -0.55, .27, 1.55);

    &:hover {
        transform: scale(1.05) rotate(-3deg);
    }
}

$displayFont: 'beastly', 'Lalezar', serif;
$headFont: 'monotalic', 'greycliff-arabic-cf', sans-serif;
$bodyFont: 'komet', 'greycliff-arabic-cf', sans-serif;
$monoFont: 'JetBrains Mono', 'Vazirmatn', monospace;
$ar_bodyFont: 'Vazirmatn', sans-serif;

//$displayFont: 'digibop', 'greycliff-arabic-cf', serif;
//$headFont: 'hyperspace-race-variable', 'greycliff-arabic-cf', sans-serif;
//:root {
//    font-variation-settings: 'wdth' 130, 'wght' 800;
//}

:root, .theme-PalWebOS {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(265, 90%, 30%);
    --color-dark-primary: hsl(265, 85%, 35%);
    --color-medium-secondary: hsl(260, 64%, 48%);
    --color-medium-primary: hsl(255, 82%, 62%);
    --color-pastel-dark: hsl(255, 75%, 83%);
    --color-pastel-medium: hsl(255, 80%, 92%);
    --color-pastel-light: hsl(260, 90%, 97%);
    --color-transparent: hsla(255, 80%, 92%, 0.75);
    --color-accent-dark: var(--color-dark-primary);
    --color-accent-medium: hsl(40, 92%, 60%);
    --color-accent-light: hsl(40, 92%, 90%);
}

.theme-Watermelon {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(170, 80%, 12%);
    --color-dark-primary: hsl(170, 100%, 16%);
    --color-medium-secondary: hsl(165, 80%, 22%);
    --color-medium-primary: hsl(160, 80%, 35%);
    --color-pastel-dark: hsl(165, 40%, 77%);
    --color-pastel-medium: hsl(165, 35%, 85%);
    --color-pastel-light: hsl(165, 32%, 94%);
    --color-transparent: hsla(165, 35%, 85%, 0.75);
    --color-accent-dark: hsl(355, 60%, 45%);
    --color-accent-medium: hsl(355, 100%, 82%);
    --color-accent-light: hsl(355, 100%, 96%);
}

.theme-Nabatean {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(5, 25%, 20%);
    --color-dark-primary: hsl(2, 25%, 25%);
    --color-medium-secondary: hsl(2, 55%, 45%);
    --color-medium-primary: hsl(2, 58%, 54%);
    --color-pastel-dark: hsl(195, 50%, 76%);
    --color-pastel-medium: hsl(195, 40%, 84%);
    --color-pastel-light: hsl(195, 30%, 95%);
    --color-transparent: hsla(195, 40%, 84%, 0.75);
    --color-accent-dark: hsl(195, 60%, 30%);
    --color-accent-medium: hsl(36, 85%, 65%);
    --color-accent-light: hsl(36, 80%, 92%);
}

.theme-Jerusalem {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: #050566;
    --color-dark-primary: hsl(240, 80%, 30%);
    --color-medium-secondary: hsl(215, 90%, 45%);
    --color-medium-primary: hsl(172, 100%, 34%);
    --color-pastel-dark: hsl(200, 75%, 80%);
    --color-pastel-medium: hsl(200, 90%, 88%);
    --color-pastel-light: hsl(172, 50%, 92%);
    --color-transparent: hsla(200, 90%, 92%, 0.75);
    --color-accent-dark: hsl(178, 95%, 20%);
    --color-accent-medium: hsl(45, 95%, 50%);
    --color-accent-light: hsl(45, 85%, 90%);

    //--color-dark-secondary: hsl(220, 80%, 12%);
    //--color-dark-primary: hsl(220, 100%, 25%);
    //--color-medium-secondary: hsl(200, 95%, 38%);
    //--color-medium-primary: hsl(190, 100%, 40%);
    //--color-pastel-dark: hsl(160, 60%, 80%);
    //--color-pastel-medium: hsl(160, 60%, 84%);
    //--color-pastel-light: hsl(160, 60%, 95%);
    //--color-transparent: hsla(65, 60%, 84%, 0.75);
    //--color-accent-medium: hsl(355, 60%, 55%);
    //--color-accent-light: hsl(32, 100%, 92%);
}

//.theme-Falastin {
//    --color-polar-dark: hsl(0, 0%, 0%);
//    --color-polar-light: hsl(0, 0%, 100%);
//    --color-dark-secondary: hsl(20, 20%, 5%);
//    --color-dark-primary: hsl(20, 12%, 15%);
//    --color-medium-secondary: hsl(20, 8%, 25%);
//    --color-medium-primary: hsl(20, 8%, 40%);
//    --color-pastel-dark: hsl(20, 8%, 80%);
//    --color-pastel-medium: hsl(20, 8%, 90%);
//    --color-pastel-light: hsl(20, 8%, 95%);
//    --color-transparent: hsla(0, 0%, 92%, 0.75);
//    --color-accent-dark: hsl(30, 30%, 20%);
//    --color-accent-medium: hsl(30, 30%, 65%);
//    --color-accent-light: hsl(30, 80%, 95%);
//}

//.theme-Sumac {
//    --color-polar-dark: hsl(0, 0%, 0%);
//    --color-polar-light: hsl(0, 0%, 100%);
//    --color-dark-secondary: hsl(300, 28%, 16%);
//    --color-dark-primary: hsl(300, 35%, 22%);
//    --color-medium-secondary: hsl(340, 40%, 35%);
//    --color-medium-primary: hsl(340, 40%, 45%);
//    --color-pastel-dark: hsl(340, 50%, 80%);
//    --color-pastel-medium: hsl(340, 50%, 92%);
//    --color-pastel-light: hsl(340, 50%, 97%);
//    --color-transparent: hsla(195, 40%, 84%, 0.75);
//    --color-accent-dark: hsl(12, 30%, 30%);
//    --color-accent-medium: hsl(28, 50%, 62%);
//    --color-accent-light: hsl(28, 50%, 92%);
//}

.theme-picker-wrapper {
    display: grid;
    width: 80%;
    max-width: 64rem;
    justify-items: center;
    gap: 1.6rem;
}

.theme-picker-option {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    user-select: none;

    font-family: $headFont;
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--color-dark-primary);
    padding: 2.0rem 2.4rem 1.6rem;

    &:not(:first-child) {
        border-block-start: 1px solid var(--color-dark-secondary);
    }

    &.active {
        background: var(--color-accent-medium);
    }

    &:not(.active):hover {
        background: var(--color-accent-light);
    }
}

.theme-preview {
    display: grid;
    gap: 3.2rem;
    padding: 3.2rem;
    justify-items: center;

    p {
        width: min(100%, 48rem);
        margin: 0;
        text-align: center;
        font-family: $monoFont;
        font-size: 1.4rem;
        hyphens: none;
    }
}

.theme-preview-colors {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    & > * {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
    }

    & > *:nth-child(1) {
        background: var(--color-dark-primary);
    }

    & > *:nth-child(2) {
        background: var(--color-medium-primary);
    }

    & > *:nth-child(3) {
        background: var(--color-pastel-medium);
    }

    & > *:nth-child(4) {
        background: var(--color-accent-medium);
    }

    & > *:nth-child(5) {
        background: var(--color-accent-light);
    }
}

// Legacy Colors
$red: rgb(237, 28, 36);
$cyn: rgb(0, 174, 239);
$orn: rgb(242, 88, 36); // 15, 85, 95
$yel: rgb(255, 179, 26); // 40, 90, 100
$grn: rgb(0, 166, 83); // 150, 100, 65
$blu: rgb(0, 102, 204); // 210, 100, 80
$prp: rgb(110, 33, 166); // 275, 80, 65
$mag: rgb(229, 23, 126); // 330, 90, 90

$cast: (
    // students of Arabic literature at Birzeit University
    "ʔakram": $grn, // Akram, from Jericho
    "ġassān": $cyn, // Ghassan, from Nablus (Beita)
    "šādi": $blu, // Shadi, from Jaffa
    "jiryis": $prp, // Jeries, from Jerusalem (Abu Dis)
    "yāra": $mag, // Yara, from Gaza
    "dāna": $red, // Dana, from Haifa
    "sama": $orn, // Sama, from Bethlehem
    "mīra": $yel, // Mera, from Nazareth
    // diaspora Palestinians studying English literature full-time at Birzeit
    "mħammad": $grn, // Mhammad, from Jordan
    "yūsef": $prp, // Yousef, from Syria
    "lama": $orn, // Lama, from Lebanon
    "ʔarwa": $prp, // Arwa, from Egypt
    // diaspora Palestinians doing a semester at Birzeit
    "sāmir": $orn, // Samer, from Silwad
    "širīn": $grn, // Shireen, from Jenin
    // Shams & Nur
    "guest-1": $grn,
    "guest-2": $prp,
    "guest-3": $orn,
);

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
