@mixin info-box-yellow {
    background: var(--color-accent-light);
    border: 0.1rem solid var(--color-accent-medium);
}

@mixin button-primary-dark {
    background: white;
    color: var(--color-dark-primary);
    border: 0.1rem solid var(--color-medium-secondary);
    box-shadow: -0.2rem 0.2rem 0 var(--color-medium-secondary);
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
}

@mixin button-primary-deep {
    background: white;
    color: var(--color-dark-primary);
    border: 0.1rem solid var(--color-dark-primary);
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
}

@mixin box-accent-light {
    color: var(--color-dark-primary);
    background: var(--color-accent-light);
    border: 0.1rem solid var(--color-accent-medium);
    border-radius: 0.8rem;
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.1);
}

@mixin link-primary {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-medium-primary);

    &:hover {
        text-decoration: underline;
    }
}

@mixin link-purple-deep {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-dark-primary);

    &:hover {
        text-decoration: 0.2rem solid underline;
    }
}

@mixin caption {
    padding: 0.6rem 1.8rem;
    color: var(--color-dark-primary);
    background: white;
    border: 0.2rem solid var(--color-dark-primary);
    border-radius: 1.2rem;
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.33);
    font-family: $headFont;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
}

@mixin pop-on-hover {
    transition: 0.2s cubic-bezier(.68, -0.55, .27, 1.55);

    &:hover {
        transform: scale(1.05) rotate(-3deg);
    }
}

// PalWeb Fonts
$logoFont: 'benda', sans-serif;
$displayFont: 'beastly', 'greycliff-arabic-cf', serif;
$headFont: 'monotalic', 'greycliff-arabic-cf', sans-serif;
$monoFont: 'JetBrains Mono', 'Vazirmatn', monospace;
$bodyFont: 'komet', 'greycliff-arabic-cf', sans-serif;
$ar_headFont: 'ibm-plex-arabic', sans-serif;
$ar_bodyFont: 'Vazirmatn', sans-serif;

//var(--color-dark-secondary): #360f88;
//var(--color-dark-primary): #4313aa;
//var(--color-medium-secondary): #5435B0;
//var(--color-medium-primary): #7047eb;
//var(--color-pastel-dark): #c6b5f7;
//var(--color-pastel-medium): #e2dafb;
//var(--color-pastel-light): #f1edfd;
//// one more yellow
//var(--color-accent-medium): #ffc32c;
//var(--color-accent-light): #fff0ca;

:root, .theme-palweb {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(265, 95%, 28%);
    --color-dark-primary: hsl(265, 95%, 35%);
    --color-medium-secondary: hsl(260, 65%, 45%);
    --color-medium-primary: hsl(255, 80%, 60%);
    --color-pastel-dark: hsl(255, 75%, 83%);
    --color-pastel-medium: hsl(255, 80%, 92%);
    --color-pastel-light: hsl(260, 90%, 97%);
    --color-transparent: hsla(255, 80%, 92%, 0.75);
    --color-accent-dark: hsl(28, 85%, 48%);
    --color-accent-medium: hsl(42, 95%, 58%);
    --color-accent-light: hsl(42, 95%, 90%);
}



.theme-watermelon {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(170, 80%, 12%);
    --color-dark-primary: hsl(170, 88%, 15%);
    --color-medium-secondary: hsl(165, 80%, 28%);
    --color-medium-primary: hsl(160, 60%, 45%);
    --color-pastel-dark: hsl(165, 40%, 77%);
    --color-pastel-medium: hsl(165, 35%, 85%);
    --color-pastel-light: hsl(165, 32%, 94%);
    --color-transparent: hsla(165, 35%, 85%, 0.75);
    --color-accent-dark: #cc2944;
    --color-accent-medium: hsl(0, 95%, 80%);
    --color-accent-light: hsl(0, 93%, 97%);
}

.theme-jerusalem {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: #050566;
    --color-dark-primary: hsl(250, 90%, 35%);
    --color-medium-secondary: hsl(215, 90%, 45%);
    --color-medium-primary: hsl(170, 95%, 38%);
    --color-pastel-dark: hsl(200, 75%, 80%);
    --color-pastel-medium: hsl(200, 90%, 92%);
    --color-pastel-light: hsl(170, 50%, 94%);
    --color-transparent: hsla(38, 90%, 88%, 0.75);
    --color-accent-dark: hsl(30, 60%, 40%);
    --color-accent-medium: hsl(38, 65%, 65%);
    --color-accent-light: hsl(38, 90%, 94%);
}

.theme-zaatar {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(100, 80%, 12%);
    --color-dark-primary: hsl(100, 80%, 16%);
    --color-medium-secondary: hsl(80, 45%, 35%);
    --color-medium-primary: hsl(80, 45%, 45%);
    --color-pastel-dark: hsl(65, 60%, 80%);
    --color-pastel-medium: hsl(65, 60%, 84%);
    --color-pastel-light: hsl(65, 60%, 92%);
    --color-transparent: hsla(65, 60%, 84%, 0.75);
    --color-accent-dark: hsl(42, 70%, 35%);
    --color-accent-medium: hsl(48, 90%, 55%);
    --color-accent-light: hsl(45, 90%, 92%);
}

.theme-jericho {
    --color-polar-dark: hsl(0, 0%, 0%);
    --color-polar-light: hsl(0, 0%, 100%);
    --color-dark-secondary: hsl(10, 50%, 15%);
    --color-dark-primary: hsl(10, 50%, 22%);
    --color-medium-secondary: hsl(30, 80%, 40%);
    --color-medium-primary: hsl(30, 70%, 60%);
    --color-pastel-dark: hsl(40, 75%, 83%);
    --color-pastel-medium: hsl(40, 75%, 88%);
    --color-pastel-light: hsl(40, 75%, 97%);
    --color-transparent: hsla(40, 75%, 88%, 0.75);
    --color-accent-dark: hsl(190, 50%, 35%);
    --color-accent-medium: hsl(190, 50%, 70%);
    --color-accent-light: hsl(190, 50%, 95%);
}

.theme-picker-wrapper {
    display: grid;
    width: 80%;
    max-width: 64rem;
    justify-items: center;
    gap: 1.6rem;
}

.theme-picker-option {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    background: white;
    padding: 1.2rem;
    border-radius: 3.2rem;
    user-select: none;

    .theme-name {
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.0rem;
        color: var(--color-dark-primary);
        padding-inline-start: 1.2rem;
        padding-block-start: 0.2rem;
    }

    .theme-preview {
        display: flex;
        gap: 0.4rem;
    }

    .theme-preview > * {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
    }

    .theme-preview.palweb {
        div:nth-child(1) {
            background: hsl(265, 95%, 35%);
        }

        div:nth-child(2) {
            background: hsl(255, 80%, 60%)
        }

        div:nth-child(3) {
            background: hsl(42, 95%, 58%);
        }
    }

    .theme-preview.watermelon {
        div:nth-child(1) {
            background: hsl(170, 90%, 15%);
        }

        div:nth-child(2) {
            background: #36b389;
        }

        div:nth-child(3) {
            background: hsl(0, 95%, 80%);
        }
    }

    .theme-preview.jerusalem {
        div:nth-child(1) {
            background: hsl(250, 90%, 35%);
        }

        div:nth-child(2) {
            background: hsl(170, 95%, 38%);
        }

        div:nth-child(3) {
            background: hsl(38, 65%, 65%);
        }
    }

    .theme-preview.zaatar {
        div:nth-child(1) {
            background: hsl(100, 80%, 16%);
        }

        div:nth-child(2) {
            background: hsl(80, 45%, 45%);
        }

        div:nth-child(3) {
            background: hsl(48, 90%, 55%);
        }
    }

    .theme-preview.jericho {
        div:nth-child(1) {
            background: hsl(20, 50%, 22%);
        }

        div:nth-child(2) {
            background: hsl(30, 70%, 60%);
        }

        div:nth-child(3) {
            background: hsl(180, 45%, 70%);
        }
    }

    &:hover {
        box-shadow: 0 0 0 0.3rem var(--color-accent-medium);
    }

    &.active {
        box-shadow: 0 0 0 0.3rem var(--color-medium-primary);
    }
}

// Colors
html {
    --red: rgba(237, 28, 36, 1);
    --dimred: rgba(237, 28, 36, 0.1);
    --orn: rgba(242, 101, 34, 1);
    --dimorn: rgba(242, 101, 34, 0.1);
    --yel: rgba(255, 194, 14, 1);
    --dimyel: rgba(255, 194, 14, 0.1);
    --grn: rgba(0, 166, 81, 1);
    --dimgrn: rgba(0, 166, 81, 0.1);
    --cyn: rgba(0, 174, 239, 1);
    --dimcyn: rgba(0, 174, 239, 0.1);
    --blu: rgba(0, 114, 188, 1);
    --dimblu: rgba(0, 114, 188, 0.1);
    --prp: rgba(102, 45, 145, 1);
    --dimprp: rgba(102, 45, 145, 0.1);
    --mag: rgba(236, 0, 140, 1);
    --dimmag: rgba(236, 0, 140, 0.1);
    --gry: rgba(136, 136, 136, 1);
    --dimgry: rgba(136, 136, 136, 0.1);
}

// Legacy Colors
$red: rgb(237, 28, 36);
$cyn: rgb(0, 174, 239);
$orn: rgb(242, 88, 36); // 15, 85, 95
$yel: rgb(255, 179, 26); // 40, 90, 100
$grn: rgb(0, 166, 83); // 150, 100, 65
$blu: rgb(0, 102, 204); // 210, 100, 80
$prp: rgb(110, 33, 166); // 275, 80, 65
$mag: rgb(229, 23, 126); // 330, 90, 90

$colors: (
    "red": $red,
    "orn": $orn,
    "yel": $yel,
    "grn": $grn,
    "cyn": $cyn,
    "blu": $blu,
    "prp": $prp,
    "mag": $mag,
);

$cast: (
    // students of Arabic literature at Birzeit University
    "ʔakram": $grn, // Akram, from Jericho
    "ġassān": $cyn, // Ghassan, from Nablus (Beita)
    "šādi": $blu, // Shadi, from Jaffa
    "jiryis": $prp, // Jeries, from Jerusalem (Abu Dis)
    "yāra": $mag, // Yara, from Gaza
    "dāna": $red, // Dana, from Haifa
    "sama": $orn, // Sama, from Bethlehem
    "mīra": $yel, // Mera, from Nazareth
    // diaspora Palestinians studying English literature full-time at Birzeit
    "mħammad": $grn, // Mhammad, from Jordan
    "yūsef": $prp, // Yousef, from Syria
    "lama": $orn, // Lama, from Lebanon
    "ʔarwa": $prp, // Arwa, from Egypt
    // diaspora Palestinians doing a semester at Birzeit
    "sāmir": $orn, // Samer, from Silwad
    "širīn": $grn, // Shireen, from Jenin
    // Shams & Nur
    "guest-1": $grn,
    "guest-2": $prp,
    "guest-3": $orn,
);

$boxes: (
    "grammar": $grn,
    "vocab": $prp,
    "dialog": $orn,
    "text": $grn,
    "info": $blu
);

$charts: (
    "red": $red,
    "orn": $orn,
    "yel": $yel,
    "grn": $grn,
    "cyn": $cyn,
    "blu": $blu,
    "prp": $prp,
    "mag": $mag,
    // greeting = grn
    "resp": $orn,
    // inherited = grn
    "borrowed": $mag,
    "ap": $yel,
    "pp": $blu,
    "nv": $grn,
    "dialog": $orn,
    "vocab": $prp,
    "msc": $blu,
    "fem": $mag,
    "plr": $prp,
    "elt": $blu,
    "defect": $blu,
    "sing": $mag,
    "pauc": $prp,
    "m": $blu,
    "f": $mag,
    "p": $prp,
    "collective": $blu,
    "demonym": $prp,
    "pseudo": $mag,
    "participle": $yel,
    "clitic": $orn,
    "idiom": $orn,
    "isPatient": $orn,
    "hasObject": $prp,
);

@each $name, $color in $colors {
    .#{$name} {
        color: $color
    }
}

.rainbow-background {
    color: white !important;
    background: linear-gradient(
            105deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%
    );
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(0.8rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fontToggle {
    0% {
        font-weight: 400;
        text-transform: uppercase;
        font-family: $displayFont;
    }

    33% {
        font-weight: 700;
        text-transform: none;
        font-family: $headFont;
    }

    66% {
        font-weight: 700;
        text-transform: lowercase;
        font-family: $logoFont;
    }

    100% {
        font-weight: 400;
        text-transform: uppercase;
        font-family: $displayFont;
    }
}

.font-toggle {
    line-height: 2.4rem;
    //animation: fontToggle 3s infinite;
}
