.wiki-blocks-wrapper {
    .block--text {
        display: grid;
        gap: 1.6rem;

        p {
            margin: 0;
            font-size: 1.6rem;
        }
    }

    a {
        color: var(--color-dark-primary);
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    .model-item-container {
        justify-self: center;
    }
}
