@use 'variables';
@use 'layout';
@use 'apps';
@use 'academy';
@use 'decks';
@use 'terms';
@use 'sentences';
@use 'users';
@use 'record';
@use 'utilities';
@use 'wiki';

/*
Search Tools
 */

.search-filters-container {
    display: grid;
    gap: 1.2rem;
    background: white;
    padding: 1.2rem;
    border-radius: 0.8rem;
    width: 100%;
    max-width: 96rem;

    .search-bar {
        display: flex;
        align-items: center;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        gap: 0.8rem;

        & > * {
            height: 4.8rem;
        }

        .pin-button-wrapper {
            font-size: 1em;
            width: 4.8rem;
            border-radius: 0.8rem;
            justify-content: center;
            user-select: none;
            cursor: pointer;
            color: white;
            background: var(--color-dark-primary);

            button {
                font-size: 1.5em;
                color: white;
                width: 100%;
                height: 100%;
            }

            &.pinned {
                background: var(--color-accent-medium);

                button {
                    color: var(--color-dark-primary);
                }
            }
        }

        input {
            flex-grow: 1;
            font-family: var(--mono-font);
            font-weight: 700;
            text-align: center;
            color: var(--color-dark-primary);
            background: var(--color-pastel-light);

            min-height: 4.8rem;
            padding: 0.8rem 1.6rem;
            font-size: 1.6rem;
            outline: 0;

            &:focus {
                outline: none;
                background: var(--color-accent-light);
            }

            &.persisting {
                background: var(--color-accent-light);
            }
        }
    }

    .search-filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.8rem;

        select {
            flex-grow: 1;

            &.persisting {
                background: var(--color-accent-light);
            }
        }
    }

    & + .app-tip {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }
}

.form-body {
    display: grid;
    gap: 3.2rem;
    padding: 3.2rem 3.2rem 4.8rem;
    font-family: var(--head-font);
    color: var(--color-dark-primary);

    p {
        background: var(--color-accent-light);
        border-radius: 0.8rem;
        padding: 1.6rem 2.0rem;
        font-family: var(--body-font);
        text-transform: none;
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0;
    }

    button:not(.app-button):not(.material-symbols-rounded) {
        justify-self: start;
        font-family: var(--mono-font);
        font-weight: 700;
        color: var(--color-medium-primary);
        font-size: 1.4rem;

        &:hover {
            text-decoration: 0.2rem solid underline;
        }
    }

    .form-errors {
        @include variables.box-accent-light;
        font-size: 1.4rem;
        padding: 1.6rem;

        ul {
            font-size: 1.2rem;
        }
    }

    .field-item {
        width: 100%;
        gap: 0.8rem;

        label {
            font-size: 2.0rem;
            color: var(--color-medium-secondary);
        }

        label:has(input) {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.6rem;
            font-family: var(--mono-font);
            color: var(--color-dark-primary);
        }

        input, textarea, select {
            font-size: 1.4rem;
        }

        input {
            border-radius: 3.2rem;
            padding: 0.8rem 1.6rem;
        }

        select {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            min-width: 16rem;
        }
    }

    .field-input:has(input) {
        margin-inline: -0.8rem;
    }

    & > .user-item {
        margin: 0;
    }
}

.field-block-wrapper {
    display: grid;
    gap: 0.8rem;
}

.field-block {
    display: grid;
    gap: 0.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    border-radius: 0.8rem;
    box-shadow: -0.2rem 0.2rem 0 var(--color-dark-primary);
    overflow: hidden;
    background: white;

    .field-block-head {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: space-between;
        font-family: var(--head-font);
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: lowercase;
        padding: 1.0rem 1.6rem 0.8rem;
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
    }

    .field-block-body {
        display: grid;
        gap: 1.2rem;
        padding: 1.2rem;
    }

    .field-block {
        box-shadow: none;
        border: 0.1rem solid var(--color-pastel-dark);

        .field-block-head {
            background: var(--color-pastel-light);
            font-size: 1.8rem;
        }
    }
}

.field-block > .field-block-head:has(.field-item-add) {
    cursor: pointer;

    .field-item-add {
        font-weight: 700;
        cursor: pointer;
        user-select: none;
    }

    &:hover {
        background: var(--color-pastel-medium);
    }
}

.field-set {
    position: relative;
    display: grid;
    gap: 1.2rem;
    padding: 1.2rem;
    border: 0.1rem solid var(--color-pastel-medium);
    border-radius: 0.8rem;

    img {
        top: -0.8rem;
        right: 1.6rem;
        position: absolute;
        cursor: pointer;
        width: 2.0rem;
        z-index: 1;
    }
}

.field-item {
    position: relative;
    display: grid;
    gap: 0.4rem;

    label {
        font-family: var(--head-font);
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-dark-primary);
    }
}

.toggle-button-wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--color-dark-primary);
    font-family: var(--mono-font);
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: capitalize;

    &[disabled='true'] {
        opacity: 0.5;
        pointer-events: none;
    }
}

button.toggle-button {
    height: 3.2rem;
    width: 5.6rem;
    border-radius: 1.6rem;
    padding: 0.4rem;
    background: var(--color-pastel-medium);
    cursor: pointer;
    transition: 0.1s background ease;

    &:focus {
        outline: 0.2rem solid var(--color-dark-primary);
    }

    .toggle-button-slider {
        height: 100%;
        width: 50%;
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--display-font);
        font-size: 2.4rem;
        text-transform: uppercase;
        user-select: none;
        background: white;
        transition: 0.2s transform ease;
        transform: translateX(0%);
    }

    &.active {
        background: var(--color-accent-medium);

        .toggle-button-slider {
            transform: translateX(100%);
        }
    }
}

.field-error {
    color: var(--color-accent-dark);
    font-size: 1.2rem;
    font-family: var(--mono-font);
}

.field-input {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    input {
        flex-grow: 1;
    }

    .field-chars {
        color: var(--color-medium-secondary);
        font-size: 1.2rem;
        padding-inline: 0.8rem;

        &.invalid {
            color: var(--color-accent-dark);
        }
    }
}

.model-list.draggable {
    padding-inline: 1.6rem;
}

.draggable {
    display: grid;
    gap: 1.6rem;
}

.homepage-panel-wrapper {
    .carousel__slide img {
        border-radius: 0.8rem;
    }

    .carousel__pagination {
        justify-self: center;
        align-items: center;
        gap: 0.4rem;
        flex-wrap: wrap;
        margin: 0 1.6rem 0;
    }

    .carousel__pagination-item {
        padding: 0;
        flex-grow: 1;
        min-width: 1.6rem;
    }

    .carousel__pagination-button {
        padding: 0 !important;
        width: 100% !important;
    }

    .carousel__pagination-button::after {
        width: 100% !important;
        height: 1.6rem !important;
        border-radius: 3.2rem !important;
        background: var(--color-accent-medium) !important;
    }

    .carousel__pagination-button--active::after {
        background: var(--color-medium-primary) !important;
    }
}
