@import 'variables';
@import 'layout';
@import 'nav';
@import 'apps';
@import 'academy';
@import 'decks';
@import 'terms';
@import 'sentences';
@import 'users';
@import 'record';
@import 'audios';
@import 'utilities';
@import 'wiki';

//.info-button-wrapper {
//    display: inline-flex;
//    gap: 0.2rem;
//    align-items: center;
//    justify-self: start;
//    font-size: 1.2rem;
//    border-radius: 0.8rem;
//    padding: 0.2rem;
//    background: var(--color-dark-primary);
//    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
//    transform: translate(0.2rem, -0.2rem);
//    transition: 0.05s;
//    user-select: none;
//
//    .info-button-label,
//    .info-button-content {
//        border-radius: 0.6rem;
//        padding-block: 0.4rem;
//        font-weight: 700;
//        font-family: $monoFont;
//        line-height: 1.5;
//        color: var(--color-dark-primary);
//    }
//
//    .info-button-label {
//        color: white;
//        padding-inline: 0.8rem;
//    }
//
//    .info-button-content {
//        display: flex;
//        gap: 0.8rem;
//        justify-content: center;
//        align-items: center;
//        background: white;
//        padding-inline: 1.2rem;
//    }
//
//    .info-button-content-arb {
//        font-size: 1.4rem;
//    }
//
//    .info-button-content-eng {
//        font-weight: 400;
//    }
//
//    &:hover {
//        transform: none;
//        box-shadow: none;
//    }
//}

//.inline-chart {
//    display: flex;
//    flex-flow: row wrap;
//    align-items: center;
//    justify-content: flex-start;
//    background-color: white;
//    border-radius: 1.6rem;
//    font-weight: 700;
//    font-size: 1.4rem;
//    padding: 0.4rem;
//    //color: black;
//    //text-transform: uppercase;
//    font-family: $monoFont, $ar_bodyFont;
//
//    &:first-child {
//        margin-top: 0
//    }
//
//    &:last-child {
//        margin-bottom: 0
//    }
//
//    .row-title {
//        min-width: 12rem;
//        text-align: start;
//        padding-inline-start: 1.6rem;
//        text-transform: uppercase;
//    }
//}
//
//.chart-item {
//    line-height: 2;
//    display: inline-flex;
//    justify-content: flex-start;
//    padding: 0.2rem;
//    margin: 0.4rem;
//    border-radius: 1.2rem;
//    user-select: none;
//    color: $grn;
//    background-color: rgba($grn, 0.2);
//    font-weight: 700;
//    font-size: 1.4rem;
//    font-family: $monoFont, $ar_bodyFont;
//
//    > * {
//        border-radius: 0.8rem;
//        padding: 0 0.8rem;
//        margin: 0.2rem;
//        align-self: center;
//    }
//}
//
//a.chart-item:hover {
//    box-shadow: inset 0 0 0 0.2rem $grn
//}
//
//.chart-title {
//    color: white;
//    background-color: $grn;
//    text-transform: uppercase;
//    text-align: center;
//    flex-shrink: 0;
//}
//
//.chart-title.transparent {
//    background: none !important;
//    color: inherit !important;
//}
//
//.inline-chart.title {
//    padding: 0;
//    background: none;
//
//    .chart-item {
//        margin: 0;
//        padding: 0.4rem;
//        border-radius: 3.2rem;
//    }
//
//    .chart-item > * {
//        margin: 0;
//    }
//
//    .chart-title {
//        font-family: $bodyFont;
//        font-weight: 700;
//        font-size: 2.8rem;
//        border-radius: 2.8rem;
//        padding: 0.8rem 3.2rem;
//        line-height: 1.5;
//    }
//
//    .chart-subtitle {
//        font-size: 2.0rem;
//        padding: 0 2.4rem;
//    }
//}
//
//@each $name, $color in $charts {
//    .chart-item.#{$name} {
//        color: $color;
//        background-color: rgba($color, 0.2);
//
//        > .chart-title {
//            background-color: $color
//        }
//    }
//    a.chart-item.#{$name}:hover {
//        box-shadow: inset 0 0 0 0.2rem $color
//    }
//}

// Subscriptions

.subscription-tiers {
    width: 100%;
    max-width: 128rem;
    margin: 3.2rem 6.4rem;
    padding-inline: 3.2rem;
    gap: 3.2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;

    //display: grid;
    //align-items: start;
    //justify-content: center;
    //justify-items: center;
    //grid-template-columns: repeat(1, 1fr);
    //
    //@media (min-width: 960px) {
    //    grid-template-columns: repeat(2, 1fr);
    //}
}

.tier-item-wrapper {
    //width: 100%;
    //max-width: 48rem;
    //display: grid;
    //gap: 1.6rem;
    //
    //.tier-name {
    //    color: var(--color-medium-secondary);
    //    text-align: center;
    //    font-family: $headFont;
    //    font-size: 3.6rem;
    //    font-weight: 700;
    //}

    .current-tier {
        background: var(--color-accent-medium);
        color: var(--color-dark-primary);
        padding: 1.0rem 1.6rem 0.8rem;
        font-family: $headFont;
        font-weight: 700;
        text-align: center;
        border-radius: 1.6rem;
    }
}

.tier-item {
    border-radius: 0.8rem;
    border: 0.2rem solid var(--color-dark-primary);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.25);
    max-width: 36rem;

    .tier-body {
        display: grid;
        text-align: left;
        color: var(--color-dark-primary);
        //padding: 0.6rem 1.2rem;
        //background: gray;

        & > * {
            //padding: 1.2rem 0.6rem;
            //border-block-end: 0.2rem dotted var(--color-pastel-dark);
            padding: 1.2rem;
            //background: red;
        }

        & > *:not(:first-child) {
            border-block-start: 0.1rem solid var(--color-pastel-dark);
        }

        & > *:last-child {
            border-block-end: none;
        }
    }

    .tiers-pricing {
        padding: 1.6rem;
        background: var(--color-medium-secondary);
        color: white;
        font-family: $headFont;
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        text-transform: none;
    }
}

/*
Search Tools
 */

.letters-array {
    justify-items: center;
    padding: 3.2rem;
    background: var(--color-pastel-light);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.6rem;
    direction: rtl;

    button {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $monoFont;
        font-size: 2.4rem;
        font-weight: 700;
        user-select: none;
        color: var(--color-accent-medium);
        background: white;

        &:hover {
            color: var(--color-dark-primary)
        }

        &.active {
            color: white;
            background: var(--color-dark-primary);
        }
    }
}

.search-filters-container {
    display: grid;
    gap: 1.2rem;
    background: white;
    padding: 1.2rem;
    border-radius: 0.8rem;
    width: 100%;
    max-width: 96rem;

    .search-bar {
        display: flex;
        align-items: center;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        gap: 0.8rem;

        & > * {
            height: 4.8rem;
        }

        .pin-button-wrapper {
            font-size: 1em;
            width: 4.8rem;
            border-radius: 0.8rem;
            justify-content: center;
            user-select: none;
            cursor: pointer;
            color: white;
            background: var(--color-dark-primary);

            button {
                font-size: 1.5em;
                color: white;
                width: 100%;
                height: 100%;
            }

            &.pinned {
                background: var(--color-accent-medium);

                button {
                    color: var(--color-dark-primary);
                }
            }
        }

        input {
            flex-grow: 1;
            font-family: $monoFont;
            font-weight: 700;
            text-align: center;
            color: var(--color-dark-primary);
            background: var(--color-pastel-light);

            min-height: 4.8rem;
            padding: 0.8rem 1.6rem;
            font-size: 1.6rem;
            outline: 0;

            &:focus {
                outline: none;
                background: var(--color-accent-light);
            }

            &.persisting {
                background: var(--color-accent-light);
            }
        }
    }

    .search-filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.8rem;

        select {
            flex-grow: 1;

            &.persisting {
                background: var(--color-accent-light);
            }
        }
    }

    & + .app-tip {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    button {
        text-transform: uppercase;
        border-radius: 0.6rem;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $monoFont;
        color: var(--color-dark-secondary);
        background: var(--color-accent-medium);
        padding: 0.4rem 1.6rem;
        transform: translate(0, 0);
        transition: 0.05s;

        &:hover {
            transform: translate(0.2rem, -0.2rem);
            box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.33);
        }
    }
}

.search-results {
    padding: 0.4rem;
    background: white;
    border-radius: 1.2rem;
    border: 0.2rem solid var(--color-accent-medium);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.25);
    min-width: 100%;
    text-wrap: avoid;
    white-space: nowrap;

    .search-result {
        display: flex;
        flex-flow: row-reverse wrap;
        direction: ltr;
        justify-content: space-between;
        align-items: center;
        gap: 0 0.8rem;
        padding: 0.6rem 1.2rem;
        border-radius: 0.6rem;
        color: var(--color-medium-primary);
        line-height: 1.5;

        & > div:nth-child(1) {
            font-size: 2.0rem;
            font-weight: 700;
            font-family: $ar_bodyFont;
        }

        & > div:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $monoFont;
        }

        &:hover {
            color: var(--color-medium-secondary);
            background: var(--color-accent-light);
        }
    }
}

ul.search-results {
    list-style: none;
    column-gap: 1.6rem;
    padding: 1.6rem;
    direction: rtl;

    // Mobile
    column-count: 1;

    // Tablet
    @media (min-width: 720px) {
        column-count: 2;
    }

    // Desktop
    @media (min-width: 960px) {
        column-count: 3;
    }

    li {
        padding: 0;
        break-inside: avoid-column;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}

.filter-info {
    text-align: justify;
    background-color: rgba($grn, 0.1);
    border-radius: 1.6rem;
    padding: 0.8rem 1.6rem;

    p {
        font-weight: 400;
        font-size: 1.6rem;
        font-family: $bodyFont;
    }

    h1 {
        text-transform: capitalize;
        font-family: $bodyFont;
        display: inline-block;
        margin: 1.6rem 0 0.8rem;
        font-size: 2.4rem;
        border-bottom: 0.3rem solid $grn;
    }
}

.search-select {
    position: relative;
}

.search-select-bar {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;

        &.persisting {
            font-weight: 700;
            background: var(--color-pastel-medium);
        }
    }

    .search-select-clear {
        position: absolute;
        right: 0.8rem;
        cursor: pointer;
        font-size: 1.8rem;
        color: var(--color-medium-primary);
    }
}

.search-select-dropdown {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-pastel-light);
    border: 0.1rem solid var(--color-pastel-dark);
    max-height: 16rem;
    overflow-y: auto;
    margin: 0.6rem 0.4rem 0;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    font-family: $monoFont;

    .search-select-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .search-select-item {
        padding: 0.8rem 1.2rem;

        &:not(.status) {
            cursor: pointer;

            &:hover {
                background: var(--color-pastel-medium);
            }
        }
    }
}


.form-body {
    display: grid;
    gap: 3.2rem;
    padding: 3.2rem 3.2rem 4.8rem;
    font-family: $headFont;
    color: var(--color-dark-primary);

    p {
        background: var(--color-accent-light);
        border-radius: 0.8rem;
        padding: 1.6rem 2.0rem;
        font-family: $bodyFont;
        text-transform: none;
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0;
    }

    button:not(.app-button) {
        justify-self: start;
        font-family: $monoFont;
        font-weight: 700;
        color: var(--color-medium-primary);
        font-size: 1.4rem;

        &:hover {
            text-decoration: 0.2rem solid underline;
        }
    }

    .form-errors {
        @include box-accent-light;
        font-size: 1.4rem;
        padding: 1.6rem;

        ul {
            font-size: 1.2rem;
        }
    }

    .field-item {
        width: 100%;
        gap: 0.8rem;

        label {
            font-size: 2.0rem;
            color: var(--color-medium-secondary);
        }

        label:has(input) {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.6rem;
            font-family: $monoFont;
            color: var(--color-dark-primary);
        }

        input, textarea, select {
            font-size: 1.4rem;
        }

        input {
            border-radius: 3.2rem;
            padding: 0.8rem 1.6rem;
        }

        select {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            min-width: 16rem;
        }
    }

    .field-input:has(input) {
        margin-inline: -0.8rem;
    }

    & > .user-item {
        margin: 0;
    }
}

.field-block-wrapper {
    display: grid;
    gap: 0.8rem;
}

.field-block {
    display: grid;
    gap: 0.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    border-radius: 0.8rem;
    box-shadow: -0.2rem 0.2rem 0 var(--color-dark-primary);
    overflow: hidden;
    background: white;

    .field-block-head {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: space-between;
        font-family: $headFont;
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: lowercase;
        padding: 1.0rem 1.6rem 0.8rem;
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
    }

    .field-block-body {
        display: grid;
        gap: 1.2rem;
        padding: 1.2rem;
    }

    .field-block {
        box-shadow: none;
        border: 0.1rem solid var(--color-pastel-dark);

        .field-block-head {
            background: var(--color-pastel-light);
            font-size: 1.8rem;
        }
    }
}

.field-block > .field-block-head:has(.field-item-add) {
    cursor: pointer;

    .field-item-add {
        font-weight: 700;
        cursor: pointer;
        user-select: none;
    }

    &:hover {
        background: var(--color-pastel-medium);
    }
}

.field-set {
    position: relative;
    display: grid;
    gap: 1.2rem;
    padding: 1.2rem;
    border: 0.1rem solid var(--color-pastel-medium);
    border-radius: 0.8rem;

    img {
        top: -0.8rem;
        right: 1.6rem;
        position: absolute;
        cursor: pointer;
        width: 2.0rem;
        z-index: 1;
    }
}

.field-item {
    position: relative;
    display: grid;
    gap: 0.4rem;

    label {
        font-family: $headFont;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-dark-primary);
    }
}

.toggle-double-wrapper {
    display: grid;
    gap: 0.4rem;
    justify-items: center;
    background: var(--color-pastel-light);
    padding: 0.8rem 1.6rem 1.2rem;
    border-radius: 0.8rem;

    .toggle-double-label {
        color: var(--color-dark-primary);
        font-family: $monoFont;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .toggle-button-wrapper > div {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: var(--color-pastel-dark);

        &.active {
            color: var(--color-medium-primary);
        }
    }

    button.toggle-button {
        background: var(--color-medium-primary) !important;

        .toggle-button-slider {
            //background: var(--color-accent-medium);
        }
    }
}

.toggle-button-wrapper {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--color-dark-primary);
    font-family: $monoFont;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: capitalize;
}

button.toggle-button {
    height: 3.2rem;
    width: 5.6rem;
    border-radius: 1.6rem;
    padding: 0.4rem;
    background: var(--color-pastel-medium);
    cursor: pointer;
    transition: 0.1s background ease;

    &:focus {
        outline: 0.2rem solid var(--color-dark-primary);
    }

    .toggle-button-slider {
        height: 100%;
        width: 50%;
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $displayFont;
        font-size: 2.4rem;
        text-transform: uppercase;
        user-select: none;
        background: white;
        transition: 0.2s transform ease;
        transform: translateX(0%);
    }

    &.active {
        background: var(--color-accent-medium);

        .toggle-button-slider {
            transform: translateX(100%);
        }
    }
}

.field-error {
    color: var(--color-accent-dark);
    font-size: 1.2rem;
    font-family: $monoFont;
}

.field-input {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    input {
        flex-grow: 1;
    }

    .field-chars {
        color: var(--color-medium-secondary);
        font-size: 1.2rem;
        padding-inline: 0.8rem;

        &.invalid {
            color: var(--color-accent-dark);
        }
    }
}

.model-list.draggable {
    padding-inline: 1.6rem;
}

.draggable {
    display: grid;
    gap: 1.6rem;
}
