@import 'variables';
@import 'layout';
@import 'nav';
@import 'apps';
@import 'academy';
@import 'decks';
@import 'terms';
@import 'sentences';
@import 'users';
@import 'record';
@import 'audios';
@import 'utilities';

.term-container, .deck-container,
.sentence-container, .dialog-container,
.user-container {
    display: grid;
    gap: 2.4rem;
    width: 100%;
    max-width: 96rem;
    padding: 2.4rem 3.2rem;
    background: white;
    border-radius: 1.6rem;
    border: 0.2rem solid var(--color-dark-primary);
    position: relative;

    .action-buttons {
        position: absolute;
        top: -1.6rem;
        right: 1.6rem;
    }

    .user-item {
        margin-inline-start: calc(-1.2rem - 3.2rem);
    }

    @media (min-width: 960px) {
        box-shadow: -0.3rem 0.3rem 0 0 var(--color-dark-primary);

        .user-item {
            margin-inline-start: calc(-3.2rem - 3.2rem);
        }
    }
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    a {
        display: flex;
        align-items: center;
    }

    img {
        width: 3.6rem;
    }
}

.deck-container-head, .dialog-container-head {
    display: grid;
    grid-template-columns: auto 2.4rem;
    gap: 1.6rem;
    padding-block-end: 0.8rem;
    border-block-end: 0.2rem dotted var(--color-medium-secondary);

    .deck-container-head-title,
    .dialog-container-head-title {
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.8rem;
        text-transform: none;
    }

    input.deck-container-head-title,
    input.dialog-container-head-title {
        width: 100%;
        padding: 0.8rem 1.2rem 0.4rem;
    }
}

.decks-list, .dialogs-list, .sentences-list, .terms-list, .audios-list {
    display: grid;
    gap: 1.6rem;
    width: 100%;
    max-width: 96rem;
    justify-self: center;
}

.deck-item-wrapper, .dialog-item-wrapper,
.sentence-item-wrapper {
    display: grid;
    grid-template-columns: 2.4rem auto;
    gap: 0.4rem 0.8rem;
    direction: rtl;
    align-items: center;
}

.deck-item, .dialog-item {
    flex-grow: 1;
    color: var(--color-dark-primary);
    background: white;
    border: 0.2rem solid var(--color-dark-primary);
    box-shadow: -0.3rem 0.3rem 0 0 rgba(black, 0.2);
    font-family: $headFont;
    position: relative;

    .item-data {
        display: grid;
        padding-block: 0.4rem;

        .item-title {
            font-weight: 700;
        }
    }
}

.group-horizontal, div.array {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    margin: 3.2rem 0;
    gap: 1.6rem;

    & > div.array {
        margin: 0
    }

    .sentence {
        margin-block: 0;
    }
}

.group-vertical {
    display: grid;
    margin-block: 3.2rem;
    gap: 1.6rem;

    .sentence {
        margin-block: 0;
    }
}

.info-button-wrapper {
    display: inline-flex;
    gap: 0.2rem;
    align-items: center;
    justify-self: start;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    padding: 0.2rem;
    background: var(--color-dark-primary);
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
    transform: translate(0.2rem, -0.2rem);
    transition: 0.05s;
    user-select: none;

    .info-button-label,
    .info-button-content {
        border-radius: 0.6rem;
        padding-block: 0.4rem;
        font-weight: 700;
        font-family: $monoFont;
        line-height: 1.5;
        color: var(--color-dark-primary);
    }

    .info-button-label {
        color: white;
        padding-inline: 0.8rem;
    }

    .info-button-content {
        display: flex;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        background: white;
        padding-inline: 1.2rem;
    }

    .info-button-content-arb {
        font-size: 1.4rem;
    }

    .info-button-content-eng {
        font-weight: 400;
    }

    &:hover {
        transform: none;
        box-shadow: none;
    }
}

.inline-chart {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 1.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.4rem;
    //color: black;
    //text-transform: uppercase;
    font-family: $monoFont, $ar_bodyFont;

    &:first-child {
        margin-top: 0
    }

    &:last-child {
        margin-bottom: 0
    }

    .row-title {
        min-width: 12rem;
        text-align: start;
        padding-inline-start: 1.6rem;
        text-transform: uppercase;
    }
}

.chart-item {
    line-height: 2;
    display: inline-flex;
    justify-content: flex-start;
    padding: 0.2rem;
    margin: 0.4rem;
    border-radius: 1.2rem;
    user-select: none;
    color: $grn;
    background-color: rgba($grn, 0.2);
    font-weight: 700;
    font-size: 1.4rem;
    font-family: $monoFont, $ar_bodyFont;

    > * {
        border-radius: 0.8rem;
        padding: 0 0.8rem;
        margin: 0.2rem;
        align-self: center;
    }
}

a.chart-item:hover {
    box-shadow: inset 0 0 0 0.2rem $grn
}

.chart-title {
    color: white;
    background-color: $grn;
    text-transform: uppercase;
    text-align: center;
    flex-shrink: 0;
}

.chart-title.transparent {
    background: none !important;
    color: inherit !important;
}

.inline-chart.title {
    padding: 0;
    background: none;

    .chart-item {
        margin: 0;
        padding: 0.4rem;
        border-radius: 3.2rem;
    }

    .chart-item > * {
        margin: 0;
    }

    .chart-title {
        font-family: $bodyFont;
        font-weight: 700;
        font-size: 2.8rem;
        border-radius: 2.8rem;
        padding: 0.8rem 3.2rem;
        line-height: 1.5;
    }

    .chart-subtitle {
        font-size: 2.0rem;
        padding: 0 2.4rem;
    }
}

@each $name, $color in $charts {
    .chart-item.#{$name} {
        color: $color;
        background-color: rgba($color, 0.2);

        > .chart-title {
            background-color: $color
        }
    }
    a.chart-item.#{$name}:hover {
        box-shadow: inset 0 0 0 0.2rem $color
    }
}

figure.data-box {
    max-width: 100%;
    margin: 0;
    border: none;
}

// Subscriptions

.tiers-array {
    width: 100%;
    max-width: 96rem;
    display: grid;
    align-items: start;
    gap: 1.6rem;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 960px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.tier-item-wrapper {
    display: grid;
    gap: 1.6rem;

    .tier-name {
        color: var(--color-medium-secondary);
        text-align: center;
        font-family: $headFont;
        font-size: 3.6rem;
        font-weight: 700;
    }

    .current-tier {
        background: var(--color-accent-medium);
        color: var(--color-dark-primary);
        padding: 1.0rem 1.6rem 0.8rem;
        font-family: $headFont;
        font-weight: 700;
        text-align: center;
        border-radius: 1.6rem;
    }
}

.tier-item {
    overflow: hidden;
    background: white;
    border-radius: 1.6rem;
    border: 0.2rem solid var(--color-dark-primary);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.25);

    &:hover {
        border: 0.2rem solid var(--color-accent-medium);
    }

    .tier-body {
        display: grid;
        text-align: left;
        padding: 0.6rem 1.2rem;
        color: var(--color-dark-primary);

        & > * {
            padding: 1.2rem 0.6rem;
            border-block-end: 0.2rem dotted var(--color-pastel-dark);
        }

        & > *:last-child {
            border-block-end: none;
        }

        & > *.disabled {
            color: var(--color-pastel-dark);
        }
    }

    .tiers-pricing {
        padding: 1.6rem;
        background: var(--color-medium-secondary);
        color: white;
        font-family: $headFont;
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        text-transform: none;
    }
}

/*
Search Tools
 */

.search-filters-wrapper {
    display: grid;
    gap: 3.2rem;
    justify-items: center;
    padding: 3.2rem;
    border-radius: 1.6rem;
    width: 100%;
    max-width: 96rem;
    background: var(--color-pastel-light);
    border: 0.1rem solid var(--color-medium-primary);

    .letters-array {
        width: 100%;
        max-width: 80rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.8rem;
        direction: rtl;

        button {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $monoFont;
            font-size: 2.4rem;
            font-weight: 700;
            user-select: none;
            color: var(--color-accent-medium);
            background: white;

            &:hover {
                color: var(--color-medium-primary)
            }

            &.active {
                color: white;
                background: var(--color-medium-primary);
            }
        }
    }
}

.search-filters-container {
    display: grid;
    gap: 1.2rem;
    background: white;
    padding: 1.2rem;
    border-radius: 0.8rem;
    width: 100%;
    max-width: 96rem;

    input {
        flex-grow: 1;
        height: 4.8rem;
        font-family: $monoFont;
        font-weight: 700;
        text-align: center;
        color: var(--color-dark-primary);
        background: white;

        min-height: 4.8rem;
        padding: 0.8rem 1.6rem;
        font-size: 1.6rem;
        border: 0.1rem solid var(--color-dark-primary);
        outline: 0;
        border-radius: 0.6rem;

        &:focus {
            outline: none;
            border: 0.2rem solid var(--color-accent-medium);
        }
    }

    select {
        flex-grow: 1;

        &.persisting {
            background: var(--color-accent-light);
        }
    }

    .search-filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.8rem;
    }
}


//.search-filters {
//    display: flex;
//    gap: 0.8rem;
//
//    & > * {
//        flex-grow: 1;
//    }
//
//    .filter-container {
//        display: grid;
//        grid-template-columns: 1fr;
//        background: white;
//        border-radius: 0.8rem;
//        padding: 0.4rem;
//        gap: 0.4rem;
//        text-align: center;
//        font-family: $monoFont;
//        font-weight: 700;
//
//        .filter-name {
//            color: $purple-deep;
//            padding: 0.4rem 0;
//            text-transform: uppercase;
//        }
//
//        select {
//            font-weight: 700;
//            font-size: 1.4rem;
//            border-radius: 0.6rem;
//        }
//    }
//}

.search-buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    button {
        text-transform: uppercase;
        border-radius: 0.6rem;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $monoFont;
        color: var(--color-dark-secondary);
        background: var(--color-accent-medium);
        padding: 0.4rem 1.6rem;
        transform: translate(0, 0);
        transition: 0.05s;

        &:hover {
            transform: translate(0.2rem, -0.2rem);
            box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.33);
        }
    }
}

.search-results {
    padding: 0.4rem;
    background: white;
    border-radius: 1.2rem;
    border: 0.2rem solid var(--color-accent-medium);
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.2);
    min-width: 100%;
    text-wrap: avoid;
    white-space: nowrap;

    .search-result {
        display: flex;
        flex-flow: row-reverse wrap;
        direction: ltr;
        justify-content: space-between;
        align-items: center;
        gap: 0 0.8rem;
        padding: 0.6rem 1.2rem;
        border-radius: 0.6rem;
        color: var(--color-medium-primary);
        line-height: 1.5;

        & > div:nth-child(1) {
            font-size: 2.0rem;
            font-weight: 700;
            font-family: $ar_bodyFont;
        }

        & > div:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $monoFont;
        }

        &:hover {
            color: var(--color-medium-secondary);
            background: var(--color-accent-light);
        }
    }
}

ul.search-results {
    list-style: none;
    column-gap: 1.6rem;
    padding: 1.6rem;
    direction: rtl;

    // Mobile
    column-count: 1;

    // Tablet
    @media (min-width: 720px) {
        column-count: 2;
    }

    // Desktop
    @media (min-width: 960px) {
        column-count: 3;
    }

    li {
        padding: 0;
        break-inside: avoid-column;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}

.filter-info {
    text-align: justify;
    background-color: rgba($grn, 0.1);
    border-radius: 1.6rem;
    padding: 0.8rem 1.6rem;

    p {
        font-weight: 400;
        font-size: 1.6rem;
        font-family: $bodyFont;
    }

    h1 {
        text-transform: capitalize;
        font-family: $bodyFont;
        display: inline-block;
        margin: 1.6rem 0 0.8rem;
        font-size: 2.4rem;
        border-bottom: 0.3rem solid $grn;
    }
}

.form-container {
    gap: 3.2rem;
    max-width: 64rem;
    font-family: $headFont;

    //&:has(.sp-head) {
    //    margin-block-start: 2.4rem;
    //
    //    .sp-head {
    //        display: grid;
    //        align-content: center;
    //        text-transform: capitalize;
    //        font-family: $headFont;
    //        font-size: 3.2rem;
    //        font-weight: 700;
    //        padding-block-end: 0.8rem;
    //
    //        &:has(p) {
    //            border-block-end: 0.2rem solid var(--color-pastel-dark);
    //
    //            div {
    //                margin-block-end: 0.8rem;
    //            }
    //        }
    //
    //        div {
    //            margin: 0 auto;
    //            margin-block-start: -6.0rem;
    //            border-radius: 3.2rem;
    //            padding: 0.8rem 3.2rem 0.4rem;
    //            background: var(--color-dark-primary);
    //            color: white;
    //        }
    //    }
    //}
    //.sp-link {
    //    justify-self: start;
    //    color: var(--color-medium-primary);
    //    font-family: $headFont;
    //    font-size: 1.4rem;
    //    font-weight: 400;
    //
    //    &:hover {
    //        text-decoration: underline;
    //    }
    //}

    p {
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
        border-radius: 0.8rem;
        padding: 1.6rem 2.0rem;
        font-family: $bodyFont;
        text-transform: none;
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0;
    }

    button:not(.app-button) {
        justify-self: start;
        font-family: $monoFont;
        font-weight: 700;
        color: var(--color-medium-primary);

        &:hover {
            text-decoration: 0.2rem solid underline;
        }
    }

    .form-errors {
        @include box-accent-light;
        font-size: 1.4rem;
        padding: 1.6rem;

        ul {
            font-size: 1.2rem;
        }
    }

    .field-item {
        width: 100%;
        gap: 0.8rem;

        label {
            font-size: 2.0rem;
            color: var(--color-medium-secondary);
        }

        input, textarea, select {
            font-size: 1.4rem;
        }

        input {
            border-radius: 3.2rem;
            padding: 0.8rem 1.6rem;
        }

        select {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            min-width: 16rem;
        }
    }

    .field-input:has(input) {
        margin-inline: -0.8rem;
    }
}

.field-block-wrapper {
    display: grid;
    gap: 0.8rem;
}

.field-block {
    display: grid;
    gap: 0.6rem;
    border: 0.1rem solid var(--color-dark-primary);
    border-radius: 0.8rem;
    box-shadow: -0.2rem 0.2rem 0 var(--color-dark-primary);
    overflow: hidden;
    background: white;

    .field-block-head {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: space-between;
        font-family: $headFont;
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: lowercase;
        padding: 1.0rem 1.6rem 0.8rem;
        color: var(--color-dark-primary);
        background: var(--color-accent-light);
    }

    .field-block-body {
        display: grid;
        gap: 1.2rem;
        padding: 1.2rem;
    }

    .field-block {
        box-shadow: none;
        border: 0.1rem solid var(--color-pastel-dark);

        .field-block-head {
            background: var(--color-pastel-light);
            font-size: 1.8rem;
        }
    }
}

.field-item-add {
    font-weight: 700;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: var(--color-accent-medium);
    }
}

.field-set {
    position: relative;
    display: grid;
    gap: 1.2rem;
    padding: 1.2rem;
    border: 0.1rem solid var(--color-pastel-medium);
    border-radius: 0.8rem;

    img {
        top: -0.8rem;
        right: 1.6rem;
        position: absolute;
        cursor: pointer;
        width: 2.0rem;
        z-index: 1;
    }
}

.field-item {
    position: relative;
    display: grid;
    gap: 0.4rem;

    label {
        font-family: $headFont;
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-dark-primary);
    }
}

.field-error {
    color: var(--color-accent-dark);
    font-size: 1.2rem;
    font-family: $monoFont;
}

.field-input {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    input {
        flex-grow: 1;
    }

    .field-chars {
        color: var(--color-medium-secondary);
        font-size: 1.2rem;
        padding-inline: 0.8rem;

        &.invalid {
            color: var(--color-accent-dark);
        }
    }
}

.draggable {
    display: grid;
    gap: 1.6rem;
}
