@import 'variables';
@import 'layout';
@import 'academy';
@import 'decks';
@import 'terms';
@import 'users';
@import 'record';
@import 'audios';
@import 'utilities';

.group-horizontal, div.array {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    margin: 3.2rem 0;
    gap: 1.6rem;

    & > div.array {
        margin: 0
    }

    .sentence {
        margin-block: 0;
    }
}

.group-vertical {
    display: grid;
    margin-block: 3.2rem;
    gap: 1.6rem;

    .sentence {
        margin-block: 0;
    }
}

.info-button-wrapper {
    display: inline-flex;
    gap: 0.2rem;
    align-items: center;
    justify-self: start;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    padding: 0.2rem;
    background: $purple-deep;
    box-shadow: -0.2rem 0.2rem 0 rgba(black, 0.25);
    transform: translate(0.2rem, -0.2rem);
    transition: 0.05s;
    user-select: none;

    .info-button-label,
    .info-button-content {
        border-radius: 0.6rem;
        padding-block: 0.4rem;
        font-weight: 700;
        font-family: $monoFont;
        line-height: 1.5;
        color: $purple-deep;
    }

    .info-button-label {
        color: white;
        padding-inline: 0.8rem;
    }

    .info-button-content {
        display: flex;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        background: white;
        padding-inline: 1.2rem;
    }

    .info-button-content-arb {
        font-size: 1.4rem;
    }

    .info-button-content-eng {
        font-weight: 400;
    }

    &:hover {
        transform: none;
        box-shadow: none;
    }
}

.inline-chart {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 1.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.4rem;
    //color: black;
    //text-transform: uppercase;
    font-family: $monoFont, $ar_bodyFont;

    &:first-child {
        margin-top: 0
    }

    &:last-child {
        margin-bottom: 0
    }

    .row-title {
        min-width: 12rem;
        text-align: start;
        padding-inline-start: 1.6rem;
        text-transform: uppercase;
    }
}

.chart-item {
    line-height: 2;
    display: inline-flex;
    justify-content: flex-start;
    padding: 0.2rem;
    margin: 0.4rem;
    border-radius: 1.2rem;
    user-select: none;
    color: $grn;
    background-color: rgba($grn, 0.2);
    font-weight: 700;
    font-size: 1.4rem;
    font-family: $monoFont, $ar_bodyFont;

    > * {
        border-radius: 0.8rem;
        padding: 0 0.8rem;
        margin: 0.2rem;
        align-self: center;
    }
}

a.chart-item:hover {
    box-shadow: inset 0 0 0 0.2rem $grn
}

.chart-title {
    color: white;
    background-color: $grn;
    text-transform: uppercase;
    text-align: center;
    flex-shrink: 0;
}

.chart-title.transparent {
    background: none !important;
    color: inherit !important;
}

.inline-chart.title {
    padding: 0;
    background: none;

    .chart-item {
        margin: 0;
        padding: 0.4rem;
        border-radius: 3.2rem;
    }

    .chart-item > * {
        margin: 0;
    }

    .chart-title {
        font-family: $bodyFont;
        font-weight: 700;
        font-size: 2.8rem;
        border-radius: 2.8rem;
        padding: 0.8rem 3.2rem;
        line-height: 1.5;
    }

    .chart-subtitle {
        font-size: 2.0rem;
        padding: 0 2.4rem;
    }
}

@each $name, $color in $charts {
    .chart-item.#{$name} {
        color: $color;
        background-color: rgba($color, 0.2);

        > .chart-title {
            background-color: $color
        }
    }
    a.chart-item.#{$name}:hover {
        box-shadow: inset 0 0 0 0.2rem $color
    }
}

figure.data-box {
    max-width: 100%;
    margin: 0;
    border: none;
}

// Subscriptions

.tiers-container {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.tier-item-wrapper {
    display: grid;
    grid-template: 1fr / 1fr;
    border-radius: 1.6rem;
    border: 0.3rem solid $purple-primary-dark;
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.25);
    overflow: hidden;
}

.tier-item-unlocked {
    grid-area: 1 / 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $displayFont;
    font-size: 3.2rem;
    color: $purple-primary;
    background: rgba($purple-pastel-light, 0.9);
    text-transform: uppercase;

    & > div {
        transform: rotate(-15deg);
    }
}

.tier-item {
    grid-area: 1 / 1;
    background: white;

    .tier-head {
        background: $purple-primary-dark;
        text-transform: capitalize;
        color: white;
        padding: 1.2rem 0 0.8rem;
        text-align: center;
        font-family: $headFont;
        font-weight: 700;
        font-size: 2.0rem
    }

    .tier-body {
        display: grid;
        text-align: center;
        padding: 0.4rem 0.8rem;
        color: $purple-deep;

        & > * {
            padding: 0.8rem;
            border-block-end: 0.2rem dotted $purple-pastel-dark;
        }

        & > *.disabled {
            color: $purple-pastel-dark;
        }
    }

    .tiers-pricing, .tiers-action {
        display: block;
        background: $purple-primary-dark;
        color: white;
        font-family: $headFont;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 1.2rem 0.8rem 0.8rem;
    }

    .tiers-pricing {
        background: none;
        color: $purple-primary-dark;
        font-size: 2.4rem;
        text-transform: none;
        padding: 1.6rem;
    }

    @media (min-width: 960px) {
        .tier-body {
            text-align: left;
        }
    }
}

.tier-item.unlockable {

    .tier-head, .tiers-action {
        background: $purple-pastel-dark;
    }

    .tiers-pricing {
        color: $purple-pastel-dark;
    }

    &:hover {
        .tier-head, .tiers-action {
            background: $purple-primary;
        }

        .tiers-pricing {
            color: $purple-primary;
        }
    }
}

/*
Search Tools
 */

#dictionary_search {
    margin-block-end: 3.2rem;
}

.search-bar {
    position: relative;
    display: flex;

    input {
        flex-grow: 1;
        height: 4.8rem;
        padding: 0 2.4rem;
        font-family: $monoFont;
        font-size: 2.0rem;
        font-weight: 700;
        text-align: center;
        color: $purple-deep;
        background: white;
        border-radius: 3.2rem;
        border: 0.2rem solid $purple-deep;
        box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.2);

        &:focus {
            outline: none;
            border: 0.2rem solid $accent-yellow;
        }
    }

    .search-results {
        display: grid;
        gap: 0.4rem;
        z-index: 10;
    }

    button.search {
        position: absolute;
        right: -0.8rem;
        top: -2.4rem;
        width: 6.4rem;
        transition: 0.1s;
        transform: scale(1) rotate(10deg);

        &:hover {
            transform: scale(1.25) rotate(10deg);
        }
    }
}

.search-tools {
    justify-self: stretch;

    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    padding: 3.2rem;
    border-radius: 3.2rem;
    background: $purple-deep;

    @media (min-width: 960px) {
        box-shadow: -0.6rem 0.6rem 0 rgba(black, 0.25);
    }
}

.dictionary-filters {
    display: grid;
    gap: 0.8rem;

    // Mobile
    grid-template-columns: repeat(1, 1fr);

    // Tablet & Desktop
    @media (min-width: 960px) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.filter-container {
    display: grid;
    grid-template-columns: 1fr;
    background: white;
    border-radius: 0.8rem;
    padding: 0.4rem;
    gap: 0.4rem;
    text-align: center;
    font-family: $monoFont;
    font-weight: 700;

    .filter-name {
        color: $purple-deep;
        padding: 0.4rem 0;
        text-transform: uppercase;
    }

    select {
        font-weight: 700;
        font-size: 1.4rem;
        border-radius: 0.6rem;
    }
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    button {
        text-transform: uppercase;
        border-radius: 0.6rem;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $monoFont;
        color: $purple-deep-dark;
        background: $accent-yellow;
        padding: 0.4rem 1.6rem;
        transform: translate(0, 0);
        transition: 0.05s;

        &:hover {
            transform: translate(0.2rem, -0.2rem);
            box-shadow: -0.4rem 0.4rem 0 rgba(black, 0.33);
        }
    }
}

.search-results {
    padding: 0.4rem;
    background: white;
    border-radius: 1.2rem;
    border: 0.2rem solid $accent-yellow;
    box-shadow: -0.3rem 0.3rem 0 rgba(black, 0.2);
    min-width: 100%;
    text-wrap: avoid;
    white-space: nowrap;

    .search-result {
        display: flex;
        flex-flow: row-reverse wrap;
        direction: ltr;
        justify-content: space-between;
        align-items: center;
        gap: 0 0.8rem;
        padding: 0.6rem 1.2rem;
        border-radius: 0.6rem;
        color: $purple-primary;
        line-height: 1.5;

        & > div:nth-child(1) {
            font-size: 2.0rem;
            font-weight: 700;
            font-family: $ar_bodyFont;
        }

        & > div:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $monoFont;
        }

        &:hover {
            color: $purple-primary-dark;
            background: $accent-yellow-pastel;
        }
    }
}

ul.search-results {
    list-style: none;
    column-gap: 1.6rem;
    padding: 1.6rem;
    direction: rtl;

    // Mobile
    column-count: 1;

    // Tablet
    @media (min-width: 720px) {
        column-count: 2;
    }

    // Desktop
    @media (min-width: 960px) {
        column-count: 3;
    }

    li {
        padding: 0;
        break-inside: avoid-column;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }
}

.filter-info {
    text-align: justify;
    background-color: rgba($grn, 0.1);
    border-radius: 1.6rem;
    padding: 0.8rem 1.6rem;

    p {
        font-weight: 400;
        font-size: 1.6rem;
        font-family: $bodyFont;
    }

    h1 {
        text-transform: capitalize;
        font-family: $bodyFont;
        display: inline-block;
        margin: 1.6rem 0 0.8rem;
        font-size: 2.4rem;
        border-bottom: 0.3rem solid $grn;
    }
}

// Partials & Forms

.splash-panel {
    width: 100%;
    display: grid;
    gap: 3.2rem;
    font-family: $headFont;
    color: $purple-primary;
    background: white;
    justify-self: center;
    text-align: start;
    margin-block-end: 3.2rem;

    padding: 3.2rem;
    border: 0.4rem solid $purple-pastel-dark;
    border-radius: 3.2rem;

    &:has(.sp-head) {
        margin-block-start: 2.4rem;

        .sp-head {
            display: grid;
            align-content: center;
            text-transform: capitalize;
            font-family: $headFont;
            font-size: 3.2rem;
            font-weight: 700;
            padding-block-end: 0.8rem;

            &:has(p) {
                border-block-end: 0.2rem solid $purple-pastel-dark;

                div {
                    margin-block-end: 0.8rem;
                }
            }

            div {
                margin: 0 auto;
                margin-block-start: -6.0rem;
                border-radius: 3.2rem;
                padding: 0.8rem 3.2rem 0.4rem;
                background: $purple-deep;
                color: white;
            }

            p {
                font-family: $bodyFont;
                text-transform: none;
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
    }

    .sp-link {
        justify-self: start;
        color: $purple-primary;
        font-family: $headFont;
        font-size: 1.4rem;
        font-weight: 400;

        &:hover {
            text-decoration: 0.2rem underline;
        }
    }

    .sp-button {
        font-family: $displayFont;
        text-transform: uppercase;
        padding: 1.2rem 3.2rem 1.4rem;
        margin-block-start: 3.2rem;
        background: $purple-deep;
        color: white;
        border: none;
        border-radius: 3.2rem;
        font-size: 2.4rem;
        transition: 0.2s;
        justify-self: center;

        &:hover {
            transform: translate(0.4rem, -0.4rem);
            box-shadow: -0.4rem 0.4rem 0 0 $purple-pastel-dark;
        }
    }

    .form-errors {
        @include box-yellow-pastel;
        font-size: 1.4rem;
        padding: 1.6rem;

        ul {
            font-size: 1.2rem;
        }
    }

    @media (min-width: 720px) {
        width: 90%;
    }

    @media (min-width: 960px) {
        width: 66%;
    }

    form {
        display: grid;
        gap: 3.2rem;
    }

    form:has(button:not(.form-link)) {
        display: grid;
        align-items: center;
    }
}

.form-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    font-size: 1.4rem;

    label {
        flex-basis: 8rem;
        white-space: nowrap;
        margin-inline-end: 0.4rem;
    }

    input {
        flex-grow: 1;
    }

    select {
        flex-grow: 1;
    }

    img {
        width: 1.6rem !important;
    }
}

.auth-field {
    display: grid;
    justify-items: start;
    gap: 0.8rem;
    width: 100%;

    .field-input {
        justify-self: stretch;
        display: flex;
        align-items: center;
        background: $purple-pastel-light;
        border-radius: 3.2rem;
        padding: 0.4rem;

        &:has(input) {
            margin-inline: -0.8rem;
        }

        &:has(textarea) {
            border-radius: 0.4rem;
        }

        .field-chars {
            color: $purple-primary;
            font-size: 1.2rem;
            padding-inline: 0.8rem
        }
    }

    label {
        font-family: $headFont;
        color: $accent-yellow;
        font-size: 2.4rem;
        font-weight: 700;
    }

    input, textarea, select {
        font-size: 1.4rem;
    }

    input, textarea {
        background: none;
        flex-grow: 1;
        margin-inline: 0.2rem;
    }

    input {
        padding-inline: 0.8rem;
    }

    select {
        display: flex;
        align-items: center;
        padding: 0.8rem;
        min-width: 16rem;
    }

    .field-info {
        font-family: $bodyFont;
        color: $purple-primary;
        font-size: 1.4rem;

        &.error {
            color: red;
        }
    }

    .search-bar {
        width: 100%;

        input {
            height: auto;
            padding: 0.8rem 1.6rem;
            margin: 0;
            font-size: 1.6rem;
            border: none;
            box-shadow: none;
            background: $purple-pastel-light;

            &:focus {
                border: none;
                outline: 0.2rem solid $accent-yellow;
            }
        }

        button {
            display: none;
        }
    }
}

// TERM EDITOR

.term-editor-body, .term-editor-body > * {
    width: 100%;
    display: grid;
    gap: 3.2rem;
    align-content: start;
}

@media (min-width: 960px) {
    .term-editor-body {
        grid-template-columns: repeat(2, 1fr);

        & > *:nth-child(3) {
            grid-column: span 2;
        }
    }
}

.field-wrapper {
    display: grid;
    gap: 1.6rem;
    padding-block-end: 3.2rem;
    border-block-end: 0.2rem dotted $purple-primary;

    &.compound-field .with-add-object {
        margin-inline-start: 3.2rem;
        margin-block-start: 1.6rem;
        padding: 0;
        border: none;
    }

    &.with-add-field, &.compound-field {
        padding: 0;
        border: none;
    }

    &.with-add-object {
        gap: 3.2rem;
    }

    &.with-add-field .field-add {
        color: $purple-primary;
    }

    .field-label {
        color: $accent-yellow;
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: capitalize;

        display: flex;
        gap: 1.6rem;
        justify-content: space-between;
    }

    .field-add {
        justify-self: start;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $monoFont;
        cursor: pointer;
        color: $accent-yellow;
    }

    img {
        cursor: pointer;
        width: 2.0rem;
    }
}

.draggable {
    display: grid;
    gap: 1.6rem;
}
